@(title: String = "", description: String = "", keywords: String = "", robots: String = "index,follow", image: String = "", url: String = "", brand: String = "")

<link rel="canonical" href="http://@request.host@request.path"/>

<title>@Messages("title") @if(title != null && !title.isEmpty()) {- @title}</title>

@if(url != null && !url.isEmpty()) {
    <meta property="og:url" content="http://@request.host@url.trim()"/>
} else {
    <meta property="og:url" content="http://@request.host@request.path"/>
}
<meta property="og:site_name" content="The FoodTopic"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="@Messages("title") @if(title != null && !title.isEmpty()) {- @title}"/>
<meta property="fb:app_id" content="1652164044999746"/>
<meta property="article:publisher" content="https://www.facebook.com/TheFoodTopic"/>

@if(description != null && !description.isEmpty()) {
    <meta name="description" content="@description.trim()"/>
    <meta property="og:description" content="@description.trim()"/>
} else {
    <meta name="description" content="@Messages("seoDescription")"/>
    <meta property="og:description" content="@Messages("seoDescription")"/>
}

@if(keywords != null && !keywords.isEmpty()) {
	@if(!keywords.contains(title)) {
    	<meta name="keywords" content="@title,@controllers.utils.Utilities.returnLimitedKeywords(keywords.trim(), 5)"/>
    } else {
    	<meta name="keywords" content="@controllers.utils.Utilities.returnLimitedKeywords(keywords.trim(), 6)"/>
    }
} else {
    <meta name="keywords" content="@title.trim(),@Messages("seoKeywords")"/>
}

@if(robots != null && !robots.isEmpty()) {
	<meta name="robots" content="@robots.trim()"/>
}

@if(brand != null && !brand.isEmpty()) {
    <meta name="brand" content="@brand.trim()"/>
}

@if(image != null && !image.isEmpty()) {
    @if(image.contains("facebook") || image.contains("googleusercontent")) {
        <meta name="image" content="http:@image.trim()"/>
        <meta property="og:image" content="http:@image.trim()"/>
    } else {
        <meta name="image" content="http://@request.host@image.trim()"/>
        <meta property="og:image" content="http://@request.host@image.trim()"/>
    }
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
} else {
    <meta name="image" content="http://@request.host/images/logo-l.png"/>
    <meta property="og:image" content="http://@request.host/images/logo-l.png"/>
}