@(user: User, recipeBook: RecipeBook, editRecipeBookForm: Form[controllers.recipeBook.EditRecipeBook])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@styles = {
	<link rel="stylesheet" href="/stylesheets/recipebook.min.css">
}

@scripts = {
	<script src="/javascripts/recipebook.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("recipeBook.edit") - @recipeBook.bookName</h1>
        </div>

        <div class="rw-row bubble">
            @form(action = controllers.recipeBook.routes.EditRecipeBook.updateRecipeBook(recipeBook.recipeBookId)) {
                <fieldset>
                    <div class="col-xs-12 col-sm-5 alpha">
                        @select(
                            editRecipeBookForm("privacyCode"),
                            options = SubsetCode.allPrivacyOptions(),
                            '_label -> (Messages("privacy.code") + ":"),
                            'description -> Messages("recipe.privacy.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    @*
                    <div class="col-xs-12 col-sm-7 alpha">
                        @select(
                            editRecipeBookForm("monetizationCode"),
                            options = SubsetCode.recipeBookMonetizationOptions(),
                            '_label -> (Messages("monetization.code") + ":"),
                            '_help -> Messages("monetization.info.free"),
                            'class -> "fullwidth"
                        )

                        <b>@Messages("recipe.monetization.code"):</b>
                        <div class="btn-group" data-toggle="buttons">
                            @inputRadioGroup(
                                editRecipeBookForm("monetizationCode"),
                                options = SubsetCode.recipeBookMonetizationOptions(),
                                '_label -> (Messages("monetization.code") + ":"),
                                'description -> Messages("monetization.info.free")
                            )
                        </div>
                        <div class="monetization-info">
                            <p class="monetization-info-free">Messages("recipe.monetization.info.free")</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 omega">
                        @inputText(
                            editRecipeBookForm("price"),
                            '_label -> (Messages("recipe.price") + ":"),
                            'addOnInFront -> "$",
                            'min -> "0",
                            'size -> "5",
                            'step -> "0.01",
                            'type -> "number",
                            'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"
                        )
                    </div>
                    *@

                    <div class="col-xs-12 col-sm-7 alpha">
                        @inputText(
                            editRecipeBookForm("recipeBookName"),
                            '_label -> (Messages("recipeBook.name") + ":"),
                            'description -> Messages("Max character 25"),
                            'class -> "fullwidth",
                            'maxlength -> 25
                        )
                    </div>
                    @*
                    <div class="col-xs-12 col-sm-6 alpha">
                        @inputText(
                            editRecipeBookForm("tags"),
                            '_label -> (Messages("tags.code") + ":"),
                            'class -> "fullwidth"
                            '_help -> Messages("tags.help")
                        )
                    </div>
                    *@

                    <div class="col-xs-12 col-sm-12 both">
                        <input type="submit" class="button blue left" value="@Messages("update")"/>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}