@(user: User, title:String, recipeBookList: java.util.List[RecipeBook])

@styles = {
	<link rel="stylesheet" href="/stylesheets/recipebook.css">
}

@scripts = {
    <script src="/javascripts/recipebook.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@title</h1>
        </div>
        <div class="rw-row clearfix">
            @for(index <- 0 until recipeBookList.size) {
                @views.html.recipeBook.recipeBookThumbnail(recipeBookList.get(index))
            }
        </div>
	</div>
}