<div id="leftCol" class="col-lg-1">
		<!--<ul id="sidebar" class="nav nav-pills nav-stacked">
            <li><a href="@controllers.recipeBook.routes.ViewRecipeBook.initListPopularRecipeBookForm">Popular Recipe Books <span class="badge">8</span></a></li>
            <li><a href="@controllers.recipeBook.routes.ViewRecipeBook.initListOwnRecipeBookForm">My Recipe Books</a></li>
       </ul>-->
</div>

