@(recipeBook: RecipeBook)

@import java.util.ArrayList; var bookRecipes = controllers.recipeBook.ViewRecipeBook.getActiveRecipesInBook(recipeBook);

<div class="recipeBook bubble shadow clearfix">
    <div class="col-xs-12 col-sm-4 omega margin-top-15 clearfix">
        <div class="author-image">
            <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(recipeBook.user.profileImagePath)" alt="@recipeBook.user.firstName @recipeBook.user.lastName"/>
        </div>
        <div class="book-details margin-top-10 clearfix">
            <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipeBook.user.userId)" class="author-name block">@recipeBook.user.firstName @recipeBook.user.lastName</a>
            <a href="@controllers.recipeBook.routes.ViewRecipeBook.initViewRecipeBookForm(recipeBook.recipeBookId)" class="title block">@recipeBook.bookName</a>
            <span class="mark gray nr-of-items">@bookRecipes.size() @controllers.utils.Utilities.checkEnglishPlural(bookRecipes.size(), Messages("recipe"))</span>
            @*
            <div class="book-controls">
                <i class="fa fa-thumbs-o-up "></i> <span class="control-tip"> </span>
                <i class="fa fa-comments"></i> <span class="control-tip"> </span>
                <i class="fa fa-bar-chart"></i> <span class="control-tip"> views</span>
            </div>
            *@
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 bookRecipes both">
        @for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(bookRecipes.size(), 5)) {
        	@if(bookRecipes.get(index).recipe.recipeImageList != null ) {
	            <div class="recipe-photo">
	                @if(bookRecipes.get(index).recipe.recipeImageList.size == 0) {
	                    <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(bookRecipes.get(index).recipe.recipeId)"
                        title="@bookRecipes.get(index).recipe.recipeName by @bookRecipes.get(index).recipe.user.lastName @bookRecipes.get(index).recipe.user.firstName" class="no-image"></a>
	                } else {
	                    <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(bookRecipes.get(index).recipe.recipeId)"
                        title="@bookRecipes.get(index).recipe.recipeName by @bookRecipes.get(index).recipe.user.lastName @bookRecipes.get(index).recipe.user.firstName"
                        style="background: url(@bookRecipes.get(index).recipe.getCoverPhoto()) no-repeat center center;"></a>
	                }
	            </div>
            }
        }
        @if(bookRecipes.size() > 5) {
            <div class="recipe-photo">
                <a href="@controllers.recipeBook.routes.ViewRecipeBook.initViewRecipeBookForm(recipeBook.recipeBookId)" title="@(bookRecipes.size() - 5) @Messages("more")" class="more-image"></a>
            </div>
        } else {
            @if(bookRecipes.size() == 0) {
                <div class="recipe-photo">
                    <a href="@controllers.recipe.routes.ViewRecipe.initListPopularRecipeForm()" title="@Messages("start.adding.recipes.to.book")" class="more-image"></a>
                </div>
            }
        }
    </div>
</div>
