@(user: User, recipeBook: RecipeBook, bookRecipeList: java.util.List[BookRecipe])

@styles = {
	<link rel="stylesheet" href="/stylesheets/recipebook.css">
}

@scripts = {
    <script src="/javascripts/viewrecipebook.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>Recipes in @recipeBook.bookName</h1>
        </div>

        <div class="rw-row bubble clearfix">
            <div class="clearfix">
                @if(recipeBook.user.userId == user.userId) {
                    <a href="@controllers.recipeBook.routes.EditRecipeBook.initEditRecipeBookForm(recipeBook.recipeBookId)" class="button blue right">
                        <i class="fa fa-plus"></i> <span class="text">Edit</span>
                    </a>
                    <a id="deleteRecipeBook" data-toggle="modal" data-target="#deleteRecipeBookModal" class="button blue right">
                        <i class="fa fa-minus"></i> <span class="text">Delete</span>
                    </a>
                }
            </div>

            <div class="rw-row recipe-list">
                @for(index <- 0 until bookRecipeList.size) {
                    @views.html.recipe.recipeThumbnail2(bookRecipeList.get(index), bookRecipeList.get(index).recipe, bookRecipeList.get(index).recipe.getCoverPhoto(), user)
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteRecipeBookModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="deleteRecipeBookModalLabel">Delete Recipe Book?</h4>
				</div>
				<div class="modal-body">
                    <label class="control-label">@Messages("recipeBook.delete.confirm")</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="deleteRecipeBookBtn" class="btn btn-primary" data-book="@recipeBook.recipeBookId">Delete</button>
				</div>
			</div>
		</div>
    </div>
}
