@(user: User)(content: Html)

@main(user) {
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="">@Messages("email")</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
        @content
        </div>
    </div>
}