@(user: User, key: String, messageHeader: String, messageContent: String)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
    </button>
    <h4 class="modal-title">@messageHeader</h4>
</div>
<div class="modal-body">
    <div class="alert alert-@key">
        @messageContent
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
</div>