@(user: User, messageHeader: String, messageContent: String)

@main(user) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@messageHeader</h1>
        </div>

        <div class="rw-row bubble">
            <p class="padding-left-10 padding-right-10">Sorry,
            @if(messageContent.isEmpty()) {
                we are unable to find what you were looking for.
            } else {
                @messageContent
            }
            Here are some other options for you:
            </p>
            <ul>
                @if(user != null) {
                    <li><a href="@controllers.account.routes.ViewProfile.viewOwnProfile()">@Messages("profile")</a></li>
                    <li><a href="@controllers.recipe.routes.ViewRecipe.initListOwnRecipeForm()">@Messages("recipe.my")</a></li>
                    <li><a href="@controllers.recipeBook.routes.ViewRecipeBook.initListOwnRecipeBookForm()">@Messages("recipeBook.my")</a></li>
                }
                <li><a href="@controllers.recipe.routes.ViewRecipe.initListLatestRecipeForm()">@Messages("recipe.latest") @Messages("recipe")</a></li>
                <li><a href="@controllers.recipe.routes.ViewRecipe.initListPopularRecipeForm()">@Messages("recipe.popular") @Messages("recipe")</a></li>
            </ul>
        </div>
    </div>
}