@(loginedUser: User, user: User, follower: Follower, followInd: Boolean)

<div class="col-xs-12 col-sm-6 follow-profile">
    <div class="bubble shadow">
        <div id="profileFollowAction-@user.userId" class="followBtnContainer clearfix">
            @if(Follower.checkFollowingActiveRelationExists(loginedUser.userId, user.userId) == null) {
                <a href="#" class="followBtn follow-user small button blue right" data-profile="@user.userId">
                    <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
                </a>
            } else {
                <a href="#" class="unfollowBtn follow-user small button green right" data-profile="@user.userId">
                    <i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
                </a>
            }
        </div>

        <a href="@controllers.account.routes.ViewProfile.viewProfileById(user.userId)" class="medium-profile-picture-container pull-left"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(user.profileImagePath)" alt="@user.firstName @user.lastName"/></a>
        <div class="follow-info">
            <div class="profile-name"><a href="@controllers.account.routes.ViewProfile.viewProfileById(user.userId)">@user.firstName @user.lastName</a></div>
            @if(follower != null) {
                <div class="recipe-count"><a href="@controllers.recipe.routes.ViewRecipe.initListOthersRecipeForm(user.userId)" class="block">@user.recipeList.size() <span class="title">@controllers.utils.Utilities.checkEnglishPlural(user.recipeList.size(), Messages("recipe"))</span></a></div>
                <div class="reputation-point">@user.reputationPoints <span class="title">@Messages("profile.reputation")</span></div>
                @if(followInd) {
                    <div class="follow-date">@Messages("following.you.since") @follower.updatedDate.format("dd MMM yyyy")</div>
                }
            }
        </div>
    </div>
</div>
