@(user: User, title: String, followerList: java.util.List[Follower], followInd: Boolean)

@styles = {
	<link rel="stylesheet" href="/stylesheets/profile.css">
}

@scripts = {
    <script src="/javascripts/followers.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@title</h1>
        </div>

        <div class="rw-row clearfix">
            @if(followInd) {
                @for(index <- 0 until followerList.size) {
                    @views.html.follower.followerThumbnail(user, followerList(index).follower, followerList(index), followInd)
                }
            } else {
                @for(index <- 0 until followerList.size) {
                    @views.html.follower.followerThumbnail(user, followerList(index).following, followerList(index), followInd)
                }
            }
        </div>
    </div>
}
