@(user: User, title:String, notificationList: java.util.List[Notification])

@styles = {
	<link rel="stylesheet" href="/stylesheets/notification.min.css">
}

@scripts = {
    <script src="/javascripts/notification.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@title</h1>
        </div>

        <div id="notificationContainer" class="rw-row">
            @views.html.notification.listNotificationRow(notificationList, false)
        </div>

        @if(controllers.notification.ViewNotification.findNumberOfNotifications() > controllers.utils.Constants.MAX_NOTIFICATION_FETCH_LIMIT) {
            <div class="text-center margin-top-10">
                <div id="loadMoreNotification" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
            </div>
        }
	</div>
}