@(notifier: User, notificationType: String, description: String, url: String, createdDate: java.util.Date)

@import org.apache.commons.lang.StringUtils;
@*
@import models.RecipeReview; var review = RecipeReview.findActiveReviewByUserAndRecipe(notifier.userId, 0);
*@

@if(StringUtils.isNotEmpty(url)) {
	<a href="@url" class="display-block">
}

<div class="notification @notificationType.toLowerCase() bubble">
	<div class="the-sign pull-left">
		<i class="the-icon fa fa-@notificationType.toLowerCase()"></i>
	</div>
	<div class="medium-profile-picture-container pull-left">
		<img src="@views.html.account.profile.profileImageDisplay(notifier.profileImagePath)" class="profile-picture max-width-image" alt="@notifier.firstName @notifier.lastName">
	</div>
	<div class="message">
		<a href="@controllers.account.routes.ViewProfile.viewProfileById(notifier.userId)" class="username">@notifier.firstName @notifier.lastName</a> @Html(description)
	</div>
	@*
	@if(notificationType.equalsIgnoreCase(SubsetCode.getSubsetCodeById(controllers.utils.Constants.NOTIFICATION_TYPE_REVIEW).subsetCodeValue)) {
		@if(review != null && review.recipeReviewComment != null) {
			<div class="comment">@review.recipeReviewComment.commentDescription</div>
		}
	}
	*@
	<div class="date">@createdDate.format("dd-MMMM-yyyy hh:mm:ss")</div>
</div>

@if(StringUtils.isNotEmpty(url)) {
	</a>
}