@(recipe: Recipe)

@import java.lang.Integer; var numberOfFav=0;
@import java.lang.Integer; var numberOfLikes=0;

<div class="col-xs-12 col-sm-12 both">
	<div class="dashboard-entry bubble margin-bottom-15">
		<div class="dashboard-entry-profile">
			<a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)" class="small-profile-picture-container pull-left"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(recipe.user.profileImagePath)" alt="@recipe.user.firstName @recipe.user.lastName"/></a>
			<div class="dashboard-entry-details">
				<a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">@recipe.user.firstName @recipe.user.lastName</a> just published a new recipe <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)">@recipe.recipeName</a>
			</div>
			<div class="dashboard-entry-date">@controllers.utils.Utilities.getTimeInterval(new Date(), recipe.createdDate)</div>
		</div>
		<div class="dashboard-entry-photo">
			@if(recipe.recipeImageList.size == 0) {
				<a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)" class="" alt="@recipe.recipeName" style="background: url('images/recipe-noimage.png') no-repeat center center;"></a>
			} else {
				<a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)" class="" alt="@recipe.recipeName" style="background: url(@recipe.recipeImageList(recipe.recipeImageList.size()-1).imagePath) no-repeat center center;"></a>
			}
		</div>

		<div id="decc-@recipe.recipeId" class="clearfix">
			@{numberOfLikes = controllers.Like.getRecipeLikes(recipe.recipeId)}
			<div class="dashboard-entry-controls">
				@if(controllers.Application.getSessionUser() != null) {
					<a href="#" data-recipe="@recipe.recipeId" title="@Messages("likes")" class="likeRecipe"><span><i class="fa fa-thumbs-o-up margin-right-05 @if(controllers.Like.getUserLikedRecipe(recipe.recipeId)) {active}"></i>@Messages("like")</span></a>

					@if(numberOfLikes > 0) { <span class="control-tip">@controllers.utils.Utilities.checkEnglishPlural(numberOfLikes, Messages("dashboard.like.this", controllers.utils.Utilities.withSuffix(numberOfLikes)))</span> }
				}
			</div>
			@{numberOfFav = controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(recipe.recipeId)}
			<div class="dashboard-entry-controls">
				@if(controllers.Application.getSessionUser() != null) {
					<a href="/favourite/recipe/@recipe.recipeId" data-toggle="modal" data-target="#modal" title="@Messages("recipe.bookit")"><span><i class="fa margin-right-05 @if(controllers.bookRecipe.EditBookRecipe.getUserActiveFavouritedRecipe(recipe.recipeId)) {active fa-heart} else {fa-heart-o}"></i>@Messages("recipe.bookit")</span></a>

					@if(numberOfFav > 0) {<span class="control-tip">@Messages("dashboard.book.this", controllers.utils.Utilities.withSuffix(numberOfFav))</span> }
				}
			</div>
		</div>
	</div>
</div>
                
