@(featuredRecipe: Recipe)

@import java.lang.Integer; var recipeFavs=controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(featuredRecipe.recipeId);
@import java.lang.Integer; var recipeLikes=controllers.Like.getRecipeLikes(featuredRecipe.recipeId);
@import java.lang.Integer; var recipeReviews=controllers.recipeReview.ViewRecipeReview.getActiveReviewList(featuredRecipe.recipeId).size();
@import java.lang.Integer; var recipeCount=controllers.recipe.ViewRecipe.getUserNonDeletedNonHiddenRecipeCount(featuredRecipe.user);

<div class="entry-photo">
	<div class="badge-banner">Recipe of the day</div>
	<a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(featuredRecipe.recipeId)" class="" alt="@featuredRecipe.recipeName" style="background: url(@featuredRecipe.getCoverPhoto()) no-repeat center center;"></a>
</div>
<div class="col-xs-12 col-sm-12 margin-bottom-10">
	<div class="col-sm-pull-5">
		<h3><a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(featuredRecipe.recipeId)">@featuredRecipe.recipeName</a></h3>
		<p>@featuredRecipe.recipeDescription</p>
	</div>
	<div class="col-sm-pull-7">
		<div class="entry-info-author">
			<a href="@controllers.account.routes.ViewProfile.viewProfileById(featuredRecipe.user.userId)" class="small-profile-picture-container pull-left"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(featuredRecipe.user.profileImagePath)" alt="@featuredRecipe.user.firstName @featuredRecipe.user.lastName"/></a>
			<div class="submited-by">@Messages("author"):</div>
			<div class="author-name"><a href="@controllers.account.routes.ViewProfile.viewProfileById(featuredRecipe.user.userId)">@featuredRecipe.user.firstName @featuredRecipe.user.lastName</a></div>
			<div class="total-recipes"><a href="@controllers.recipe.routes.ViewRecipe.initListOthersRecipeForm(featuredRecipe.user.userId)">@recipeCount @controllers.utils.Utilities.checkEnglishPlural(recipeCount, Messages("recipe"))</a></div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 both">
	<div class="entry-meta clearfix">
		<div class="meta likes">
			<span>@recipeLikes <i class="the-icon fa fa-thumbs-o-up"></i></span>
		</div>
		<div class="meta favourites">
			<span>@recipeFavs <i class="the-icon fa fa-heart-o"></i></span>
		</div>
		<div class="meta comments">
			<span>@recipeReviews <i class="the-icon fa fa-comments"></i></span>
		</div>
	</div>
</div>