@(loginedUser: User, featuredUser: User)

@import java.lang.Integer; var recipeCount=controllers.recipe.ViewRecipe.getUserNonDeletedNonHiddenRecipeCount(featuredUser);

<div class="entry-info-author">
	<div id="profileFollowAction-@featuredUser.userId">
		@if(loginedUser != featuredUser) {
	        @if(Follower.checkFollowingActiveRelationExists(loginedUser.userId, featuredUser.userId) == null) {
	            <a href="#" class="followBtn follow-user small button blue right" data-profile="@featuredUser.userId">
	                <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
				</a>
	        } else {
	            <a href="#" class="unfollowBtn follow-user small button green right" data-profile="@featuredUser.userId">
                	<i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
				</a>
            }
        }
    </div>

	<a href="@controllers.account.routes.ViewProfile.viewProfileById(featuredUser.userId)" class="small-profile-picture-container pull-left"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(featuredUser.profileImagePath)" alt="@featuredUser.firstName @featuredUser.lastName"/></a>
	<div class="profile-name"><a href="@controllers.account.routes.ViewProfile.viewProfileById(featuredUser.userId)">@featuredUser.firstName @featuredUser.lastName</a></div>
	<div class="recipe-count"><a href="@controllers.recipe.routes.ViewRecipe.initListOthersRecipeForm(featuredUser.userId)">@recipeCount @controllers.utils.Utilities.checkEnglishPlural(recipeCount, Messages("recipe"))</a></div>
	<div class="reputation-point">@featuredUser.reputationPoints @Messages("profile.reputation")</div>
</div>