@(user: User, recipeList: java.util.List[Recipe], featuredRecipe: Recipe, featuredUserList: java.util.List[User], limit: Integer)

@styles = {
    <link rel="stylesheet" href="/stylesheets/library/chosen.min.css">
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
}

@scripts = {
    <script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/dashboard.min.js" type="text/javascript"></script>
	<script src="/javascripts/followers.min.js" type="text/javascript"></script>
}

@main(user, styles, scripts) {
	<div class="col-xs-12 col-sm-8 w-title">
		<h2>@Messages("dashboard.updates")</h2>

		<div id="dashboardRow" class="rw-row clearfix">
			@views.html.dashboard.listDashboardRow(recipeList, limit)
		</div>

		@if(recipeList.size >= limit) {
			<div class="col-xs-12 col-sm-12 text-center margin-top-10">
				<div id="loadMoreDashboard" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
			</div>
		}
	</div>

	<div class="col-xs-12 col-sm-4 w-title">
		<h2>@Messages("recipe.featured") @Messages("recipe")</h2>
		@if(featuredRecipe != null) {
			<div id="featured-recipe" class="rw-row bubble">
				@views.html.dashboard.featuredRecipeThumbnail(featuredRecipe)
			</div>
		}
		<h2 class="margin-top-25">@Messages("recipe.featured") @Messages("profiles")</h2>
		<div id="featured-user" class="rw-row bubble">
			@for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(featuredUserList.size, controllers.utils.Constants.MAX_DASHBOARD_LIMIT)) {
				@views.html.dashboard.featuredUserThumbnail(user, featuredUserList.get(index))
			}
		</div>
	</div>
}
