@(elements: helper.FieldElements)

@*
 * Generate input according twitter bootstrap 3 rules.
 *@
<div class="form-input-group text-left">
    @if(!elements.args.get('noLabel) || elements.args.get('noLabel).getOrElse("").equals("false") || elements.hasErrors) {
        <div class="form-label inline-block">
            @if(!elements.args.get('noLabel) || elements.args.get('noLabel).getOrElse("").equals("false")) {
                <label for="@elements.id">@elements.label @if(elements.args.get('additionalLabelText)) {@elements.args.get('additionalLabelText).getOrElse("")}</label>
            }
            @if(elements.args.get('noElement) || elements.args.get('noElement).getOrElse("").equals("true")) {
                <label id="@elements.id" name="@elements.id">@elements.field.value.getOrElse("")</label>
            }
            @if(elements.args.get('tooltip)) {
                <i class="fa fa-question" data-toggle="tooltip" title="@elements.args.get('tooltip)" data-placement="right"></i>
            }
            @if(elements.hasErrors) {
                <label class="error-message">@elements.errors.mkString(", ")</label>
            }
        </div>
    }

    @if(elements.args.get('description)) {
        <div class="form-description">@elements.args.get('description)
            @if(elements.args.get('descriptionTooltip)) {
                <i class="fa fa-question" data-toggle="tooltip" title="@elements.args.get('descriptionTooltip)" data-placement="right"></i>
            }
        </div>
    }

    @if(elements.args.get('bootstrap_helper)) {
        @elements.args.get('bootstrap_helper).map{ case (value) =>
            @if(value.equals("countryCode")) {
                <div id="@value" name="@value" class="fullwidth bfh-selectbox bfh-countries text-left" data-country=@elements.field.value.getOrElse("SG") data-flags="true" data-filter="true"></div>
            }
            @if(value.equals("currency")) {
                <div id="@value" name="@value" class="fullwidth bfh-selectbox bfh-currencies" data-currency=@elements.field.value.getOrElse("SGD") data-flags="true" data-filter="true"></div>
            }
        }
    } else {
        @if(!elements.args.get('noElement) || elements.args.get('noElement).getOrElse("").equals("false")) {
            @elements.input
        }
    }

    @if(elements.args.get('maxChar)) {
        <br/>
        <label class="max-character">@elements.args.get('maxChar)</label>
    }
    @if(elements.args.get('descriptionCounter).getOrElse("").equals("true")) {
        <span class="descriptionCounter"></span>
    }
</div>