@(searchForm: Form[controllers.search.Search], size: String)

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@form(action = controllers.search.routes.Search.search(), 'role -> "search") {
    <div class="@if(size=="L"){input-group-lg }input-group search-group">
        <input type="text" class="form-control" name="searchInput" placeholder="Search Recipes">
        <span class="input-group-btn">
            <button class="btn btn-default search-btn" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
            <small><a href="@controllers.search.routes.AdvanceSearch.initAdvanceSearchForm()">Advance Search</a></small>
        </span>
    </div>
}
