@(user: User, title: String, lowNav: Boolean)

@styles = {
	<link rel="stylesheet" href="/stylesheets/aboutus.css">
	<link rel="stylesheet" href="/stylesheets/blockquote.css">
}

@main(user, styles, null, lowNav) {
    @if(lowNav == true) {
        <div class="container margin-top-15 clearfix">
    }
        <div class="col-xs-12 col-sm-12 clearfix">
            <div class="rw-row w-title">
                <h1>@Messages("aboutUs.team")</h1>
            </div>

            <div class="rw-row bubble aboutUs">
                <p class="text-justify"><blockquote><small>@Messages("aboutUs.message1")</p>@Messages("aboutUs.message2")</small></blockquote></p>
<!--
                <div class="col-xs-12 col-sm-6">
                    <div class="bio">
                        <img src="@Messages("aboutUs.bio1.photo")" class="max-width-image" alt="@Messages("aboutUs.bio1.name") @Messages("aboutUs.bio.title")">
                        <div class="pad">
                            <h3>@Messages("aboutUs.bio1.name")</h3>
                            <p>@Messages("aboutUs.bio1.desc")</p>
                            <a href="@Messages("email.link")@Messages("aboutUs.bio1.email")" class="button"><i class="fi-mail"></i> @Messages("contactUs")</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="bio">
                        <img src="@Messages("aboutUs.bio2.photo")" class="max-width-image" alt="@Messages("aboutUs.bio2.name") @Messages("aboutUs.bio.title")">
                        <div class="pad">
                            <h3>@Messages("aboutUs.bio2.name")</h3>
                            <p>@Messages("aboutUs.bio2.desc")</p>
                            <a href="@Messages("email.link")@Messages("aboutUs.bio2.email")" class="button"><i class="fi-mail"></i> @Messages("contactUs")</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    @if(lowNav == true) {
        </div>
    }
}
