@(user: User, title: String, lowNav: Boolean, submissionForm: Form[controllers.footer.CreateSubmission])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@main(user, null, null, lowNav) {
    @if(lowNav) {
        <div class="container margin-top-15 clearfix">
    }
        <div class="col-xs-12 col-sm-12 clearfix">
            <div class="rw-row w-title">
                <h1>@title</h1>
            </div>

            <div class="rw-row bubble">
                <h3 class="text-center">@Messages("advertising.message")</h3>

                @form(action = controllers.footer.routes.CreateSubmission.advertisingSubmission()) {
                    <fieldset>
                        <div class="col-xs-12 col-sm-7 alpha">
                            @inputText(
                                submissionForm("firstName"),
                                '_label -> (Messages("profile.firstName") + ":"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-7 alpha">
                            @inputText(
                                submissionForm("lastName"),
                                '_label -> (Messages("profile.lastName") + ":"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-7 alpha">
                            @inputText(
                                submissionForm("email"),
                                '_label -> (Messages("email") + ":"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-7 alpha">
                            @textarea(
                                submissionForm("comments"),
                                '_label -> (Messages("comment") + ":"),
                                'style -> "resize: none;",
                                'rows -> 6,
                                'class -> "fullwidth this-section-title-field",
                                'maxlength -> 250
                            )
                        </div>

                        <p class="clearfix"></p>

                        <div class="g-recaptcha" data-sitekey="6LdTWBwTAAAAACxzZlhKteN_h7BFHxOIZNKXe88v"></div>

                        <hr />
                        <div class="clear"></div>

                        <div class="col-xs-12 col-sm-12 both">
                            <input type="submit" class="button blue left" value="@Messages("submit")"/>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    @if(lowNav) {
        </div>
    }
}
