@(user: User, title: String, lowNav: Boolean)

@main(user, null, null, lowNav) {
    @if(lowNav == true) {
        <div class="container margin-top-15 clearfix">
    }
        <div class="col-xs-12 col-sm-12 clearfix">
            <div class="rw-row w-title">
                <h1>@title</h1>
            </div>

            <div class="rw-row bubble faq">
                <h3 class="text-center">@Messages("faq.account")</h3>
                @Messages("faq.account.qn1")
                @Messages("faq.account.ans1")
                @Messages("faq.account.qn2")
                @Messages("faq.account.ans2")

                <h3 class="text-center">@Messages("faq.profile")</h3>
                @Messages("faq.profile.qn1")
                @Messages("faq.profile.ans1")


                <h3 class="text-center">@Messages("faq.recipe")</h3>
                @Messages("faq.recipe.qn1")
                @Messages("faq.recipe.ans1")
                @Messages("faq.recipe.qn2")
                @Messages("faq.recipe.ans2")
                @Messages("faq.recipe.qn3")
                @Messages("faq.recipe.ans3")

            </div>
        </div>
    @if(lowNav == true) {
        </div>
    }
}
