@(user: User, title: String, lowNav: Boolean)

@main(user, null, null, lowNav) {
    @if(lowNav == true) {
        <div class="container margin-top-15 clearfix">
    }
        <div class="col-xs-12 col-sm-12 clearfix">
            <div class="rw-row w-title">
                <h1>@title</h1>
            </div>

            <div class="rw-row bubble privacyPolicy">
                This Privacy Policy governs the manner in which FoodTopic collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="http://www.thefoodtopic.com">TheFoodTopic.com</a> (the “Web site”).<p/>
                <p/><p/>

                <b>Personal identification information</b>
                <br/>
                We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site.
                Users may be asked for, as appropriate, name, email address.
                Users may, however, visit our Site anonymously.
                We will collect personal identification information from Users only if they voluntarily submit such information to us.
                Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
                <p/><p/>

                <b>Third Party Service Accounts</b>
                <br/>
                You may choose to access FoodTopic by using third party services such as Facebook or Google+.
                To access these services you may provide us with with your account information related to that third party service.
                <p/><p/>

                <b>Web browser cookies</b>
                <br/>
                Our Site may use "cookies" to enhance User experience.
                User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them.
                User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent.
                By doing so, note that certain functions of FoodTopic may not function properly.
                <p/><p/>

                <b>How we use collected information</b>
                <br/>
                FoodTopic may collect and use Users personal information to run and operate our Site.
                <br/>We may need your information display content on the Site correctly in order to improve customer service.
                <br/>To better personalize your user experience, information you provide will help us respond to your customer service requests and support needs more efficiently.
                <br/>We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
                <br/>We may use feedback you provide to improve our products and services.
                <br/>We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.
                <p/><p/>

                <b>How we protect your information</b>
                <br/>
                We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
                <p/><p/>

                <b>Sharing your personal information</b>
                <br/>
                We do not sell, trade, or rent Users personal identification information to others.
                We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
                We may share personal identification information only in response to a subpoena, court order or other governmental request, or when FoodTopic believes that sharing of such information is necessary in order to protect it's property or rights, third parties or the public at large.
                <p/><p/>

                <b>Advertising</b>
                <br/>
                Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies.
                These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer.
                This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.
                This privacy policy does not cover the use of cookies by any advertisers.
                <p/><p/>

                <b>Business Transfers</b>
                <br/>
                If FoodTopic and all of its assets, were acquired, or in the unlikely event that FoodTopic goes out of business or enters bankruptcy, user information would be one of the assets that will be transferred or acquired by a third party.
                You acknowledge that such transfers may occur, and that any acquirer of FoodTopic may continue to use your personal information as set forth in this policy.
                <p/><p/>

                <b>Changes to this privacy policy</b>
                <br/>
                FoodTopic has the discretion to update this privacy policy from time to time, and in FoodTopic's sole discretion.
                We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.
                You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
                <p/><p/>

                <b>Your acceptance of these terms</b>
                <br/>
                By using this Site, you signify your acceptance of this policy.
                If you do not agree to this policy, please do not use our Site.
                Your continued use of FoodTopic's services after any change in this Privacy Policy will constitute to your acceptance of those changes.
                <p/><p/>

                <b>Contacting us</b>
                <br/>
                If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.
                <p/><p/>

                This policy was last updated on October 18, 2015
            </div>
        </div>
    @if(lowNav == true) {
        </div>
    }
}
