@(user: User, title: String, lowNav: Boolean)

@main(user, null, null, lowNav) {
    @if(lowNav == true) {
		<div class="container margin-top-15 clearfix">
    }
		<div class="col-xs-12 col-sm-12 clearfix">
			<div class="rw-row w-title">
				<h1>@title</h1>
			</div>

			<div class="rw-row bubble termsOfService">
				Welcome to <a href="http://www.thefoodtopic.com">TheFoodTopic.com</a> (the "Web site"). Please spend some time to read this Terms of Service ("Notice") carefully before accessing or using our service. By accessing or using any of our services, you agree to be bound by this notice. If you do not agree to any of the terms stated in this agreement, please do not access any of our services.
				<p/><p/>

				<b>1. Account</b>
				<br/>Once you have created a FoodTopic account, you are responsible in maintaining your account's security, any activities that occur under the account as well as any actions that are taken in connection to the account. Should you discover any unauthorised use to your account or security breaches, please notify us immediately at <a href="@Messages("email.link")@Messages("support.email")">@Messages("support.email")</a>. FoodTopic will not be liable for any acts by You, including damages of any kind that are incurred as a result of such acts.
				<p/><p/>

				<b>2. Contributors Responsibility</b>
				<br/>You are fully responsible for any content that you have contributed and shared on FoodTopic. By making the Content available, you represent and warrant that:
				<br/>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;

				<br/>if you are submitting content on behalf of your employer, you employer has rights to intellectual property you create, you have either
				<br/><span class="indentText">(i) received permission from your employer to post or make available the Content, or </span>
				<br/><span class="indentText">(ii) secured from your employer a waiver as to all rights in or to the Content;</span>

				<br/>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through any end user required terms;
				<br/>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;

				<br/>the Content is not spam, is not machine/randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);

				<br/>the Content is not pornographic, does not contain threats, incite violence or racial disharmony, and does not violate the privacy or publicity rights of any third party;

				<br/>you are not using your account to impersonate another person or company such as displaying any form of information that does not represent yourself or company other than your own;

				<br/>By submitting, disclosing, or offering any recipe, review, photograph, image, video, "favorites" list, "book" list, comments, feedback, suggestions, ideas, notes, drawings, concepts, and other information, content or material, or other item (each, a "Submitted Item") to FoodTopic, either online or offline and whether or not for inclusion on your FoodTopic account, you grant FoodTopic and it's users a irrevocable, nonexclusive, perpetual, world-wide, royalty-free, transferable, assignable, sub-licensable and worldwide license, to use, display, reproduce, modify, publish, distribute, transmit, make derivative works of, along with your name, details in connection to FoodTopic with the purpose of displaying, distributing and promoting your account. FoodTopic may commercially and non-commercially exploit your Submitted Items and all copyright, trade secret, trademark, or other intellectual property rights therein, in any manner or medium now existing or hereafter developed (including but not limited to print, film, or electronic storage devices), and the exclusive right to use, display, publicly perform, modify, reproduce, publish, distribute, make derivative works of, sublicense, and otherwise exploit all such materials on commercial websites, without compensation of any kind to you or any third party.

				<br/>Recipes or other Submitted Item saved by a member of FoodTopic will be public and viewable by all members of FoodTopic. Private, Deleted including Hidden recipes which may include weblinks, references and custom recipes entered by member of FoodTopic will remain private, unless marked "Public" by the member.

				<br/>Should you delete the Submitted Item, FoodTopic will attempt to remove it from your account, but you acknowledge that references to the Submitted Item or certain forms of the Submitted Item being reproduced by other users of FoodTopic may not be made fully unavailable.

				<br/>Without limiting any of those representations or warranties, FoodTopic has the right to, in our sole discretion (i) refuse or remove any Submitted Item that, in FoodTopic's reasonable opinion, violates any of our policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in FoodTopic's sole discretion. FoodTopic also do not have any obligation to provide any form of refund of any amounts previously paid.
				<p/><p/>

				<b>3. Our (FoodTopic's) Responsibility</b>
				<br/>FoodTopic will not be able to review all of the material made available and therefore cannot be responsible for that material's content, use or effects. FoodTopic disclaims any responsibility should any material that may have infringes any intellectual property and other proprietary rights, violated any privacy or publicity rights, of third parties which include downloading, copying or use of any material shared on FoodTopic.
				<p/><p/>

				<b>4. Your (User's) Responsibility</b>
				<br/>
				You are responsible in protecting yourself and your computer against any Trojan, viruses, worms or any harmful, offensive, indecent content. Should you find any content that require concern or content that require our technical attention, do contact us. FoodTopic will not be responsible for any harm resulting from the use by visitors or users of FoodTopic. At any time, you may change, edit, correct or delete any and all information included in your personal profile. For the cancellation and removal of your account, you may contact us directly at: <a href="@Messages("email.link")@Messages("support.email")">@Messages("support.email")</a>. We will attempt to comply with any request at the best of our capabilities, but content reproduced by other users of FoodTopic may not be made fully unavailable.
				<p/><p/>

				<b>5. Intellectual Property &amp; Copyright Infringement</b>
				<br/>
				FoodTopic and the Intellectual Property rights pertaining thereto (other than User Generated Content), including, but not limited to, inventions, patents and patent applications, logos, copyrightable materials, text, graphics, images, interactive features, designs (including the "look and feel" of FoodTopic), trademarks, trade names, specifications, algorithms, procedures, technical data, data, source and object code, methods, files, interface, GUI and trade secrets, whether or not registered (collectively, "Intellectual Property"), are owned and/or licensed to the Founders of FoodTopic and subject to copyright and other applicable intellectual property rights under applicable laws and international conventions. Unless expressly permitted in the Terms, you may not copy, distribute, display, execute publicly, make available to the public, reduce to human readable form, decompile, disassemble, adapt, sublicense, make any commercial use, sell, rent, lend, process, compile, reverse engineer, combine with other software, translate, modify or create derivative works of any material that is subject to FoodTopic's proprietary rights, including the Service's Intellectual Property, either by yourself or by anyone on your behalf, in any way or by any means.
				<br/>
				You are prohibited from removing or deleting any and all copyright notices, restrictions and signs indicating proprietary rights of FoodTopic, including copyright mark [©] or trademark [® or ™] contained in or accompanying the content included in the Service, and you represent and warrant that you will abide by all applicable laws in this respect. You are further prohibited from using, diluting or staining any name, mark or logo that is identical, or confusingly similar to any of FoodTopic's marks and logos, whether registered or not.
				<p/><p/>

				<b>6. FoodTopic's "Cook For Me" Feature</b>
				<br/>
				"Booking Date" means the date that you (Diner) wishes to engage the Recipe's Owner (Host)'s in providing the meal. There will be a 1 day system cut off date to disallow diner or the host from changing the confirmed order.
				"Cooking Cost" means the fee that the Recipe's Owner (Host) charges when the Diner send a booking request to the Host.
				"Delivery Fee" means the fee that the Recipe's Owner (Host) charges when the Diner request for the meal to be delivered to the diner's location.
				"Total Cost" means collectively the Cooking Cost and the Delivery Fee (if any).
				<br/>
				FoodTopic is not charging any percentage of the Cooking Cost &amp; Delivery Fee from the Host.
				If you are the Recipe's Owner(Host) and a order booking is requested for your Meal via the Site, Application or Services, you will be required to either confirm or reject the order booking request within the Booking Request Period, otherwise the booking request will automatically expire.
				When a booking is requested via the Site, Application or Services, FoodTopic will share with you the first and last name of the Diner who has requested the booking with a link to the Diner's FoodTopic Account profile page which comes with an indication of whether or not the Guest has provided other information to FoodTopic, such as a verified email address or connection to SNSs. When you confirm a booking requested by a Diner, FoodTopic will send you an email along with a notification message via the Website confirming such booking.
				<br/>
				FoodTopic does not act as an payment collection agent between Recipe's Owner(Host) and the Diner. Each Host agrees that payment made by a Diner will not go through FoodTopic. FoodTopic assumes no liability for any acts or omissions of the Host or Diner should either party failed to uphold their promise.
				Please note that FoodTopic does not currently charge fees for this "Cook For Me" Listing Feature. However, you as a Recipe Owner(Host) acknowledge and agree that FoodTopic reserves the right, in its sole discretion, to charge you for and collect fees from you for the creation of such Cook For Me Listing. Please note that FoodTopic will provide notice of any Listing fee collection via the Site, Application and Services, prior to implementing such a Listing fee feature.
				<br/>
				The Recipe Owner (Hosts), not FoodTopic, are solely responsible for honoring any confirmed bookings and making available any Bookings reserved through the Site, Application and Services. If you, as a Diner, choose to enter into a transaction with a Host for the booking of the meal, you agree and understand that you will be required to enter into an agreement with the Host and you agree to accept any terms, conditions, rules and restrictions associated with such Booking imposed by the Host.
				You acknowledge and agree that you, and not FoodTopic, will be responsible for performing the obligations of any such agreements, that FoodTopic is not a party to such agreements, FoodTopic disclaims all liability arising from or related to any such agreements. You acknowledge and agree that, notwithstanding the fact that FoodTopic is not a party to the agreement between you (Diner) and the Host and FoodTopic does NOT acts as the Host's payment collection agent for the limited purpose of accepting payments from you on behalf of the Host.
				<br/>

				<p/><p/>

				<b>7. Trademarks</b>
				<br/>
				"TheFoodTopic.com", "TheFoodTopic", "FoodTopic" and other trademarks on this Web site are trademarks of FoodTopic or its affiliates or licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of FoodTopic. In addition, all page headers, custom graphics, button icons, and scripts are service marks, trademarks, and/or trade dress of FoodTopic, and may not be copied, imitated, or used, in whole or in part, without the prior written permission of FoodTopic. All other trademarks, registered trademarks, product names and company names or logos mentioned on the Web site are the property of their respective owners.

				FoodTopic might have other patents, patent applications, trademarks, copyrights, or other intellectual property rights covering subject matter in any Web pages, and any software part of the Web site. Except to the extent we may have granted you licenses to certain intellectual property in this Terms of Service, providing you with such Web pages or any software does not give you any license to our intellectual property. Any rights not expressly granted herein are reserved.

				<b>8. Advertisements</b>
				<br/>
				FoodTopic reserve the rights to integrate advertisements, commercials and/or sponsored links. By clicking on the advertisements, you may be redirected to another website and/or receive any advertiser's information, messages or offers. FoodTopic have no control over any information that are collected by by these advertisers. All information collected by these advertisers belongs solely to them.
				<p/><p/>

				<b>9. Enhancements &amp; Changes to FoodTopic</b>
				<br/>
				FoodTopic's layout and design may change from time to time, and the availability of the content and services included therein, without giving any prior notice. You hereby agree and acknowledge that FoodTopic is not responsible for any errors or malfunctions that may occur in connection with the performing of such changes.
				<p/><p/>

				<b>10. Update to Terms of Service</b>
				<br/>
				FoodTopic reserves the right, at its sole discretion, to modify or replace any part of this Notice. It is your responsibility to check this Notice periodically for new changes. Your continued use of or access to FoodTopic following the posting of any changes to this Notice constitutes acceptance of those changes. FoodTopic may, in the future, offer new products &amp; services and/or features. Any such new products &amp; services and/or features and/or services shall be subject to this Notice.
				<p/><p/>

				<b>11. Availability of FoodTopic</b>
				<br/>
				FoodTopic does not guarantee that FoodTopic will operate without any form of disruption/interruption as our availability and functionality depends on many various factors such as network, software, hardware as well as our service providers.
				<p/><p/>

				<b>12. Termination</b>
				<br/>
				FoodTopic reserves the right, without notice and in its sole discretion at any time, to terminate your license or access to use this Web site or any part of the services offered by this Website, to block or prevent future access to and use of this Web site, and to remove and discard any Material and Submissions. Should you wish to terminate your FoodTopic account, you may simply stop using this Web site.
				<p/><p/>

				<b>13. Disclaimer of Warranties</b>
				<br/>
				THIS WEB SITE AND THE CONTENT AVAILABLE ON IT ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND YOU AGREE USE OF THIS WEB SITE AND/OR ITS CONTENT IS AT YOUR SOLE RISK. FOODTOPIC DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. FOODTOPIC DOES NOT REPRESENT OR WARRANT MATERIALS ON THIS WEB SITE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE. FOODTOPIC DOES NOT REPRESENT OR WARRANT THIS WEB SITE OR ITS SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE YOUR USE OF THE WEB SITE AND CONTENT IS AT YOUR SOLE RISK.

				FoodTopic reserves the right to change any and all Content contained on this Web site at any time without notice. Reference to any products, services, processes, or other information, by trade name, trademark, manufacturer, and supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by FoodTopic.
				<p/><p/>

				<b>14. Limitation of Liability</b>
				<br/>
				IN NO EVENT SHALL FOODTOPIC OR ITS AFFILIATES, OR ANY OF THEIR OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, OR SUPPLIERS BE LIABLE FOR ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE), OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF, OR INABILITY TO USE, THIS WEB SITE OR CONTENT CONTAINED ON, OR ACCESSED THROUGH, THIS WEB SITE, EVEN IF FOODTOPIC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential damages, so some of the above might not apply to you.
				<p/><p/>

				<b>15. Indemnification</b>
				<br/>
				You agree to defend, indemnify and hold harmless FoodTopic, its affiliates, and all of their officers, directors, agents, employees, parents, partners, successors, suppliers, and licensors from and against any and all claims, damages, costs and expenses, including attorneys’ fees, arising from or related to your access to or use of the Web site or any Materials, Content or Submissions you provide, including, but not limited to, any claim by a third party that any Materials or Submissions infringe or violate such third party’s rights or interests.
				<p/><p/>

				This Terms of Service was last updated on October 27, 2015
				</div>
			</div>
		</div>
    @if(lowNav == true) {
        </div>
    }
}
