@(user: User = null, editProfileForm: Form[controllers.account.EditProfile])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@styles = {
	<link rel="stylesheet" href="/stylesheets/profile.css">
	<link rel="stylesheet" href="/stylesheets/library/bootstrap-formhelpers.min.css">
	<link rel="stylesheet" href="/stylesheets/library/bootstrap-datetimepicker.min.css">
}

@scripts = {
	<script src="/javascripts/library/bootstrap-formhelpers.min.js" type="text/javascript"></script>
	<script src="/javascripts/library/bootstrap-formhelpers-countries.min.js" type="text/javascript"></script>
	<script src="/javascripts/library/moment.min.js" type="text/javascript"></script>
	<script src="/javascripts/library/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
	<script src="/javascripts/profile.min.js" type="text/javascript"></script>
}

@profilePhotoGroup(field: Field)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
	@inputFile(
		field,
		'_label -> (Messages("profile.picture") + ":"),
		'accept -> "image/jpeg, image/png, image/jpg",
		'class -> "imagePathClass"
	)

	<img id="profileImage" class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(field.value.getOrElse(user.profileImagePath))" alt="@user.firstName @user.lastName"/>
}

@main(user, styles, scripts) {
	<div class="col-xs-12 col-sm-12 clearfix">
		<div class="rw-row w-title">
			<h1>@Messages("profile.edit") - @user.firstName @user.lastName</h1>
			@if(!user.emailValidated && user.email) {
				(<a href="@controllers.account.routes.Register.verifyEmail">@Messages("profile.unverified")</a>)
			}
		</div>

		<div class="rw-row bubble">
			@form(action = controllers.account.routes.EditProfile.updateProfile(), 'enctype -> "multipart/form-data") {
				<fieldset>
					<div class="col-xs-12 col-sm-3 alpha margin-bottom-15">
						<div class="edit-profile-avatar">
							@profilePhotoGroup(
								editProfileForm("profilePhoto")
							)
						</div>

					</div>

					<div class="col-xs-12 col-sm-9 alpha">
						<div id="user-summary" class="profile-user-tab active">
							<div class="col-xs-12 col-sm-6 alpha">
								<div id="user-about">
									<div class="profile-user-bio">
										@textarea(
											editProfileForm("aboutMe"),
											'_label -> (Messages("profile.aboutMe") + ":"),
											'style -> "resize: none;",
											'rows -> 8,
											'class -> "fullwidth",
											'maxlength -> 500
										)
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 both">
								<ul class="profile-rows">
									<li>
										<i class="the-icon fa fa-cutlery"></i>
										<span class="the-label">@Messages("profile.firstName")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("firstName"),
												'noLabel -> "true",
												'class -> "fullwidth"
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-cutlery"></i>
										<span class="the-label">@Messages("profile.lastName")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("lastName"),
												'noLabel -> "true",
												'class -> "fullwidth"
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-child"></i>
										<span class="the-label">@Messages("profile.gender")</span>
										<span class="the-edit-value">
											@select(
												editProfileForm("gender"),
												options = SubsetCode.allGenderOptions(),
												'noLabel -> "true",
												'class -> "fullwidth"
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-birthday-cake"></i>
										<span class="the-label">@Messages("profile.DOB")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("dateOfBirth"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 10
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-phone"></i>
										<span class="the-label">@Messages("profile.contactNumber.short")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("contactNumber"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 16
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-flag"></i>
										<span class="the-label">@Messages("profile.country")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("countryCode"),
												'noLabel -> "true",
												'bootstrap_helper -> "countryCode",
												'class -> "fullwidth"
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-home"></i>
										<span class="the-label">@Messages("profile.addressLine1")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("addressLine1"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 150
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-home"></i>
										<span class="the-label">@Messages("profile.addressLine2")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("addressLine2"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 150
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-home"></i>
										<span class="the-label">@Messages("profile.addressLine3")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("addressLine3"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 150
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-home"></i>
										<span class="the-label">@Messages("profile.postalCode")</span>
										<span class="the-edit-value">
											@inputText(
												editProfileForm("postalCode"),
												'noLabel -> "true",
												'class -> "fullwidth",
												'maxlength -> 16
											)
										</span>
									</li>
									<li>
										<i class="the-icon fa fa-briefcase"></i>
										<span class="the-label">@Messages("profile.joinedDate")</span>
										<span class="the-value">@user.createdDate.format("dd-MMMM-yyyy")</span>
									</li>
								</ul>
								<div class="clear"></div>

								<div class="following-block clearfix">
									<div class="follow-col reputation">
										<div class="follow-col-in">
											<span class="count">@user.reputationPoints</span><span class="title">@Messages("profile.reputation")</span>
										</div>
									</div>
									<div class="follow-col followers">
										<div class="follow-col-in">
											<span class="count">@Follower.findByFollowing(user.userId).size()</span><span class="title">@Messages("profile.followers")</span>
										</div>
									</div>
									<div class="follow-col following">
										<div class="follow-col-in">
											<span class="count">@Follower.findByFollower(user.userId).size()</span><span class="title">@Messages("profile.following")</span>
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<input type="submit" class="button blue right margin-top-20" value="@Messages("update")"/>
					<div class="clear"></div>

					<input type="hidden" name="userId" value="@user.userId" />
				</fieldset>
			}
		</div>
	</div>
}
