@(user: User, updateProfileForm: Form[_])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(modalInputStyle.render) }

<link rel="stylesheet" href="/stylesheets/profile.min.css">

<script type="text/javascript" charset="utf-8">
    $.getScript("/javascripts/profile.min.js");
    $.getScript("/javascripts/library/bootstrap-formhelpers-countries.min.js");
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
    </button>
    <h4 class="modal-title" id="updateProfileModalLabel">@Messages("profile.update")</h4>
</div>
<div class="modal-body">
    <div class="updateProfile-alert alert-danger"></div>
    <span class="margin-bottom-10">@Messages("cookForMe.updateProfile.msg")</span>
    @form(controllers.account.routes.UpdateProfile.updateProfileForCFM()) {
        @if(updateProfileForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@updateProfileForm.globalError.message</span>
            </p>
        }

        <fieldset class="padding-bottom-20 updateProfileCFM">
            @inputText(
                updateProfileForm("contactNumber"),
                '_label -> (Messages("profile.contactNumber") + ":"),
                'class -> "fullwidth",
                'maxlength -> 16
            )

            @inputText(
                updateProfileForm("countryCode"),
                '_label -> (Messages("profile.countryCode") + ":"),
                'bootstrap_helper -> "countryCode",
                'class -> "fullwidth"
            )

            @inputText(
                updateProfileForm("addressLine1"),
                '_label -> (Messages("profile.addressLine1") + ":"),
				'class -> "fullwidth",
                'maxlength -> 150
            )

            @inputText(
                updateProfileForm("addressLine2"),
                '_label -> (Messages("profile.addressLine2") + ":"),
				'class -> "fullwidth",
                'maxlength -> 150
            )

            @inputText(
                updateProfileForm("addressLine3"),
                '_label -> (Messages("profile.addressLine3") + ":"),
				'class -> "fullwidth",
                'maxlength -> 150
            )

            @inputText(
                updateProfileForm("postalCode"),
                '_label -> (Messages("profile.postalCode") + ":"),
				'class -> "fullwidth",
                'maxlength -> 16
            )
        </fieldset>
    }
</div>
<div class="modal-footer">
	<button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
    <button type="button" id="updateBtn" class="button blue right" onclick="updateProfileForCFM()">@Messages("update")</button>
</div>