@(loginedUser: models.User = null, searchedUser: models.User = null)

@import java.lang.Integer; var recipeCount=controllers.recipe.ViewRecipe.getUserNonDeletedNonHiddenRecipeCount(searchedUser);
@import java.lang.Integer; var cookForMeOrderCount=controllers.cookForMe.ViewCookForMeOrder.getUserCookForMeOrderCount(searchedUser);

@import com.feth.play.module.pa.views.html._

@styles = {
    <link rel="stylesheet" href="/stylesheets/library/chosen.min.css">
    <link rel="stylesheet" href="/stylesheets/recipe.min.css">
	<link rel="stylesheet" href="/stylesheets/profile.min.css">
    <link rel="stylesheet" href="/stylesheets/library/bootstrap-formhelpers.min.css">
}

@scripts = {
    <script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/library/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    <script src="/javascripts/profile.min.js" type="text/javascript"></script>
    @if(loginedUser != null && loginedUser.userId != searchedUser.userId) {
        <script src="/javascripts/followers.min.js" type="text/javascript"></script>
    }
}

@main(loginedUser, styles, scripts, false, views.html.seo.seoHeader(searchedUser.firstName + " " + searchedUser.lastName, searchedUser.aboutMe, Messages("seoProfileKeywords"), Messages("seoRobots"), views.html.account.profile.profileImageDisplay(searchedUser.profileImagePath).toString(), controllers.account.routes.ViewProfile.viewProfileById(searchedUser.userId).toString())) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@searchedUser.firstName @searchedUser.lastName
            <span class="verification-status">
            @if(loginedUser != null) {
                @if(loginedUser.userId == searchedUser.userId && !searchedUser.emailValidated && searchedUser.email != "") {
                    (<a href="@controllers.account.routes.Register.verifyEmail">@Messages("profile.unverified")</a>)
                } else {
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    @Messages("profile.verified")
                }
            }</span></h1>
        </div>

        <div class="rw-row bubble clearfix">
            @if(loginedUser != null) {
                @if(loginedUser.userId == searchedUser.userId) {
                    <a href="@controllers.account.routes.EditProfile.initEditProfileForm()" class="button blue right margin-right-15 margin-bottom-05">
                        <i class="fa fa-plus"></i> <span class="text">@Messages("edit")</span>
                    </a>
                    @if(controllers.account.Password.isOldPasswordRequired(loginedUser)) {
                        <a href="/password/change-modal" data-toggle="modal" data-target="#modal" class="button blue right margin-right-15 margin-bottom-05">
                            <i class="fa fa-key"></i> <span class="text">@Messages("password.change")</span>
                        </a>
                    }
                } else {
                    <div id="profileFollowAction" class="margin-bottom-05 clearfix">
                    @if(Follower.checkFollowingActiveRelationExists(loginedUser.userId, searchedUser.userId) == null) {
                        <a href="#" class="followBtn follow-user button blue right" data-profile="@searchedUser.userId">
                            <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
                        </a>
                    } else {
                        <a href="#" class="unfollowBtn follow-user button current green right" data-profile="@searchedUser.userId">
                            <i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
                        </a>
                    }
                    </div>
                }
            }

            @*
            <div class="col-xs-12 col-sm-12">
                <ul class="profile-mini-menu">
                    <li class="active"><a href="#user-summary">Summary</a></li>
                    <li><a href="#user-about">About</a></li>
                    <li><a href="#user-send-pm">Send PM</a></li>
                    <li class="right link"><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            *@

            <div class="clearfix">
            <div class="col-xs-12 col-sm-3 both margin-bottom-15">
                <div class="profile-avatar">
                    <img id="profileImage" class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(searchedUser.profileImagePath)" alt="@searchedUser.firstName @searchedUser.lastName"/>
                    @*
                    <div class="social-block">
                        <div class="profiles clearfix">
                        <a href="#" title="Facebook" class="social-profile facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" class="social-profile twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google+" class="social-profile google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="Vimeo" class="social-profile vimeo"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                    </div>
                    *@
                </div>
            </div>

            <div class="col-xs-12 col-sm-9">
                <div id="user-summary" class="profile-user-tab active">
                    <div class="col-xs-12 col-sm-7 alpha">
                        <div id="user-about">
                            <div class="profile-user-bio">
                                @Messages("profile.aboutMe"):
                                <br/>
                                @searchedUser.aboutMe
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 omega">
                        <ul class="profile-rows">
                            @*
                            <li>
                                <i class="the-icon fa fa-cutlery"></i>
                                <span class="the-label">Cooking Level: </span>
                                <span class="the-value mark purple"></span>
                            </li>
                            <li>
                                <i class="the-icon fa fa-history"></i>
                                <span class="the-label">Last visit: </span>
                                <span class="the-value mark green"></span>
                            </li>
                            <li>
                                <i class="the-icon fa fa-eye"></i>
                                <span class="the-label">Profile views: </span>
                                <span class="the-value mark light-gray"></span>
                            </li>
                            *@
                            <li>
                                <i class="the-icon fa fa-child"></i>
                                <span class="the-label">@Messages("profile.gender")</span>
                                <span class="the-value mark light-gray">@searchedUser.gender</span>
                            </li>

                            @if(loginedUser.userId == searchedUser.userId) {
                                @if(searchedUser.dateOfBirth != null) {
                                    <li>
                                        <i class="the-icon fa fa-birthday-cake"></i>
                                        <span class="the-label">Date of Birth: </span>
                                        <span class="the-value">@searchedUser.dateOfBirth.format("dd-MMMM-yyyy")</span>
                                    </li>
                                }
                                @if(searchedUser.contactNumber != null && !searchedUser.contactNumber.isEmpty()) {
                                    <li>
                                        <i class="the-icon fa fa-phone"></i>
                                        <span class="the-label">Contact No.: </span>
                                        <span class="the-value">@searchedUser.contactNumber</span>
                                    </li>
                                }
                                @if(searchedUser.address != null) {
                                    <li>
                                        <i class="the-icon fa fa-flag"></i>
                                        <span class="the-label">Reside In: </span>
                                        <span class="the-value"><span class="bfh-countries" data-country="@searchedUser.address.countryCode" data-flags="true"></span></span>
                                    </li>
                                    <li>
                                        <i class="the-icon fa fa-home"></i>
                                        <span class="the-label">Address: </span>
                                        <span class="the-value">
                                            <address>
                                                @searchedUser.address.addressLine1<br>
                                            </address>

                                            @*
                                        @if(!searchedUser.address.addressLine2.isEmpty()) {
                                            <br/>@searchedUser.address.addressLine2
                                        }
                                        @if(!searchedUser.address.addressLine3.isEmpty()) {
                                            <br/>@searchedUser.address.addressLine3
                                        }
                                        @if(!searchedUser.address.postalCode.isEmpty()) {
                                            <br/>@searchedUser.address.postalCode
                                        }
                                            *@
                                        </span>
                                    </li>
                                }
                            }
                            <li>
                                <i class="the-icon fa fa-briefcase"></i>
                                <span class="the-label">@Messages("profile.joinedDate")</span>
                                <span class="the-value">@searchedUser.createdDate.format("dd-MMMM-yyyy")</span>
                            </li>
                        </ul>

                        <div id="following-block" class="following-block clearfix">
                            <div class="follow-col reputation">
                                <div class="follow-col-in">
                                    <span class="count">@searchedUser.reputationPoints</span><span class="title">@Messages("profile.reputation")</span>
                                </div>
                            </div>
                            <div class="follow-col followers">
                                <div class="follow-col-in">
                                    <span class="count">@Follower.findByFollowing(searchedUser.userId).size()</span><span class="title">@Messages("profile.followers")</span>
                                </div>
                            </div>
                            <div class="follow-col following">
                                <div class="follow-col-in">
                                    <span class="count">@Follower.findByFollower(searchedUser.userId).size()</span><span class="title">@Messages("profile.following")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*
                <div id="user-send-pm" class="profile-user-tab">
                    <div class="tab-inner">
                        <form method="post" class="private-messaging-form">
                            <div class="form-label">Send private message</div>
                            <textarea name="message" class="private-messaging-textarea"></textarea>
                            <input type="submit" class="button primary" value="Send" />
                        </form>
                    </div>
                    <div class="clear"></div>
                </div> <!-- #user-send-pm -->
                *@
            </div>

            @*
            <div class="rw-row profile-main-menu-block">
                <div class="col-xs-12 col-sm-12">
                    <div class="awards-block">
                        <div class="the-label">@Messages("profile.awards")</div>
                        <div class="awards clearfix">
                            <a href="#" title="Featured author" class="award-single green"><i class="award-icon-award"></i></a>
                            <a href="#" title="Won a competition" class="award-single black"><i class="award-icon-award2"></i></a>
                            <a href="#" title="Expert cooking level" class="award-single purple"><i class="award-icon-cooker"></i></a>
                            <a href="#" title="Coummunity Superstar" class="award-single red"><i class="award-icon-fivepointed2"></i></a>
                            <a href="#" title="Vegetarian" class="award-single orange"><i class="award-icon-fruits"></i></a>
                            <a href="#" title="Has contibuted with a sport recipe" class="award-single blue"><i class="award-icon-male"></i></a>
                            <a href="#" title="Attended a meetup" class="award-single black"><i class="award-icon-man"></i></a>
                            <a href="#" title="Top rated author" class="award-single dark-gray"><i class="award-icon-thumb"></i></a>
                            <a href="#" title="Has collected between 50 and 100 recipes" class="award-single red"><i class="award-icon-young2"></i></a>
                            <a href="#" title="Reviewer" class="award-single teal"><i class="award-icon-teacher"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            *@
            </div>

            @if(loginedUser != null) {
                <div id="profile-main-menu-block" class="rw-row clearfix margin-top-15">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="tab-toggle active">
                            <a data-target="#listRecipe" role="tab" data-toggle="tab">
                                <span class="title">@controllers.utils.Utilities.checkEnglishPlural(recipeCount, Messages("recipe"))</span><span class="count">(@recipeCount)</span>
                            </a>
                        </li>
                        <li class="tab-toggle">
                            <a data-target="#listCookForMeOrders" role="tab" data-toggle="tab">
                                <span class="title">@controllers.utils.Utilities.checkEnglishPlural(cookForMeOrderCount, Messages("cookForMeOrder"))</span><span class="count">(@cookForMeOrderCount)</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="listRecipe" role="tabpanel" class="tab-pane fade in active">
                            @if(loginedUser.userId != searchedUser.userId) {
                                @views.html.recipe.listRecipe(searchedUser, null, Recipe.findAllPublishedPublicRecipeByUser(searchedUser, controllers.utils.Constants.FETCH_RECIPE_PAGE_ONE), 8, false)
                            } else {
                                @views.html.recipe.listRecipe(searchedUser, null, Recipe.findAllNonDeletedNonHiddenRecipeByUser(searchedUser, controllers.utils.Constants.FETCH_RECIPE_PAGE_ONE), 8, false)
                            }
                        </div>
                        <div id="listCookForMeOrders" role="tabpanel" class="tab-pane fade">
                            @if(loginedUser.userId != searchedUser.userId) {
                                @views.html.cookForMe.listCookForMeOrders(searchedUser, "", CookForMeOrders.findByHostId(searchedUser.userId, controllers.utils.Constants.SUBSETCODE_ORDER_STATUS_COMPLETED, controllers.utils.Constants.FETCH_COOK_FOR_ME_ORDER_PAGE_ONE), CookForMeOrders.findByDinerId(searchedUser.userId, controllers.utils.Constants.SUBSETCODE_ORDER_STATUS_COMPLETED, controllers.utils.Constants.FETCH_COOK_FOR_ME_ORDER_PAGE_ONE), controllers.utils.Constants.MAX_COOK_FOR_ME_ORDER_FETCH_LIMIT, false, false)
                            } else {
                                @views.html.cookForMe.listCookForMeOrders(searchedUser, "", CookForMeOrders.findByHostId(searchedUser.userId, null, controllers.utils.Constants.FETCH_COOK_FOR_ME_ORDER_PAGE_ONE), CookForMeOrders.findByDinerId(searchedUser.userId, null, controllers.utils.Constants.FETCH_COOK_FOR_ME_ORDER_PAGE_ONE), controllers.utils.Constants.MAX_COOK_FOR_ME_ORDER_FETCH_LIMIT, false, true)
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
