@(loginForm: Form[_])

@import helper._
@import template._
@import com.feth.play.module.pa.views.html._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<h2>@Messages("signin.signin")</h2>

@form(controllers.account.routes.Login.authenticate()) {

    @if(loginForm.hasGlobalErrors) {
        <p class="error">
            <span class="label label-danger">@loginForm.globalError.message</span>
        </p>
    }
    
    <fieldset>
        @inputText(
            loginForm("email"),
            'placeholder -> Messages("email"),
            '_label -> null,
            '_help -> Messages("signin.your.email"),
            'class -> "form-control input-lg",
			'type -> "email"
        )
        @inputPassword(
            loginForm("password"),
            '_label -> null,
            'placeholder -> Messages("password"),
            '_help -> Messages("signin.your.password"),
            'class -> "form-control input-lg"
        )
    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("signin.signin")">
        <p><small><a href="@controllers.account.routes.Password.forgot">@Messages("password.forgot")</a></small></p>
    </div>
    <div>
        <p>@Html(Messages("signin.oauth", Messages("title"), "<a href='/signup'>Sign up here</a>"))</p>
        @_providerPartial(skipCurrent=false)
    </div>
}
