@(loginForm: Form[_])

@import helper._
@import template._
@import com.feth.play.module.pa.views.html._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
        $('#email').tooltip({title: "", trigger: "manual", placement:"bottom"});
        $('#password').tooltip({title: "", trigger: "manual", placement:"bottom"});
	});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="loginModalTitle">@Messages("signin.signin")</h4>
</div>
<div class="modal-body">
    <div class="signin-alert alert-danger"></div>
    @form(controllers.account.routes.Login.authenticate()) {
        @if(loginForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@loginForm.globalError.message</span>
            </p>
        }

        <fieldset>
            @inputText(
                loginForm("loginEmail"),
                'noLabel -> "true",
                'placeholder -> Messages("email"),
                '_help -> Messages("signin.your.email"),
                'class -> "form-control input-lg"
            )
            @inputPassword(
                loginForm("loginPassword"),
                'noLabel -> "true",
                'placeholder -> Messages("password"),
                '_help -> Messages("signin.your.password"),
                'class -> "form-control input-lg"
            )
        </fieldset>

        <div class="text-center form-actions margin-top-20">
            <input id="#submitlogin" onclick="submitLogin()" type="button" class="btn btn-lg btn-primary width-60" value="@Messages("signin.signin")">
            <div><a href="@controllers.account.routes.Password.forgot">@Messages("password.forgot")</a></div>
        </div>
    }
    <div class="line-text margin-top-08">
        <span>OR</span>
    </div>
    <div class="row">
        <div class="margin-top-05 col-xs-12 col-sm-6">
            <a href="/authenticate/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
            </a>
        </div>
        <div class="margin-top-05  col-xs-12 col-sm-6">
            <a href="/authenticate/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <p>Don't have an account? <a href="/signup">Sign up here for free.</a></p>
</div>
    



