/* ============================================================
 ABOUT US PAGE
 ============================================================ */
.aboutUs {
	text-align: center;
}

.aboutUs h1 {
	font-size: 30px;
    margin: 60px 35px 0 0;
    word-wrap: break-word;
    font-family: caecilia, Times, serif;
    color: #555;
}

.aboutUs .bio {
	background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.aboutUs .bio .pad {
	padding: 10px;
}

.aboutUs .bio .pad h2 {
    margin: 10px 10px 0 0;
    font-family: caecilia, Times, serif;
    color: #555;
}

.aboutUs blockquote small::before, .slice blockquote .small::before {
	content: "";
}