/* ============================================================
 Blockquote, quote
 ============================================================ */
q {
	font-style: italic;
}

blockquote {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding: 10px 65px;
	border: 0;
	background: #fafafa;
	color: #5b5e73;
	font-size: 22px;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px
		0 rgba(255, 255, 255, 0.95);
	-moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px 0
		rgba(255, 255, 255, 0.95);
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px 0
		rgba(255, 255, 255, 0.95);
}

blockquote:before, blockquote:after {
	display: block;
	position: absolute;
	padding: 20px;
	border-radius: 50px;
	font-size: 26px;
	color: #4bcde0;
	background: #ededed;
	font-family: 'FontAwesome';
	text-align: center;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote:before {
	content: "\f10d";
	left: -10px;
	top: -10px;
}

blockquote:after {
	content: "\f10e";
	right: -10px;
	bottom: -10px;
}

blockquote cite {
	font-size: 17px;
}