/* ============================================================
 OVERALL COMMON CSS
 ============================================================ */
body { background: rgba(0, 0, 0, 0) url("../images/wood_texture.png") repeat scroll 0 0; }
#main { min-height: 450px; padding-bottom: 15px; }

#abflash { position: fixed; top: 60px; z-index: 100; width: 100%; }
#abflash .alert { margin: 0 auto; width: 50%; text-align: center; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); }
.signin-alert { border: 1px solid transparent; border-radius: 4px; margin-bottom: 5px; padding: 10px; display: none; }

#loadMore { clear: both; margin: auto; background-color: #21AABD; color: #FFFFFF; width: 200px; height: 35px; border: 1px none #46b8da; border-radius: 0px; }
#loadMore:hover { background-color: #198392; }

.max-character { font-size: 8pt; }
.error-message { color: #ff0000; }
.category-dropdown { display: none !important; }
.badge-banner { position: relative; left: -60px; top: 75px; text-align: center; max-width: 180px; min-width: 180px; padding: 3px 0; background: #21AABD; color: #FFFFFF; text-transform: capitalize; z-index: 2; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); transform: rotateZ(-45deg); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }

.bubble { background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0; color: #5A3418; padding: 15px; border-radius: 20px; overflow: hidden; }
.bubble.shadow { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24); }

/* ============================================================
 OVERRIDE BOOTSTRAP CSS
 ============================================================ */
.container { display: block; position: relative; width: 100%; margin: 0 auto; max-width: 1740px; padding-left: 0; padding-right: 0; }
.container .alpha { padding-left: 0; }
.container .omega { padding-right: 0; }
.container .both { padding-left: 0; padding-right: 0; }

@media (max-width: 767px) {
	.container .alpha { padding-left: 0; padding-right: 0; }
	.container .omega { padding-left: 0; padding-right: 0; }
}

/* ============================================================
 COMMONLY USED CSS SHORTCUTS - DISPLAY, MARGIN, PADDING, WIDTH
 ============================================================ */
.hidden { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.vertical-top { vertical-align: top; }
.pull-none { float: none !important; }

.margin-auto { margin: auto !important; }
.margin-top-01 { margin-top: 1px !important; }
.margin-bottom-01 { margin-bottom: 1px !important; }
.margin-left-01 { margin-left: 1px !important; }
.margin-right-01 { margin-right: 1px !important; }
.margin-top-05 { margin-top: 5px !important; }
.margin-bottom-05 { margin-bottom: 5px !important; }
.margin-left-05 { margin-left: 5px !important; }
.margin-right-05 { margin-right: 5px !important; }
.margin-top-08 { margin-top: 8px !important; }
.margin-bottom-08 { margin-bottom: 8px !important; }
.margin-left-08 { margin-left: 8px !important; }
.margin-right-08 { margin-right: 8px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-left-10 { margin-left: 10px !important; }
.margin-right-10 { margin-right: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-left-15 { margin-left: 15px !important; }
.margin-right-15 { margin-right: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-left-20 { margin-left: 20px !important; }
.margin-right-20 { margin-right: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-left-25 { margin-left: 25px !important; }
.margin-right-25 { margin-right: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-left-30 { margin-left: 30px !important; }
.margin-right-30 { margin-right: 30px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-left-40 { margin-left: 40px !important; }
.margin-right-40 { margin-right: 40px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-bottom-70 { margin-bottom: 70px !important; }
.margin-left-70 { margin-left: 70px !important; }
.margin-right-70 { margin-right: 70px !important; }

.padding-0 { padding: 0 !important; }
.padding-top-0 { padding-top: 0px !important; }
.padding-bottom-0 { padding-bottom: 0px !important; }
.padding-left-0 { padding-left: 0px !important; }
.padding-right-0 { padding-right: 0px !important; }
.padding-top-01 { padding-top: 1px !important; }
.padding-top-05 { padding-top: 5px !important; }
.padding-bottom-05 { padding-bottom: 5px !important; }
.padding-left-05 { padding-left: 5px !important; }
.padding-right-05 { padding-right: 5px !important; }
.padding-top-08 { padding-top: 8px !important; }
.padding-bottom-08 { padding-bottom: 8px !important; }
.padding-left-08 { padding-left: 8px !important; }
.padding-right-08 { padding-right: 8px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-bottom-10 { padding-bottom: 10px !important; }
.padding-left-10 { padding-left: 10px !important; }
.padding-right-10 { padding-right: 10px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-bottom-15 { padding-bottom: 15px !important; }
.padding-left-15 { padding-left: 15px !important; }
.padding-right-15 { padding-right: 15px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-bottom-20 { padding-bottom: 20px !important; }
.padding-left-20 { padding-left: 20px !important; }
.padding-right-20 { padding-right: 20px !important; }
.padding-top-25 { padding-top: 25px !important; }
.padding-bottom-25 { padding-bottom: 25px !important; }
.padding-left-25 { padding-left: 25px !important; }
.padding-right-25 { padding-right: 25px !important; }
.padding-top-30 { padding-top: 30px !important; }
.padding-bottom-30 { padding-bottom: 30px !important; }
.padding-left-30 { padding-left: 30px !important; }
.padding-right-30 { padding-right: 30px !important; }

.width-10 { width: 10% !important; }
.width-20 { width: 20% !important; }
.width-30 { width: 30% !important; }
.width-40 { width: 40% !important; }
.width-50 { width: 50% !important; }
.width-60 { width: 60% !important; }
.width-70 { width: 70% !important; }
.width-80 { width: 80% !important; }
.width-90 { width: 90% !important; }
.width-100 { width: 100% !important; }

/* ============================================================
 TOOLTIP VALIDATION
 ============================================================ */
.form-control+.tooltip > .tooltip-inner { background-color: #c9302c; }
.form-control+.tooltip.bottom>.tooltip-arrow { border-bottom: 5px solid #c9302c; }

/* ============================================================
 Rw row
 ============================================================ */
.rw-row { border-radius: 0px; margin: 0px; padding: 10px 20px; }
.rw-row.light { background: rgba(255, 255, 255, 0.50); border-color: #E6E6E6; }
.rw-row.bubble { margin: 10px 20px; }
.rw-row.w-title { padding-top: 0px; padding-bottom: 0px; }

@media only screen and (max-width: 768px) {
	.rw-row { padding: 15px 0px; }
	.rw-row.bubble { margin: 10px 0px; }
}

/* ============================================================
 Headings Text
 ============================================================ */
.w-title h1, .w-title h2 { color: #FFFFFF; border-bottom: 1px solid #FFFFFF; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
.w-title.brown h1, .w-title.brown h2 { color: #5A3418; border-bottom: 1px solid #5A3418; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

/* ============================================================
 Lists
 ============================================================ */
li>ul, li>ol { margin-top: 5px; margin-bottom: 5px; }

/* ============================================================
 Elem / Marks
 ============================================================ */
.mark { position: relative; display: inline; padding: 1px 5px; margin: 0; border-radius: 3px; font-size: 100%; background: #23242c; font-weight: 400; color: #FFFFFF; vertical-align: middle; }
.mark.primary { background: #21AABD; }
.mark.black { background: #23242c; }
.mark.red { background: #eb5858; }
.mark.green { background: #89c245; }
.mark.blue { background: #58bde7; }
.mark.orange { background: #f6a856; }
.mark.yellow { background: #f5d554; }
.mark.pink { background: #f15274; }
.mark.purple { background: #9462a4; }
.mark.teal { background: #39cab5; }
.mark.olive { background: #a1b809; }
.mark.dark-gray { background: #5b5e73; }
.mark.gray { background: #9d9fb1; }
.mark.light-gray { background: #e4e5ea; color: #737373; }
.mark.light-brown { background: #D3B693; color: #5A3418; }
.mark.white { background: #FFFFFF; color: #737373; }
.mark.square { border-radius: 0; }
.mark.rounded { border-radius: 50px; padding: 1px 5px; }
.mark.top { top: -0.8em; }
.mark.bottom { bottom: -0.8em; }
.mark.small { font-size: 70%; }
.mark.big { font-size: 150%; padding: 1px 7px; }
.mark.huge { font-size: 200%; padding: 3px 15px; }
.mark.block { display: inline-block; }
.mark.inline { display: inline; }

/* ============================================================
 Elem / Buttons
 ============================================================ */
.button {
	padding: 6px 12px;
	font-size: 14px;
	position: relative;
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	text-decoration: none;
	font-weight: 400;
	text-shadow: none;
	vertical-align: middle;
}

.button.link {
	border-color: transparent;
	background: transparent;
	color: inherit;
	text-shadow: none;
}

.button.nobg {
	background: transparent;
	border-color: transparent;
	text-shadow: none;
}

.button:hover {
	background: #fcfcfc;
	color: #505265;
	border-color: #bfbfbf;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 1px
	0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 1px 0
	rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 1px 0
	rgba(0, 0, 0, 0.15);
}

.button.current, .button.current:hover {
	z-index: 2;
	-webkit-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.button:before {
	line-height: 1.5;
}

.button.primary, .button.hover-primary:hover {
	background: #21AABD;
	border-color: #166f7c;
	color: #e3f7fa;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.button.primary.nobg {
	background: transparent;
	border-color: transparent;
	color: #21AABD;
	text-shadow: none;
}

.button.primary:hover {
	background: #1d96a7;
	border-color: #166f7c;
	color: #e3f7fa;
}

.button.primary.current, .button.primary.current:hover {
	background: #198d92;
	border-color: #126366;
	color: #e3f7fa;
}

.button.black, .button.hover-black:hover {
	background: #23242c;
	border-color: #010101;
	color: #9d9fb1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.button.black.nobg {
	background: transparent;
	border-color: transparent;
	color: #23242c;
	text-shadow: none;
}

.button.black:hover {
	background: #18181e;
	border-color: #010101;
	color: #9d9fb1;
}

.button.black.current, .button.black.current:hover {
	background: #0d0c10;
	border-color: #000000;
	color: #9d9fb1;
}

.button.red, .button.hover-red:hover {
	background: #eb5858;
	border-color: #dc1a1a;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.button.red.nobg {
	background: transparent;
	border-color: transparent;
	color: #eb5858;
	text-shadow: none;
}

.button.red:hover {
	background: #e84141;
	border-color: #dc1a1a;
	color: #FFFFFF;
}

.button.red.current, .button.red.current:hover {
	background: #e64a2a;
	border-color: #c53518;
	color: #FFFFFF;
}

.button.green, .button.hover-green:hover {
	background: #89c245;
	border-color: #618c2e;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.button.green.nobg {
	background: transparent;
	border-color: transparent;
	color: #89c245;
	text-shadow: none;
}

.button.green:hover {
	background: #7cb33b;
	border-color: #618c2e;
	color: #FFFFFF;
}

.button.green.current, .button.green.current:hover {
	background: #5da034;
	border-color: #477928;
	color: #FFFFFF;
}

.button.blue, .button.hover-blue:hover {
	background: #58bde7;
	border-color: #1e9fd4;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.button.blue.nobg {
	background: transparent;
	border-color: transparent;
	color: #58bde7;
	text-shadow: none;
}

.button.blue:hover {
	background: #42b4e4;
	border-color: #1e9fd4;
	color: #FFFFFF;
}

.button.blue.current, .button.blue.current:hover {
	background: #2b8de1;
	border-color: #1b73be;
	color: #FFFFFF;
}
.button.small { padding: 5px 11px; font-size: 12px; }
.button.big { padding: 13px 26px; font-size: 22px; }
.button.huge { padding: 19px 40px; font-size: 34px; }
.button.mini { padding: 0 7px; font-size: 14px; }
.button.square { border-radius: 0; }
.button.rounded { border-radius: 100px; }
.button.left { float: left; margin-right: 3px; margin-left: 0; }
.button.right { float: right; margin-left: 3px; margin-right: 0; }
.button.active, .button:active { -webkit-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2); box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.2); }
.button.activated { -webkit-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.4); box-shadow: inset 0 5px 25px 0 rgba(0, 0, 0, 0.4); }

/* ============================================================
 Elem / Form
 ============================================================ */
.form-input-group { margin-bottom: 15px; }
.form-input-group .form-label { font-weight: 700; color: #5A3418; margin-top: 9.5px; }
.form-input-group .form-description { font-size: 12px; color: #8F6D4F; margin-top: -5px; margin-bottom: 3px; }
.form-input-group .descriptionCounter { font-size: 12px; color: #8F6D4F; }

input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], select, textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], select, textarea { padding: 7px 10px; border-radius: 6px; border: 1px solid #c8c9d3; background: #FFFFFF; color: #23242c; }
input[type="number"] { padding: 0px 10px; }
input:focus:not ([type="range"] ), select:focus, textarea:focus { outline: none; -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07); -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07); }
input.fullwidth, select.fullwidth { width: 100%; height: 35px; }

textarea { width: 100%; min-height: 75px; resize: none; }
textarea.normal { min-height: 200px; }
textarea.big { min-height: 400px; }
textarea.huge { min-height: 600px; }

/* ============================================================
 Radio, Checkbox
 ============================================================ */
input[type="radio"], input[type="checkbox"] { position: relative; vertical-align: baseline; margin-right: 5px; }
input[type="submit"], input[type="reset"], input[type="button"] { margin-bottom: 10px; }

/* ============================================================
 Top Navigation Header
 ============================================================ */
#top-navigation { background-color: rgba(255,255,255,0.65) }
#top-navigation #header-logo { float: left; margin: 5px 20px; max-width: 140px; min-width: 90px; width: 15%; }
#top-navigation .navbar-toggle { margin-top: 20px; margin-left: 5px; margin-right: 5px; }
#top-navigation #header-nav { margin-top: 10px; }
#top-navigation #header-nav .nav > li { display: inline-block; vertical-align: top; }
#top-navigation #header-nav .nav > li > a.nav-single-icon .new-info {
	display: block;
	position: absolute;
	top: 5px;
	float: left;
	right: 1px;
	min-width: 18px;
	min-height: 18px;
	max-width: 18px;
	max-height: 18px;
	text-align: center;
	border-radius: 15px;
	color: #FFFFFF;
	background: #eb5858;
	font-size: 10px;
	z-index: 2;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
#top-navigation #header-nav .navbar-nav > li > a { text-align: right; color: #5A3418; }
#top-navigation #header-nav .navbar-nav .dropdown-menu > li > a { color: #5A3418; }
#top-navigation #header-nav .navbar-nav #profile-dropdown a.dropdown-toggle { padding: 7px 10px 0; color: #5A3418; }
#top-navigation #header-nav .navbar-nav #profile-dropdown .x-small-profile-picture-container { display: inline-block; }
#top-navigation #header-search { overflow: hidden; margin-top: 20px; }
#top-navigation #header-search .search-btn { border-top-right-radius: 6px; border-bottom-right-radius: 6px; height: 35px; }

#site-main-header { background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0; }
#site-main-header .lownavbar { border: 0px solid transparent; display: table; margin: 0 auto; }
#site-main-header .lownavbar .navbar-nav > li > a { color: #5A3418; padding-top: 0px; padding-bottom: 10px;}

#top-navigation .navbar-nav > .active > a,
#site-main-header .lownavbar .navbar-nav > .active > a { color: #198392; background: #f2f2ed none repeat scroll 0 0; }

@media screen and (max-width: 767px) {
	#top-navigation #header-search { margin-top: 8px; }
	#top-navigation .navbar-toggle { margin: 5px; }
	#top-navigation #header-nav { width: 100%; text-align: right; margin: 0px; }
	#top-navigation #header-nav .notification-dropdown-menu { position: static; min-width: 300px; }
	#top-navigation #header-nav .navbar-nav #profile-dropdown a.dropdown-toggle { padding-top: 0px; }
	#top-navigation #header-nav .navbar-nav .open .dropdown-menu,
	#site-main-header .lownavbar .navbar-nav .open .dropdown-menu { text-align: right; }
	#site-main-header .lownavbar .navbar-nav { margin: 0px; }
	#site-main-header .lownavbar .nav > li { float: left; }
	#site-main-header .lownavbar .category-dropdown { display: block !important; }
	#site-main-header .lownavbar .category-li { display: none !important; }
}

@media screen and (min-width : 768px) {
	.navbar-nav>li:hover>a:before { width: 60%; left: 20%; }
	.navbar-nav>li:hover>a, .navbar-nav>li:focus>a { background: transparent; color: #198392; border-radius: 0; }
	.navbar-nav>.active>a:before {
		content: " ";
		display: block;
		position: absolute;
		width: 0;
		height: 2px;
		bottom: 2px;
		left: 50%;
		z-index: 9;
		background: #198392;
		border-radius: 10px;
		width: 60%;
		left: 20%;
	}
	#top-navigation .navbar-nav>.active>a, .lownavbar .navbar-nav>.active>a { background: transparent; }
}

/* ============================================================
 Images
 ============================================================ */
.max-width-image { width: 100% !important; height: auto !important; }
.limit-image-width { max-width: 100% !important; height: auto !important; }

/* ============================================================
 Notification Dropdowns
 ============================================================ */
#notification-dropdown.open>.notification-dropdown-menu { display: block; }
#notification-dropdown .notification-dropdown-toggle:focus { outline: 0; }
#notification-dropdown .notification-dropdown-menu { position: absolute; z-index: 3; display: none; min-width: 400px; max-height: 360px; font-size: 11px; padding: 5px 0; text-align: left; background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 3px; }
#notification-dropdown .notification-dropdown-menu ul { margin: 0; padding: 0; overflow-y: auto; }
#notification-dropdown .notification-dropdown-menu .notification { padding: 5px; min-height: 65px; border-bottom: 1px solid #DDDDDD; }
#notification-dropdown .notification-dropdown-menu .notification.active { background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0; }
#notification-dropdown .notification-dropdown-menu .notification.link { cursor: pointer; }
#notification-dropdown .notification-dropdown-menu .notification:hover { background-color: #FFF7E5; }
#notification-dropdown .notification-dropdown-menu .notification .small-profile-picture-container { margin-right: 2%; width: 50px; }
#notification-dropdown .notification-dropdown-menu .notification .type { color: #777777; max-height: 45px; overflow: hidden; }
#notification-dropdown .notification-dropdown-menu .notification .date { font-size: 10px; color: #BBBBBB; }
#notification-dropdown .notification-dropdown-menu .notification .the-sign { padding: 10px 5px 0px 0px; color: #BBBBBB; font-size: 18px; }
#notification-dropdown .notification-dropdown-menu .view-all { padding: 4px 0px 0px 0px; display: block; text-align: center; color: #777777; }
#notification-dropdown .notification-dropdown-menu .divider { height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5; }
#notification-dropdown .notification-dropdown-menu>li>a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333333; white-space: nowrap; }
#notification-dropdown .notification-dropdown-menu>li>a:hover, .notification-dropdown-menu>li>a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5; }
#notification-dropdown .notification-dropdown-menu>.active>a, .notification-dropdown-menu>.active>a:hover, .notification-dropdown-menu>.active>a:focus { color: #FFFFFF; text-decoration: none; outline: 0; background-color: #337ab7; }
#notification-dropdown .notification-dropdown-menu>.disabled>a, .notification-dropdown-menu>.disabled>a:hover, .notification-dropdown-menu>.disabled>a:focus { color: #777777; }
#notification-dropdown .notification-dropdown-menu>.disabled>a:hover, .notification-dropdown-menu>.disabled>a:focus { text-decoration: none; background-color: transparent; filter: progid:DXImageTransform.Microsoft.gradient(enabled= false); cursor: not-allowed; }
#notification-dropdown .open>.notification-dropdown-menu { display: block; }

@media ( min-width : 768px) {
	.navbar-right .notification-dropdown-menu { left: auto; right: 0; }
	.navbar-right .notification-dropdown-menu-left { left: 0; right: auto; }
}

/* ============================================================
 Image Uploader
 ============================================================ */
.image-uploader .images .image { margin: 0; height: 200px; }
.image-uploader .images .image { position: relative; margin: 0 10px 10px 0; }
.image-uploader .images .image .remove { position: absolute; bottom: 4px; right: 4px; font-size: 14px; width: 22px; height: 22px; color: #EB5858; text-align: center; padding: 0; background: #FFFFFF; cursor: pointer; }
.image-uploader .images .image .remove:hover { color: #FFFFFF; background: #EB5858; }
.image-uploader .images .image:hover .remove { display: block; }
.image-uploader .upload { margin: 0 0 10px 0; border: 2px dashed #c8c9d3; color: #c8c9d3; font-size: 22px; text-align: center; padding: 22px 0; width: 80px; height: 80px; cursor: pointer; -webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box; }
.image-uploader .upload:hover { border-color: #9d9fb1; color: #9d9fb1; }
.image-uploader .images, .image-uploader .images .image, .image-uploader .upload { display: inline-block; float: left; }
.image-uploader:before, .image-uploader .images:before, .image-uploader:after, .image-uploader .images:after { content: " "; display: table; }
.image-uploader:after, .image-uploader .images:after { clear: both; }

/* ============================================================
 Profile picture (Circle)
 ============================================================ */
.x-small-profile-picture-container { width: 40px; min-height: 40px; max-height: 40px; }
.small-profile-picture-container { width: 60px; height: 60px; max-height: 60px; }
.medium-profile-picture-container { width: 90px; height: 90px; max-height: 90px; }
.large-profile-picture-container { width: 120px; height: 120px; max-height: 120px; }

.profile-picture { -webkit-border-radius: 100%; border-radius: 100%; -moz-border-radius: 100%; }
.profile-picture .shade { padding: 3px; background: rgba(0, 0, 0, 0.25); }
.profile-picture .shadow { box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); }

/* ============================================================
 SOCIAL ICONS
 ============================================================ */
@font-face {
	font-family: 'si';
	src: url('../fonts/social-icon.eot');
	src: url('../fonts/social-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/social-icon.woff') format('woff'),
		url('../fonts/social-icon.ttf') format('truetype'),
		url('../fonts/social-icon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: si;
		src: url(../fonts/social-icon.svg) format('svg');
	}
}

.soc { overflow: hidden; margin: 0; padding: 0; list-style: none; }
.soc li { display: inline-block; *display: inline; zoom: 1; }
.soc li a {
	font-family: si !important;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-o-transition: .1s;
	-ms-transition: .1s;
	-moz-transition: .1s;
	-webkit-transition: .1s;
	transition: .1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	display: block;
	position: relative;
	z-index: 1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	margin-right: 0px;
	color: #FFFFFF;
}
.soc a:hover { z-index: 2; }
.soc-icon-last { margin: 0 !important; }
.soc .black { background-color: #333333; }  .soc .black:hover { background-color: #333333; }
.soc-twitter { background-color: #4da7de; }
.soc-twitter:before { content: 'a'; }
.soc-instagram { background-color: #9c7c6e; }
.soc-instagram:before { content: 'x'; }
.soc-youtube { background-color: #e02a20; }
.soc-youtube:before { content: 'r'; }
.soc-facebook { background-color: #3e5b98; }
.soc-facebook:before { content: 'b'; }
.soc-google { background-color: #d93e2d; }
.soc-google:before { content: 'c'; }
.soc-twitter:hover { background-color: #3993ca; }
.soc-instagram:hover { background-color: #88685a; }
.soc-youtube:hover { background-color: #cc160c; }
.soc-facebook:hover { background-color: #2a4784; }
.soc-google:hover { background-color: #c52a19; }

/* ============================================================
 404
 ============================================================ */
.block404 { margin: 100px 0; }
.block404 .error { display: block; padding: 50px; color: #EB5858; font-size: 150px; text-align: right; margin: 0; line-height: 1; border-right: 1px solid #f9CACA; }
.block404 .title { margin-top: 30px; font-size: 50px; color: #9d9fb1; }
.block404 .description { font-size: 17px; color: #9d9fb1; }

/* ============================================================
 Footer
 ============================================================ */
footer  .container { bottom: 0px; background-color: rgba(255,255,255,0.5); padding: 15px 60px 20px; text-align: center; }
footer #footerLogo img { width: 150px; float: left; }
footer .copyright { font-size: 12px; }
footer #footer-links a { color: #5A3418; float: right; clear: right; }

/* ============================================================
 Footer - Terms of Service
 ============================================================ */
.termsOfService { display: block; word-wrap: break-word; font-size: 0.8em; }
.termsOfService .indentBlock { display: inline-block; text-indent: 15px; }
.termsOfService .indentText { display: inline-block; text-indent: 30px; }

/* ============================================================
 Footer - Privacy Policy
 ============================================================ */
.privacyPolicy { display: block; word-wrap: break-word; font-size: 0.8em; }
.privacyPolicy .indentBlock { display: inline-block; text-indent: 15px; }
.privacyPolicy .indentText { display: inline-block; text-indent: 30px; }

@media screen and (max-width: 767px) {
	footer #footerLogo img {
		float: none;
		padding-bottom: 20px;
	}
	footer #footer-links {
		padding-top: 15px;
	}
	footer #footer-links a {
		text-align: center;
        display: block;
        float: none;
        clear: none;
	}
}