/* ============================================================
 LIST COOK FOR ME ORDER PAGE
 ============================================================ */
.order-subheader { margin-bottom: 10px; }
.order-subheader h2 { display: inline-block; margin: 2px; border: 0; }
#dinerOrderSelection, #hostOrderSelection { float: right; margin-top: 5px; }

.cookformeorder .diner-name, .cookformeorder .host-name {  font-size: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cookformeorder .badge-banner { left: -75px; top: 55px; padding: 28px 0 5px; }
.cookformeorder .order-entry-info { padding: 10px 20px 10px 50px; margin-top: -50px; }
.cookformeorder .small-profile-picture-container { margin-right: 10px; margin-top: -20px; }
.ddlabel { background-color: #5a3418; color: #fff7e5; margin-left: -12px; margin-right: 10px; padding: 6px 10px; border-radius: 4px 0 0 4px; }
.con-divider { border-bottom: 1px solid #ffffff; border-bottom: 1px solid #ffffff; margin:0 20px; padding-bottom: 10px; }
.filteritem { margin:0 0 5px 20px; min-width: 250px; }
.ddselected { padding:0 5px; }
.cookformeorder .green { background: #89c245 none repeat scroll 0 0; }
.cookformeorder .red { background: #f15274 none repeat scroll 0 0; }
.cookformeorder .gray { background: #565a5c none repeat scroll 0 0; }

.recipe-photo { margin-bottom: 10px; overflow: hidden; }
.recipe-photo a { background-size: cover !important; display: block; height: 160px; width: 240px; }
.recipe-title a { font-size: 15px; font-weight: bold; }
.header { font-size: 16px; }
.order-grid { box-sizing: border-box; display: inline-block; float: left; margin: 0; min-height: 1px; position: relative; padding-right: 20px; min-width:250px;}
.order-details .fa, .payment-details .fa { width: 30px; }
.order-details .block, .payment-details .block  { line-height: 25px; }
.order-details > div > label, .payment-details > div > label, .order-details > div > span > label { width: 130px; font-weight: lighter; }

.payment-details { text-align: center; min-width:250px;}
.payment-details .rowline { border-top: 1px solid #000; text-align: left; }
.payment-details .doublebottom { font-weight: bold; border-bottom: 1px solid #000; box-shadow: 0 1px 0 black; margin-bottom: 30px; }

.cfm-review .review-toggle { text-align: center; }
.cfm-review .review-container { display: none; background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0; }
.cfm-review .review-container .review-content { padding: 20px; }
.cfm-review .review-container .review-content .review-header { font-weight: bold; }
.cfm-review .review-container .review-content .review-time { display: block; font-size: 11px; }

/* ============================================================
 PROFILE COOK FOR ME ORDER TAB
 ============================================================ */
.tab-content #listCookForMeOrders .order-grid.desk-3 { width: 100%; }
.tab-content #listCookForMeOrders .order-grid.desk-6 { width: 100%; }
.tab-content #listCookForMeOrders .payment-details.desk-3 { width: 100%; margin-top: 15px; }

@media screen and (max-width: 767px) {
    .order-subheader { display: inline-block; }
    .order-grid { width: 100%; }
    .payment-details { width: 100%; float: left !important; margin-top: 10px; }
    .recipe-photo { margin: 0px 0px 10px 0; }
    .recipe-photo a { width: auto; }
    .cookformeorder .order-entry-info { padding: 0px; margin-top: 0px; }
}
