/* ============================================================
 DASHBOARD HOME
 ============================================================ */
.dashboard-entry { padding: 8px 0; }
.dashboard-entry-profile { padding: 0px 5px; min-height: 65px; max-height: 75px; }
.dashboard-entry-profile .small-profile-picture-container { margin-right: 10px; }
.dashboard-entry-profile .dashboard-entry-details { font-size: 12px; padding-top: 4px; padding-bottom: 2px; max-height: 42px; overflow: hidden; text-overflow: ellipsis; }
.dashboard-entry-profile .dashboard-entry-date { font-size: 10px; }
.dashboard-entry .dashboard-entry-details a { font-size: 13px; font-weight: bold; }
.dashboard-entry .dashboard-entry-photo a { display: block; height: 400px; width: 100%; margin-left: auto; margin-right: auto; background-size: cover !important; }
.dashboard-entry-controls { padding: 10px 15px 0px; min-width: 11%; position: relative; display: inline-block; float: left; margin: 0; min-height: 1px; }
.dashboard-entry-controls a { color: #5A3418; }
.dashboard-entry-controls span { display: block; }
.dashboard-entry-controls .control-tip { font-size: 11px; }
.dashboard-entry-controls .fa-heart-o:hover { color: #f15274; }
.dashboard-entry-controls .fa-heart.active { color: #f15274; }
.dashboard-entry-controls .fa-thumbs-o-up:hover { color: #58bde7; }
.dashboard-entry-controls .fa-thumbs-o-up.active { color: #ffffff; background: #58bde7; }

@media (max-width: 767px) {
    .dashboard-entry .dashboard-entry-photo a { display: block; height: 250px; width: 100%; margin-left: auto; margin-right: auto; background-size: cover !important; }
}

/* DASHBOARD FEATURED RECIPE
 ============================================================ */
#featured-recipe { background: no-repeat center center #333333; background-size: cover; color: #FFFFFF; margin: 20px 0; padding: 0; }
#featured-recipe a { color: #EEEEEE; }
#featured-recipe .entry-photo { position: relative; background: rgba(120, 120, 120, 0.5); padding: 0px 10px 10px 10px; border-radius: 3px; overflow: hidden; }
#featured-recipe .entry-photo .badge-banner { left: -32px; top: 105px; }
#featured-recipe .entry-photo img { display: block; margin: 0; }
#featured-recipe .entry-photo a { height: 350px; width: 100%; display: block; border-radius: 3px; margin-top: -15px; background-size: cover !important; }
#featured-recipe .entry-meta .meta { padding: 10px 6px; width: 33.334%; position: relative; display: inline-block; float: left; margin: 0; min-height: 1px; }
#featured-recipe .entry-meta .meta span { font-size: 16px; line-height: 22px; }
#featured-recipe .entry-meta .meta.favourites { background: #f15274; }
#featured-recipe .entry-meta .meta.likes { background: #58bde7; }
#featured-recipe .entry-meta .meta.comments { background: #89c245; }
#featured-recipe .entry-info-author { margin: 10px 0px; }
#featured-recipe .entry-info-author .small-profile-picture-container { margin-right: 10px; }
#featured-recipe .entry-info-author .submited-by { font-size: 11px; text-transform: uppercase; margin-bottom: 2px; }
#featured-recipe .entry-info-author a { color: #FFFFFF; }
#featured-recipe .entry-info-author .total-recipes { font-style: italic; color: #ccc; }

@media (max-width: 767px) {
    .dashboard-entry-controls { min-width: 20%; }
    #featured-recipe .entry-photo a { height: 250px; }
}

/* DASHBOARD FEATURED USER
 ============================================================ */
#featured-user { padding: 5px 15px; margin: 0px; }
#featured-user .entry-info-author { padding-top: 5px; min-height: 86px; margin: 15px 0 15px 0; }
#featured-user .entry-info-author .small-profile-picture-container { margin-right: 10px; }
#featured-user .entry-info-author #profileFollowAction { float: right; }
#featured-user .entry-info-author .submited-by { font-size: 11px; text-transform: uppercase; margin-bottom: 7px; }
#featured-user .entry-info-author .mark { text-transform: uppercase; font-size: 11px; margin-left: 5px; }
#featured-user .entry-info-author .total-recipes { font-style: italic; color: #ccc; }