/* Abbreviation
 ============================================================ */
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #676a81;
}
/* Acronym
 ============================================================ */
acronym[title] {
	cursor: help;
	border-bottom: 1px dashed #676a81;
}
/* Keyboard code
 ============================================================ */
kbd {
	background: #23242c;
	color: #ffffff;
	border-radius: 3px;
	padding: 2px;
}
/* Elem / Colors
 ============================================================ */
.color-block {
	display: inline-block;
	height: 58px;
	width: 58px;
	border-radius: 3px;
	margin: 3px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.color-block.black {
	background: #23242c;
	border: 1px solid #010101;
}

.color-block.red {
	background: #eb5858;
	border: 1px solid #dc1a1a;
}

.color-block.green {
	background: #89c245;
	border: 1px solid #618c2e;
}

.color-block.blue {
	background: #58bde7;
	border: 1px solid #1e9fd4;
}

.color-block.orange {
	background: #f6a856;
	border: 1px solid #f2830d;
}

.color-block.yellow {
	background: #f5d554;
	border: 1px solid #efc20e;
}

.color-block.pink {
	background: #f15274;
	border: 1px solid #e4123f;
}

.color-block.purple {
	background: #9462a4;
	border: 1px solid #694475;
}

.color-block.teal {
	background: #39cab5;
	border: 1px solid #279081;
}

.color-block.olive {
	background: #a1b809;
	border: 1px solid #616f05;
}

.color-block.dark-gray {
	background: #5b5e73;
	border: 1px solid #3a3b48;
}

.color-block.gray {
	background: #9d9fb1;
	border: 1px solid #72768f;
}

.color-block.light-gray {
	background: #e4e5ea;
	border: 1px solid #b9bbc8;
}

.color-block.white {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	color: #bfbfbf;
}

.color-block.primary {
	background: #21aabd;
	border: 1px solid #166f7c;
}
/* ============================================================
 Elem / Text color
 ============================================================ */
.text-black {
	color: #23242c;
}

.text-red {
	color: #eb5858;
}

.text-green {
	color: #89c245;
}

.text-blue {
	color: #58bde7;
}

.text-orange {
	color: #f6a856;
}

.text-yellow {
	color: #f5d554;
}

.text-pink {
	color: #f15274;
}

.text-purple {
	color: #9462a4;
}

.text-teal {
	color: #39cab5;
}

.text-olive {
	color: #a1b809;
}

.text-white {
	color: #ffffff;
}

.text-dark-gray {
	color: #5b5e73;
}

.text-gray {
	color: #9d9fb1;
}

.text-light-gray {
	color: #e4e5ea;
}

.text-primary {
	color: #21aabd;
}
/* Elem / Marks
 ============================================================ */
.mark {
	position: relative;
	display: inline;
	padding: 1px 5px;
	margin: 0;
	border-radius: 3px;
	font-size: 100%;
	background: #23242c;
	font-weight: 400;
	color: #ffffff;
	vertical-align: middle;
}

.mark.primary {
	background: #21aabd;
}

.mark.black {
	background: #23242c;
}

.mark.red {
	background: #eb5858;
}

.mark.green {
	background: #89c245;
}

.mark.blue {
	background: #58bde7;
}

.mark.orange {
	background: #f6a856;
}

.mark.yellow {
	background: #f5d554;
}

.mark.pink {
	background: #f15274;
}

.mark.purple {
	background: #9462a4;
}

.mark.teal {
	background: #39cab5;
}

.mark.olive {
	background: #a1b809;
}

.mark.dark-gray {
	background: #5b5e73;
}

.mark.gray {
	background: #9d9fb1;
}

.mark.light-gray {
	background: #e4e5ea;
	color: #737373;
}

.mark.white {
	background: #ffffff;
	color: #737373;
}

.mark.square {
	border-radius: 0;
}

.mark.rounded {
	border-radius: 50px;
	padding: 1px 5px;
}

.mark.top {
	top: -0.8em;
}

.mark.bottom {
	bottom: -0.8em;
}

.mark.small {
	font-size: 70%;
}

.mark.big {
	font-size: 150%;
	padding: 1px 7px;
}

.mark.huge {
	font-size: 200%;
	padding: 3px 15px;
}

.mark.block {
	display: inline-block;
}

.mark.inline {
	display: inline;
}
/* Circles
 ============================================================ */
.button.circle {
	position: relative;
	z-index: 10;
	text-align: center;
	padding: 0;
	overflow: hidden;
	width: 39px;
	height: 39px;
	border-radius: 24px;
	line-height: 39px;
}

.button.small.circle {
	width: 24px;
	height: 24px;
	border-radius: 38px;
	line-height: 24px;
}

.button.big.circle {
	width: 50px;
	height: 50px;
	border-radius: 82px;
	line-height: 50px;
}

.button.huge.circle {
	width: 74px;
	height: 74px;
	border-radius: 120px;
	line-height: 74px;
}
/* Button group
 ============================================================ */
.button-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 6px 3px 6px 0;
}

.button-group:before, .button-group:after {
	content: " ";
	display: table;
}

.button-group:after {
	clear: both;
}

.button-group .button {
	position: relative;
	float: left;
	margin: 0 0 0 -1px;
	z-index: 1;
}

.button-group
 
.button
:not
 
(
:first-child
 
)
:not
 
(
:last-child
 
)
{
border-radius
:
 
0;
}
.button-group .button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
}

.button-group .button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-group .button:hover, .button-group .button.current,
	.button-group .button.current:hover {
	z-index: 2;
}
/* Button block
 ============================================================ */
.button-block {
	position: relative;
	display: block;
	vertical-align: middle;
	margin: 6px 3px 6px 0;
}

.button-block:before, .button-block:after {
	content: " ";
	display: table;
}

.button-block:after {
	clear: both;
}

.button-block.inline {
	display: inline-block;
}

.button-block.left {
	text-align: left;
}

.button-block.left>.button, .button-block.left>.button-group {
	float: none;
	margin-left: 0;
	margin-right: 3px;
}

.button-block.center {
	text-align: center;
}

.button-block.center>.button, .button-block.center>.button-group {
	float: none;
}

.button-block.center>.button-group {
	margin-left: auto;
	margin-right: auto;
}

.button-block.right {
	text-align: right;
}

.button-block.right>.button, .button-block.right>.button-group {
	float: none;
	margin-right: 0;
	margin-right: 3px;
}