/* ============================================================
 BEFORE LOGIN HOME PAGE
 ============================================================ */
#hero-container { position: relative; color: #FFFFFF; }
#hero-container #search-container .search-btn { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
#hero-container .hero-background { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; background: #FFFFFF url("../images/promo/promo2.png") no-repeat center center; background-size: cover; }

#hero-container .carousel { min-height: 470px; overflow: hidden; }
#hero-container .carousel .featured-title { color: #FFFFFF; font-size: 20px; margin-top: 80px; font: 400 60px/0.7 'Cookie', Helvetica, sans-serif; text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4); text-rendering: optimizelegibility; text-align: center; }
#hero-container .carousel .feat-content-roll { width: 75%; margin: auto; }
#hero-container .carousel .feat-content-roll .row { margin-top: 40px; }
#hero-container .carousel .feat-content-roll .thumbnail { border-radius: 0px; min-height: 280px; border: 0px solid #fff; }
#hero-container .carousel .feat-content-roll .thumbnail:hover, .feat-content-roll .thumbnail:focus { border: 0px solid #21aabd; }
#hero-container .carousel .feat-content-roll .noimage { background: url("../images/recipe-noimage.png") repeat center center; }
#hero-container .carousel .feat-content-roll h2 { color: #fff; margin-top: 10px; font: 400 26px/1 'Open Sans', sans-serif; text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); }
#hero-container .carousel .feat-content-roll .text-content { background: rgba(0, 0, 0, 0.25); border-radius: 2px; padding: 10px; min-height: 150px; }
#hero-container .carousel .feat-content-roll { font-family: 'Oxygen', sans-serif; color: #cdcfcd; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
#hero-container .carousel .feat-content-roll .info { text-align: right; margin-top: 10px; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1.2em; color: #f2f2ed; text-shadow: none; }
#hero-container .carousel .feat-content-roll .info .fa { margin-left: 10px; }
#hero-container .carousel .feat-content-roll .info .fa { margin-left: 10px; }

#hero-container #search-container { max-width: 500px; margin: auto; padding: 0px 10px; }
#hero-container #category-container { background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
#hero-container #category-container .category-list { list-style: outside none none; padding-left: 0; text-align:center; }
#hero-container #category-container .category-list > li { display: inline-block; position: relative; }
#hero-container #category-container .category-list a { color: white; }
#hero-container #category-container .category-list>li>a:before { content: " "; display: block; position: absolute; width: 0; height: 2px; bottom: 2px; left: 50%; z-index: 9; background: #198392; border-radius: 10px; -webkit-transition: all 200ms; -moz-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms; }
#hero-container #category-container .category-list>li:hover>a:before { width: 60%; left: 20%; }
#hero-container #category-container .category-list>li:hover>a, .category-list>li:focus>a { background: transparent; color: #198392; border-radius: 0; }
#hero-container #category-container .category-list>.active>a:before { content: " "; display: block; position: absolute; width: 0; height: 2px; bottom: 2px; left: 50%; z-index: 9; background: #198392; border-radius: 10px; width: 60%; left: 20%; }
#hero-container #category-container .category-list>.active>a { background: transparent; }
#hero-container #carousel-container .carousel-indicators {position: relative;}

#about { font-size: 18px; text-align: center; }
#about h1, h2, #contact h3 { color: #FFFFFF; margin: 30px 0 15px; font: 400 60px/0.7 'Cookie', Helvetica, sans-serif; text-rendering: optimizelegibility; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); }
#about .thumbnail .caption { color: #fff; padding: 5px; font-size: 15px; }
#about .thumbnail .service-items { background-color: #f7f7f9; }
#contact { font-size: 18px; text-align: center; padding: 0px 15px 10px 15px; }

.cream { background-color: #dfdfdf; color: #684B23; margin-bottom: -15px; }
.slice { padding: 20px 45px 20px 45px; min-height: 200px; }
.slice .thumbnail { border: none; background-color: #abafab; -webkit-box-shadow: 0 2px 1px -1px rgba(255, 255, 255, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.25) inset; -moz-box-shadow: 0 2px 1px -1px rgba(255, 255, 255, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.25) inset; box-shadow: 0 2px 1px -1px rgba(255, 255, 255, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.25) inset; margin-top: 10px; margin-bottom: 10px; }
.slice blockquote:before, .slice blockquote:after { font-size: 15px; }
.slice blockquote:before { content: "\f10d"; left: -10px; top: -10px; }
.slice blockquote:after { content: "\f10e"; right: -10px; bottom: -10px; }
.slice blockquote { background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0; border-radius: 25px; text-align: center; padding: 10px 40px; font-size: 20px; }
.slice blockquote small::before, .slice blockquote .small::before { content: ""; }

@media (min-width : 1300px) {
	#hero-container .carousel .feat-content-roll .thumbnail { min-height: 320px; }
}

@media screen and (min-width : 768px) {
	#top-navigation { background: transparent; z-index: 3; top: 0px; width: 100%; position: absolute; }
	#top-navigation #header-nav { margin: 0; }
	#top-navigation #header-nav .navbar-nav > li > a { color: #FFFFFF; }
}

@media (max-width : 992px) {
	#hero-container { background: #cebc9f url("../images/promo/promo2.png") no-repeat center center; }
	#hero-container .carousel .feat-content-roll .thumbnail { min-height: 380px; }
	#hero-container .carousel .feat-content-roll .row { margin-top: 15px; }
	#hero-container .carousel .feat-content-roll { width: 70%; }
}

@media (max-width: 767px) {
	#hero-container .carousel { min-height: 570px; }
	#hero-container .carousel .featured-title { margin-top: 30px; }
	#hero-container .carousel .feat-content-roll { width: 80%; margin-bottom: 20px; }
	#hero-container .carousel .feat-content-roll .info { text-align: center; }
	#hero-container .carousel .feat-content-roll .thumbnail { min-height: 340px; }
	.slice { padding: 5px 15px 10px 15px; }
    #about h2, h3, #contact h3 { margin-top: 20px; }
}

@media (max-width: 500px) {
	#hero-container .carousel .feat-content-roll { width: 90%; }
}
