/* ============================================================
 NOTIFICATION PAGE
 ============================================================ */
#notificationContainer .notification { position: relative; min-height: 120px; margin-bottom: 10px; }
#notificationContainer .notification.bubble { overflow: visible; }
#notificationContainer .notification .medium-profile-picture-container { margin-right: 10px; }
#notificationContainer .notification .the-sign { position: relative; width: 48px; height: 48px; background: #9d9fb1; border-radius: 48px; color: #FFFFFF; text-align: center; font-size: 22px; line-height: 1; margin-top: 20px; margin-right: 10px; z-index: 3; }
#notificationContainer .notification .the-sign .the-icon { padding: 12px 0px 13px 2px; }
#notificationContainer .notification .message { color: #5A3418; }
#notificationContainer .notification .message .username { color: #5A3418; font-weight: 700; }
#notificationContainer .notification .message .username:hover { color: #21aabd; }
#notificationContainer .notification .date { font-size: 13px; color: #777777; margin-top: 5px; }

#notificationContainer .notification .comment { position: relative; padding: 10px; margin: 5px 0; background: #fafafa; border: 1px solid #ccc; border-radius: 3px; }
#notificationContainer .notification .comment:before {
	content: " ";
	display: block;
	position: absolute;
	top: 15px;
	left: -6px;
	width: 7px;
	height: 7px;
	background: inherit;
	border: 1px solid transparent;
	border-left-color: inherit;
	border-bottom-color: inherit;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#notificationContainer .notification:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 38px;
	width: 3px;
	background: #9d9fb1;
	z-index: 1;
}
#notificationContainer .notification:before {
	content: " ";
	display: block;
	position: absolute;
	top: -10px;
	left: 35px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #9d9fb1;
	z-index: 2;
}
#notificationContainer .notification:first-of-type:after { top: 55%; }
#notificationContainer .notification:first-of-type:before { display: none; }
#notificationContainer .notification:last-of-type:after { bottom: 50%; }
#notificationContainer .notification.comment .the-sign, #notificationContainer .notification.comment:after { background: #9d9fb1; }
#notificationContainer .notification.comment:before { border-color: #9d9fb1; }
#notificationContainer .notification.followed .the-sign, #notificationContainer .notification.followed:after { background: #9462a4; }
#notificationContainer .notification.followed:before { border-color: #9462a4; }
#notificationContainer .notification.liked .the-sign, #notificationContainer .notification.liked:after { background: #58bde7; }
#notificationContainer .notification.liked:before { border-color: #58bde7; }
#notificationContainer .notification.favourites .the-sign, #notificationContainer .notification.favourites:after { background: #f15274; }
#notificationContainer .notification.favourites:before { border-color: #f15274; }
#notificationContainer .notification.bookmarked .the-sign, #notificationContainer .notification.bookmarked:after { background: #89c245; }
#notificationContainer .notification.bookmarked:before { border-color: #89c245; }
#notificationContainer .notification.newitem .the-sign, #notificationContainer .notification.newitem:after { background: #A58383; }
#notificationContainer .notification.newitem:before { border-color: #A58383; }
#notificationContainer .notification.order .the-sign, #notificationContainer .notification.order:after { background: #FF9919; }
#notificationContainer .notification.order:before { border-color: #FF9919; }