/* ============================================================
 VIEW PROFILE PAGE
 ============================================================ */
.profile-avatar { width: 90%; padding-top: 15px; margin: 0 auto; }
.profile-avatar img { border-radius: 100%; }
.verification-status { display: inline-block; font-size: 14px; vertical-align: middle; }
.verification-status a { color: #42B9CA; text-shadow: none; }
.verification-status .fa-stack { color: #42B9CA; }

/* ============================================================
 Profile mini menu on top
 ============================================================ */
.profile-mini-menu { display: block; margin: 10px 0 0 0; padding: 0; list-style: none; border-bottom: 1px solid #ddd;  }
.profile-mini-menu li { display: inline-block; margin-bottom: -1px;  }
.profile-mini-menu li a { display: block; color: #777; padding: 10px; border-bottom: 1px solid transparent;  }
.profile-mini-menu li a:hover { border-color: #ccc; }
.profile-mini-menu li.active a { color: #444; border-color: #21aabd;  }
.profile-mini-menu li.right { float: right; }
textarea.private-messaging-textarea { height: 143px; }
.profile-user-bio { position: relative; border: 1px solid #ddd; border-radius: 10px; padding: 10px 15px; background: #FFFFFF; min-height: 75px; margin-bottom: 15px; }
.profile-user-bio:before { content: " "; display: block; width: 16px; height: 16px; position: absolute; top: 20px; left: -9px; text-indent: 9999px; background: inherit; border: 1px solid transparent; border-left-color: inherit; border-bottom-color: inherit; z-index: 10; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);  }
.profile-user-tab { display: none; }
.profile-user-tab.active { display: block; }
.profile-user-tab .tab-inner { margin: 20px 0 19px; }

@media screen and (max-width: 767px) {
    .profile-user-bio  { border: 0; padding: 0; background: none; }
    .profile-user-bio:before { display: none; }
}

/* ============================================================
 Profile user list
 ============================================================ */
.profile-rows { list-style: none; padding: 0; border-top: 1px solid #B89C7F; }
.profile-rows li { padding: 10px 0; border-bottom: 1px solid #B89C7F; }
.profile-rows li .the-icon, .profile-rows li .the-label, .profile-rows li .the-value { display: inline-block; float: left; max-width: 35%; }
.profile-rows li .the-icon { width: 30px; margin-right: 10px; text-align: center; font-size: 16px; border-right: 1px solid #ddd; }
.profile-rows li .the-edit-value { float: right; width: 60%; font-size: 12px; }
.profile-rows li .the-edit-value .form-input-group { margin: 0; }
.profile-rows li .the-edit-value .form-input-group .form-label { margin: 0; }
.bfh-selectbox.open>.bfh-selectbox-options { right: 0%; }
.bfh-selectbox .bfh-selectbox-options ul { width: 100%; }
.profile-rows li .the-value { float: right; margin-right: 10px; max-width: 50%; font-size: 12px; text-align: right;  }
.profile-rows li:before, .profile-rows li:after { content: " "; display: table; }
.profile-rows li:after { clear: both; }

/* ============================================================
 Profile avatar
 ============================================================ */
.edit-profile-avatar:hover .social-block { display: block; }

/* ============================================================
 Profile - Follower block
 ============================================================ */
.following-block { margin: 20px 0 19px; }
.following-block .follow-col { display: inline-block; float: left; width: 33.333333%; }
.following-block .follow-col .follow-col-in { padding: 0 15px 0 0; }
.following-block .follow-col .count,.following-block .follow-col .title { display: block; }
.following-block .follow-col .count { font-size: 30px; font-family: "Dosis", Arial, Helvetica, serif; }
.following-block .follow-col .title { font-size: 12px; color: #777777; text-transform: uppercase; }
.following-block .follow-col.reputation .count { color: #eb5858; }
.following-block .follow-col.followers .count { color: #58bde7; }
.following-block .follow-col.following .count { color: #89c245; }
.following-block .follow-col a:hover .title { color: #21aabd; }

/* ============================================================
 Follower & Following Page
 ============================================================ */
.follow-profile { padding-bottom: 15px; }
.follow-profile .followBtnContainer { float: right; }
.follow-profile .medium-profile-picture-container { margin-right: 10px; }
.follow-profile .follow-info { font-size: 12px; color: #777777; }
.follow-profile .follow-info .profile-name { font-size: 18px; color: #777777; }
.follow-profile .follow-info .title { text-transform: uppercase; color: #777777; }
.follow-profile .follow-info .recipe-count { font-size: 15px; color: #68D787; }
.follow-profile .follow-info .reputation-point { font-size: 15px; color: #EB5858; }
.follow-profile .follow-info .follow-date { font-size: 12px; color: #777777; }

@media screen and (max-width: 767px) {
    .follow-profile .profileFollowAction { float: none; display: block; }
    .follow-profile .follow-info { font-size: 10px; }
    .follow-profile .follow-info .profile-name { margin-top: 8px; font-size: 16px; }
    .follow-profile .follow-info .recipe-count { font-size: 13px; }
    .follow-profile .follow-info .reputation-point { font-size: 13px; }
    .follow-profile .follow-info .follow-date { font-size: 10px; }
}

/* ============================================================
 Awards block
 ============================================================ */
.awards-block { margin: 10px 0 19px; }
.awards-block .the-label { color: #777777; font-size: 16px; }
.awards-block .awards { margin: 15px 0; }
.awards-block .award-single { display: inline-block; float: left; width: 36px; height: 36px; margin: 0 15px 15px 0; background: #ddd; border-radius: 5px; text-align: center; line-height: 36px; font-size: 24px; position: relative;  }
.awards-block .award-single:before { content: " "; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: inherit; border-radius: inherit; -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); z-index: 5;  }
.awards-block .award-single:after { content: " "; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: inherit; border-radius: inherit; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -o-transform: rotate(-30deg); -ms-transform: rotate(-30deg); transform: rotate(-30deg); z-index: 5; }
.awards-block .award-single i { position: relative; z-index: 10;  }
.awards-block .award-single, .awards-block .award-single a { color: #fff; }
.awards-block .award-single.black { background: #23242c; }
.awards-block .award-single.red { background: #eb5858; }
.awards-block .award-single.green { background: #89c245; }
.awards-block .award-single.blue { background: #58bde7; }
.awards-block .award-single.orange { background: #f6a856; }
.awards-block .award-single.yellow { background: #f5d554; }
.awards-block .award-single.pink { background: #f15274; }
.awards-block .award-single.purple { background: #9462a4; }
.awards-block .award-single.teal { background: #39cab5; }
.awards-block .award-single.olive { background: #a1b809; }
.awards-block .award-single.dark-gray { background: #5b5e73; }
.awards-block .award-single.gray { background: #9d9fb1; }
.awards-block .award-single.primary { background: #21aabd; }

/* ============================================================
 Profile main menu
 ============================================================ */
#profile-main-menu-block { padding: 0px; }
#profile-main-menu-block .nav-tabs { border-bottom: 1px solid #21AABD; }
#profile-main-menu-block .tab-content .desk-12 { padding: 0; }
#profile-main-menu-block .tab-content #listRecipe #recipeRow { padding: 10px 0px; }
#profile-main-menu-block ul li { display: inline-block; float: left; }
#profile-main-menu-block ul li.active a { border: 0; border-bottom: 3px solid #21AABD; background: none; }
#profile-main-menu-block ul li a { display: block; padding: 10px; cursor: pointer; }
#profile-main-menu-block ul li .count { font-weight: 700; margin-left: 5px; }

/* ============================================================
 REPUTATION PAGE
 ============================================================ */
.profile-reputation { margin: 20px 0; }
.profile-reputation .reputation-event { padding: 5px 0; border-bottom: 1px solid #eee; }
.profile-reputation .reputation-event .points { text-align: center; }
.profile-reputation .reputation-event .points .mark { display: inline-block; min-width: 40px; padding: 1px 3px; font-size: 12px; }
.profile-reputation .reputation-event .date { color: #777777; }
.profile-reputation .reputation-event:nth-child(even) { background: #fafafa; }
.profile-reputation-pagination { margin: 20px 0; }

/* ============================================================
 UPDATE PROFILE FOR COOK FOR ME MODAL
 ============================================================ */
.updateProfileCFM { padding: 20px 0px 20px 10px; }
.updateProfileCFM .form-label { width: 25%; }
.updateProfileCFM input.fullwidth, .updateProfileCFM select.fullwidth, .updateProfileCFM .bfh-selectbox { width: 65%; }
.updateProfileCFM .bfh-selectbox { display: inline-flex; }
.updateProfileCFM .bfh-selectbox .bfh-selectbox-toggle { float: none; }