/* ============================================================
 CREATE, EDIT, REINVENT RECIPE PAGE
 ============================================================ */
.cookForMeLogo { position: absolute; right: 20px; top: 5px; width: 55px; }

.ingredient-template, .direction-template, .category-template, .directionImage-template { display: none; }
.submission-form-repeatable { position: relative; padding: 9.5px 0 19px 20px; margin-bottom: 20px; }
.submission-form-repeatable .accordion_in { position: relative; overflow: visible; }
.submission-form-repeatable .accordion_in .acc_head { position: relative; padding-left: 15px; padding-right: 15px; font-size: 12px; }
.submission-form-repeatable .accordion_in .acc_head .section-title { color: #333333; display: inline-block; min-height: 17px; }
.submission-form-repeatable .accordion_in .acc_head .section-label { float: right; overflow: hidden; max-width: 200px; white-space: nowrap; min-height: 17px; }
.submission-form-repeatable .accordion_in .acc_head .section-title:empty,
.submission-form-repeatable .accordion_in .acc_head .section-label:empty { padding: 0; }
.submission-form-repeatable .accordion_in .acc_head:before { content: " "; display: block; position: absolute; height: 1px; width: 20px; top: 18px; left: -20px; background: #21AABD; }
.submission-form-repeatable .accordion_in.acc_active > .acc_head { border-bottom: 1px dashed; border-color: inherit; }
.submission-form-repeatable .accordion_in.sfa-noindex { display: none; }
.submission-form-repeatable .delete-section { float: right; margin-left: 10px; }
.submission-form-repeatable:after {
    content: " ";
    display: block;
    width: 15px;
    position: absolute;
    bottom: 0;
    top: 27.5px;
    left: 0;
    border-left: 1px solid #21aabd;
}
.submission-form-repeatable-add-new {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background: #21aabd;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: relative;
    margin-bottom: 19px;
    cursor: pointer;
}
.submission-form-repeatable-add-new:before {
    content: " ";
    display: block;
    position: absolute;
    height: 20px;
    width: 1px;
    top: -20px;
    left: 50%;
    background: #21aabd;
}
.submission-form-repeatable-add-new:after {
    content: " ";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    height: 1px;
    width: 50%;
    background: #21aabd;
}
.submission-form-repeatable-add-new:hover { background: #198392; }
.image-uploader input { color: #A27A52; font-size: smaller; }
.image-uploader .coverImage { margin: -10px 0 0; height: 200px; }
.image-uploader .directionImage { margin: -25px 0 0; height: 180px; }
.bfh-selectbox-toggle:hover { color: #23242C; }

/* ============================================================
 LIST RECIPE PAGE
 ============================================================ */
.recipe-thumbnail { padding-bottom: 15px; min-width: 280px; }
.recipe-thumbnail .badge-banner { left: -50px; top: 100px; margin-top: -25px; }
.recipe-thumbnail .thumbnail-title { font-size: 24px; color: #999; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.recipe-thumbnail .thumbnail-photo { overflow: hidden; border-bottom: 1px solid #e7e7e7; }
.recipe-thumbnail .thumbnail-photo a { display: block; height: 250px; margin-right: -8px; background-size: cover !important; }
.recipe-thumbnail .thumbnail-profile { padding: 10px 0; }
.recipe-thumbnail .thumbnail-profile .small-profile-picture-container { margin-right: 10px; }
.recipe-thumbnail .thumbnail-profile .thumbnail-profile-name { font-size: 12px; color: #777777; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.recipe-thumbnail .thumbnail-controls .recipebookcontrol { display: inline-block; float: right; border: 1px solid transparent; background: #F5F5F5; width: 24px; height: 24px; line-height: 24px; text-align: center; font-size: 14px; border-radius: 3px; margin-right: 5px; color: #9d9fb1; }
.recipe-thumbnail .thumbnail-controls .control { display: inline-block; float: left; border: 1px solid transparent; background: #F5F5F5; width: 24px; height: 24px; line-height: 24px; text-align: center; font-size: 14px; border-radius: 3px; margin-right: 5px; color: #777777; }
.recipe-thumbnail .thumbnail-controls .control.thumbnail-to-favourites:hover { color: #f15274; }
.recipe-thumbnail .thumbnail-controls .control.thumbnail-to-favourites.active { color: #FFFFFF; background: #f15274; }
.recipe-thumbnail .thumbnail-controls .control.thumbnail-like:hover { color: #58bde7; }
.recipe-thumbnail .thumbnail-controls .control.thumbnail-like.active { color: #FFFFFF; background: #58BDE7; }
.recipe-thumbnail .thumbnail-controls .control-tip { position: relative; display: inline-block; float: left; background: #FAFAFA; border: 1px solid #DBDBDB; border-radius: 3px; font-size: 12px; color: #808080; padding: 1px 3px; margin: 2px 12px 2px 0; }
.recipe-thumbnail .thumbnail-controls .control-tip:before { content: " "; display: block; width: 6px; height: 6px; background: inherit; border-left: 1px solid; border-bottom: 1px solid; border-color: inherit; position: absolute; top: 50%; left: -4px; margin-top: -4px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.recipe-thumbnail .thumbnail-controls.minimal .control { width: 20px; height: 20px; line-height: 20px; font-size: 13px; background: transparent; border: 0; margin-right: 3px; }
.recipe-thumbnail .thumbnail-controls.minimal .control-tip { background: transparent; border: 0; padding: 0; margin: 0 10px 0 0; font-size: 12px; line-height: 20px; height: 20px; }
.recipe-thumbnail .thumbnail-controls.minimal .control-tip:before { display: none; }
.recipe-thumbnail .thumbnail-controls:before, .recipe-thumbnail .thumbnail-controls:after { content: " "; display: table; padding-top: 1px; }
.recipe-thumbnail .thumbnail-controls:after { clear: both; padding-bottom: 2px; }

.recipe-content { float: left; width: 100%; padding: 20px 0px 20px 20px; margin-top: 10px; border-left: 1px solid #B89C7F; }
.recipe-rows { list-style: none; padding: 0; margin: 20px 0; }
.recipe-rows li { margin-bottom: 5px; }
.recipe-rows li .the-icon { font-size: 16px; line-height: 25px; border-right: 1px solid #5A3418; text-align: center; }
.recipe-rows li .the-text { line-height: 25px; }
.recipe-rows li .entry-info-author { position: relative; margin: 0 0 10px; font-size: 12px; min-height: 50px; overflow: hidden; text-overflow: ellipsis; }
.recipe-rows li .entry-info-author .small-profile-picture-container { margin-right: 10px; }
.recipe-rows li .entry-info-author .author-name { margin-bottom: 5px; }
.recipe-rows li .entry-info-author .button { font-size: inherit; margin: 0; }
.recipe-rows li .entry-info-author .mark { display: inline-block; text-transform: uppercase; font-size: 10px; }
.recipe-rows #cookForMeContainerTrigger { cursor: pointer; margin-left: 20px; }
.recipe-rows #cookForMeContainer { display: none; }

/* ============================================================
 VIEW RECIPE PAGE
 ============================================================ */
.cfm-icon { background: url("../images/cfm.png") no-repeat center center; background-size: 55px; width: 55px; height: 55px; }
.cfm-icon:hover { background: url("../images/cfm-h.png") no-repeat center center; background-size: 55px; width: 55px; height: 55px; }
.cmf-thumb-icon { position: absolute; right: 20px; top: 5px; }
.cmf-img-icon { position: absolute; right: 10px; bottom: 10px; }

.view-recipe .single-recipe-photo-cover { position: relative; margin: -35px 0 0 -20px; overflow-y: hidden; }
.view-recipe .single-recipe-photo-cover .recipe-tools { position: absolute; padding: 10px 0px; width: 100%; left: 0; top: 0; z-index: 10; }
.view-recipe .single-recipe-photo-cover .recipe-tools:before,
.view-recipe .single-recipe-photo-cover .recipe-tools:after { content: " "; display: table; }
.view-recipe .single-recipe-photo-cover .recipe-tools:after { clear: both; }
.view-recipe .single-recipe-photo-cover .recipe-tools .tool {
    position: relative;
    display: inline-block;
    float: right;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    background: #23242c;
    border: 0;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    zoom: 1;
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.view-recipe .single-recipe-photo-cover .recipe-tools .tool .the-icon {
    position: absolute;
    font-size: 28px;
    padding: 10px 0;
    width: 48px;
    height: 48px;
    text-align: center;
}
.view-recipe .single-recipe-photo-cover .recipe-tools .tool:hover {
    zoom: 1;
    filter: alpha(opacity=90);
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active {
    border-color: transparent;
    -webkit-box-shadow: 0 10px 10px -7px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 10px 10px -7px rgba(0,0,0, 0.3);
    box-shadow: 0 10px 10px -7px rgba(0,0,0, 0.3);
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active.like { background: #58BDE7; border-color: #1B8EBE; }
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active.favourite { background: #F15274; border-color: #CC1139; }
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active.collection { background: #89C245; border-color: #547928; }
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active.share { background: #5B5E73; border-color: #2E303A; }
.view-recipe .single-recipe-photo-cover .recipe-tools .tool.active.print { background: #9462A4; border-color: #5B3B65; }

.view-recipe .recipe-ingredients ul, .view-recipe .recipe-ingredients li { margin: 0; padding: 0; list-style: none; }
.view-recipe .recipe-ingredients ul:before, .view-recipe .recipe-ingredients li:before, .view-recipe .recipe-ingredients ul:after, .view-recipe .recipe-ingredients li:after { content: " "; display: table; }
.view-recipe .recipe-ingredients ul:after, .view-recipe .recipe-ingredients li:after { clear: both; }
.view-recipe .recipe-ingredients li .mark-as-ok { position: absolute; width: 20px; height: 20px; text-align: center; font-size: 14px; background: #E4E5EA; border-radius: 20px; left: 0; top: 10px; color: #ffffff; cursor: pointer; }
.view-recipe .recipe-ingredients li .ingredient, .view-recipe .recipe-ingredients li .quantity { display: inline-block; float: left; }
.view-recipe .recipe-ingredients li .ingredient { width: 50%; word-wrap: break-word; }
.view-recipe .recipe-ingredients li .ingredient a { color: #5B5E73; }
.view-recipe .recipe-ingredients li .ingredient a:hover { color: #198392; }
.view-recipe .recipe-ingredients li .quantity { width: 50%; word-wrap: break-word; }
.view-recipe .recipe-ingredients li .quantity .qt-notes { font-size: 12px; color: #72768F; }
.view-recipe .recipe-ingredients li:hover .mark-as-ok { background: #b9BBC8; }
.view-recipe .recipe-ingredients li.active .mark-as-ok { background: #89C245; color: #FFFFFF; }
.view-recipe .recipe-ingredients li.active .ingredient, .view-recipe .recipe-ingredients li.active .ingredient a { color: #89C245; }
.view-recipe .recipe-ingredients li.active .quantity { color: #72768F; }

.view-recipe .recipe-directions ul, .view-recipe .recipe-directions li { margin: 0; padding: 0; list-style: none; }
.view-recipe .recipe-directions ul:before, .view-recipe .recipe-directions li:before, .view-recipe .recipe-directions ul:after, .view-recipe .recipe-directions li:after { content: " "; display: table; }
.view-recipe .recipe-directions ul:after, .view-recipe .recipe-directions li:after { clear: both; }

.view-recipe .recipe-tags .title { font-weight: 700; font-size: 12px; text-transform: uppercase; margin-right: 10px; }
.view-recipe .recipe-tags .tag { display: inline-block; padding: 2px 5px; background: #FFFFFF; border-radius: 3px; margin: 3px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.15); -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.15); box-shadow: 0 1px 1px rgba(0,0,0, 0.15); }
.view-recipe .recipe-tags .tag, .view-recipe .recipe-tags .tag a { color: #666; }
.view-recipe .recipe-tags .tag:hover { background: #21AABD; }
.view-recipe .recipe-tags .tag:hover,
.view-recipe .recipe-tags .tag:hover a { color: #FFFFFF; }

.view-recipe .recipe-headlines { position: relative; border-top: 1px solid #B89C7F; border-bottom: 1px solid #B89C7F; padding: 5px 0px 5px 30px; margin: 50px 0 30px 30px; color: #5A3418; font-size: 20px; }
.view-recipe .recipe-headlines.first { margin-top: 0; }
.view-recipe .recipe-headlines:before,
.view-recipe .recipe-headlines:after {
    content: " ";
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    left: -32px;
    top: 50%;
    margin-top: -20px;
}
.view-recipe .recipe-headlines:before {
    background: rgba(255, 255, 255, 0.50);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.view-recipe .recipe-headlines:after {
    font-family: "FontAwesome";
    text-align: center;
    font-size: 22px;
    padding: 9px 0;
    line-height: 1;
    color: #9d9fb1;
    font-weight: 400;
}
.view-recipe .recipe-headlines.ingredients:after { content: "\f0c3"; color: #58bde7; }
.view-recipe .recipe-headlines.preparation-mode:after { content: "\f0f6"; color: #89c245; }
.view-recipe .recipe-headlines.footnotes:after { content: "\f0eb"; color: #f5d554; }
.view-recipe .recipe-headlines.links:after { content: "\f0c1"; color: #9462a4; }
.view-recipe .recipe-headlines.related:after { content: "\f1ea"; color: #eb5858; }

@media screen and (max-width: 1100px) {
    .recipe-meta li .the-icon { display: none; }
    .recipe-meta li .entry-info-author { padding-left: 0; }
    .recipe-meta li .entry-info-author img { display: none; }
}
@media screen and (max-width: 900px) {
    .view-recipe .recipe-content { width: 100%; padding-right: 0; border-right: 0; }
    .submission-form-repeatable .accordion_in .acc_head .section-label { display: none; }
}

@media screen and (max-width: 768px) {
    .recipe-rows li .grid { width: 85% !important; }
    .recipe-rows li .grid.the-icon { width: 15% !important; }
    .view-recipe .badge-banner { left: -50px; top: 60px; }
    .view-recipe .single-recipe-photo-cover { margin: -40px 0 0 0px; }
    .view-recipe .recipe-content { padding-left: 0; border-left: 0; }
    .view-recipe .recipe-headlines { margin: 50px 0 30px 15px; }
    .view-recipe .list-review .review .review-corner { position: relative; }
    .view-recipe .list-review .review .review-time { padding: 0; margin: 0; }
    .view-recipe .list-review .review .review-rating { margin-bottom: 10px; }
}