/* ============================================================
 LIST RECIPE BOOK PAGE
 ============================================================ */
.no-image { background: url("../images/recipe-noimage.png") no-repeat center center; }
.more-image { background: url("../images/more-image.png") no-repeat center center; }
.recipeBook { overflow: hidden; margin-bottom: 10px; padding: 10px; }
.recipeBook .author-image { float: left; width: 90px; margin-right: 10px; }
.recipeBook .book-details .author-name { font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #5A3418; }
.recipeBook .book-details .title { overflow: hidden; color: #A27A52; }
.recipeBook .book-details .info { color: #666; font-size: 13px; margin-bottom: 5px; }
.recipeBook .book-details .info span { margin-right: 20px; border-right: 1px solid #CCCCCC; }
.recipeBook .mark.nr-of-items { font-size: 10px; text-transform: uppercase; }
.recipeBook .recipe-photo { display: inline-block; margin-right: 5px; }
.recipeBook .recipe-photo a { display: block; width: 120px; height: 120px; background-size: cover !important; }

/* ============================================================
 VIEW RECIPES IN RECIPE BOOK PAGE
 ============================================================ */
.recipe-list .recipe { min-height: 130px; border-bottom: 1px solid #EEEEEE; margin-top: 10px; }
.recipe-list .recipe .recipe-image { float: left; margin-right: 10px; }
.recipe-list .recipe .recipe-image a { width: 150px; height: 120px; background-size: cover !important; }
.recipe-list .recipe .title { font-size: 18px; margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.recipe-list .recipe .recipe-owner-image { float: left; width: 50px; margin-right: 10px; }
.recipe-list .recipe .recipe-description { margin-top: 5px; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 15px; }
.recipe-list .recipe .corner { float: right; }
.recipe-list .recipe .recipe-details { margin-top: 8px; }
.recipe-list .recipe .recipe-details .entry-controls { margin-top: 5px; }
.recipe-list .recipe .mark { font-size: 12px; margin-top: 5px }
.recipe-list .recipe .entry-controls .control { display: inline-block; }


@media screen and (max-width: 767px) {
    .recipeBook .bookRecipes { margin-top: 15px; margin-bottom: 5px; }
}