/* ============================================================
 LIST REVIEWS
 ============================================================ */
.list-review { list-style: none; padding: 0; margin: 30px 0; }
.list-review .review,
.list-review ul { list-style: none; margin: 0; padding: 0; }
.list-review .review-header { position: relative; }
.list-review .avatar { margin: 0; max-width: 80px; max-height: 80px; }
.list-review .content { background: rgba(255, 255, 255, 0.50); padding: 10px; overflow: hidden; }
.list-review .review { min-height: 80px; margin: 10px 0 15px 0; }
.list-review .medium-profile-picture-container { margin-right: 10px; }
.list-review .review-time { display: inline-block; font-size: 12px; padding: 1px 6px; margin-left: 10px; }
.list-review .review-reply { background: #FFFFFF; display: block; padding: 10px 15px; border-top: 1px dashed #EEEEEE; }
.list-review .review-reply:hover { background: #FAFAFA; }
.list-review .review-corner { position: absolute; top: 0; right: 0; font-size: 12px; text-align: right; font-weight: 700; }
.list-review .review-corner .review-counter { padding-left: 30px; text-align: right; }
.list-review .review-corner .control { display: inline-block; padding: 0 5px 1px; background: transparent; color: #CCCCCC; text-align: center; cursor: pointer; }
.list-review .review-corner .control:hover { color: #AAAAAA; }
.list-review .review-corner .upvote.active { color: #58BDE7; }
.list-review .review-corner .downvote.active { color: #EB5858; }
.list-review .review-corner .counter { display: inline-block; padding: 1px; text-align: center; }
.list-review .review-corner .counter.negative { color: #EB5858; }
.list-review ul .review { margin: 0; padding: 0; min-height: 40px; border-top: 1px solid #EEEEEE; }
.list-review ul .review .content { padding: 20px 10px 20px 60px; }
.list-review ul .review .content p:first-of-type { margin-top: 5px; }
.list-review ul .review .avatar { max-width: 40px; max-height: 40px; }
.list-review ul .review .review-avatar { top: 20px; left: 10px; }

.review-form-question { float: right; color: #C8C9D3; }
.review-form-question:hover { color: #5B5E73; }

.form-allowed-tags code { background: transparent; border: 0; }

.review-details .review-rating span { word-wrap: break-word; }