@(user: User, changeForm: Form[_], oldPasswordRequired: Boolean)

@import helper._
@import template._
@import com.feth.play.module.pa.views.html._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	   $('#currentPassword').tooltip({title: "", trigger: "manual", placement:"bottom"});
	   $('#newPassword').tooltip({title: "", trigger: "manual", placement:"bottom"});
	   $('#confirmPassword').tooltip({title: "", trigger: "manual", placement:"bottom"});
	});
</script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title" id="changePasswordModalLabel">@Messages("password.change")</h4>
</div>

<div class="modal-body">
	<div class="changePassword-alert alert-danger"></div>
	@form(controllers.account.routes.Password.changePassword()) {

		@if(changeForm.hasGlobalErrors) {
			<p class="error">
				<span class="label label-danger">@changeForm.globalError.message</span>
			</p>
		}

		<fieldset>
			@if(oldPasswordRequired) {
				@inputPassword(
					changeForm("currentPassword"),
					'placeholder -> Messages("current.password"),
					'noLabel -> "true",
					'class -> "form-control input-lg"
				)
			}

			@inputPassword(
				changeForm("newPassword"),
				'placeholder -> Messages("new.password"),
				'noLabel -> "true",
				'class -> "form-control input-lg"
			)

			@inputPassword(
				changeForm("confirmPassword"),
				'placeholder -> Messages("confirm.password"),
				'noLabel -> "true",
				'class -> "form-control input-lg"
			)
		</fieldset>
		<div class="modal-footer">
			<button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
			<button type="button" id="changePasswordBtn" onclick="changePassword()" class="button blue right">@Messages("password.change")</button>
		</div>
	}
</div>