@(user: User, changeForm: Form[_], oldPasswordRequired: Boolean)

@import helper._
@import template._
@import com.feth.play.module.pa.views.html._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@main(user) {
	<div class="col-xs-12 col-sm-12 clearfix">
		<div class="rw-row w-title">
			<h1>@Messages("password.change")</h1>
		</div>

		<div class="rw-row bubble">
			@form(controllers.account.routes.Password.changePassword()) {
			   
		        @if(changeForm.hasGlobalErrors) { 
		        <p class="error">
		          <span class="label label-danger">@changeForm.globalError.message</span>
		     	</p>
                }
                <fieldset>
                @if(oldPasswordRequired) {
    			   	@inputPassword(
						changeForm("currentPassword"),
    		            'placeholder -> Messages("current.password"),
    		            '_label -> null,
    		            'class -> "form-control input-lg"
    		        )
		        }

			   	@inputPassword(
		            changeForm("newPassword"),
		            'placeholder -> Messages("new.password"),
		            '_label -> null,
		            'class -> "form-control input-lg"
		        )

		        @inputPassword(
		            changeForm("confirmPassword"),
		            'placeholder -> Messages("confirm.password"),
		            '_label -> null,
		            'class -> "form-control input-lg"
		        )
		        </fieldset>
		        
				<input type="submit" value="@Messages("password.change")" class="btn btn-primary"> 
			}
		</div>
    </div>
}