@(user: User=null)

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@main(user, null, null, true) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("resetpassword")</h1>
        </div>

        <div class="rw-row bubble">
            <p>@Messages("resetpassword.mailsent")</p>

            <div class="col-xs-12 col-sm-12 both">
                <a href="@routes.Application.index" class="button blue left">@Messages("back")</a>
            </div>
        </div>
    </div>
}
