@(user:User=null, askForm: Form[_])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@main(user, null, null, true) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("resetpassword")</h1>
        </div>

        <div class="rw-row bubble">
            <p>@Messages("resetpassword.instructions")</p>
            @form(controllers.account.routes.Password.doForgot()) {

                <fieldset>
                    @inputText(
                        askForm("email"),
                        'placeholder -> Messages("email"),
                        'noLabel -> "true",
                        'class -> "form-control input-lg"
                    )
                </fieldset>

                <div class="col-xs-12 col-sm-12 both">
                    <input type="submit" class="button blue left" value="@Messages("reset")"/>
                    <a href="@routes.Application.index" class="button blue left">@Messages("back")</a>
                </div>
            }
        </div>
    </div>
}
