@(resetForm: Form[_])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@scripts = {
	<script src="/javascripts/library/password.js" type="text/javascript"></script>
}

@main(null, null, scripts, true) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("signup.reset.password")</h1>
        </div>

        <div class="rw-row bubble">
            <p>@Messages("password.reset.new_password")</p>

            @form(controllers.account.routes.Password.doResetPassword()) {
                @inputPassword(
                    resetForm("newPassword"),
                    'noLabel -> "true",
                    'placeholder -> Messages("new.password"),
                    'class -> "form-control input-lg"
                )

                @inputPassword(
                    resetForm("confirmPassword"),
                    'noLabel -> "true",
                    'placeholder -> Messages("confirm.password"),
                    'class -> "form-control input-lg"
                )

                @input(
                    resetForm("token"),
                    'noLabel -> "true",
                    '_showConstraints -> false
                ) { (id, name, value, args) =>
                    <input type="hidden" value="@value" name="@name" id="@id" @play.api.templates.PlayMagic.toHtmlArgs(args)>
                }

                <div class="col-xs-12 col-sm-12 both">
                    <input type="submit" class="button blue left" value="@Messages("reset")"/>
                    <a href="@routes.Application.index" class="button blue left">@Messages("back")</a>
                </div>
            }
        </div>
    </div>
}
