@(user: User, order: CookForMeOrders, createReviewForm: Form[controllers.cookForMeReview.CreateCookForMeReview])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(modalInputStyle.render) }

<script src="/javascripts/cookforme.min.js" type="text/javascript"></script>
<script src="/javascripts/cookformereview.min.js" type="text/javascript"></script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title">@Messages("cookForMeReview.create")</h4>
</div>
<div class="modal-body">
	<span class="error label label-danger"></span>
	@form(action = controllers.cookForMeReview.routes.CreateCookForMeReview.postCookForMeReview()) {
		<fieldset>
			<input id="orderId" type="hidden" value="@order.orderId"/>
			@if(user.userId == order.user.userId) {
				@Messages("cookForMeReview.create.desc", Messages("host").toLowerCase)
			} else {
				@Messages("cookForMeReview.create.desc", Messages("diner").toLowerCase)
			}

			@rating(
				createReviewForm("reviewScore"),
				'noLabel -> "true"
			)

			@textarea(
				createReviewForm("comment"),
				'noLabel -> true,
				'style -> "resize: none;",
				'maxlength -> 250,
				'rows -> 2,
				'placeholder -> Messages("review.comment.placeholder"),
				'descriptionCounter -> "true"
			)
		</fieldset>
	}
</div>
<div class="modal-footer">
	@if(order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_COMPLETED) {
		<button class="button blue right" data-dismiss="modal">@Messages("dont.rate")</button>
	} else {
		<button id="completeOrder" class="button blue right" data-dismiss="modal">@Messages("dont.rate")</button>
	}
	<button id="reviewOrder" class="button blue right">@Messages("rate")</button>
</div>