@(review: CookForMeReview)

<script src="/javascripts/cookformereview.min.js" type="text/javascript"></script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title">@Messages("cookForMeReview.delete")</h4>
</div>
<div class="modal-body">
    <label class="control-label">@Messages("review.delete.confirm")</label>
</div>
<div class="modal-footer">
	<button class="button blue right" data-dismiss="modal">@Messages("close")</button>
	<button id="deleteCookForMeReviewBtn" class="button blue right" data-review="@review.reviewId">@Messages("delete") @Messages("review")</button>
</div>