@(review: CookForMeReview)

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<script src="/javascripts/cookformereview.min.js" type="text/javascript"></script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title">@Messages("cookForMeReview.edit")</h4>
</div>
<div class="modal-body">
	<div class="edit-review-alert alert-danger"></div>
	@Messages("cookForMeReview.edit.desc")
    <form role="form">
        <div class="form-input-group text-left padding-bottom-15">
            <input class="rating" id="editRating" name="rating" value="@review.reviewScore" data-show-clear="false" data-show-caption="false" data-step="1" data-size="xs"/>
            <textarea id="comment" placeholder="@Messages("review.comment.placeholder")" class="margin-top-05" maxlength="250" rows="5" cols="30">@if(review.cookForMeReviewComment != null) {@review.cookForMeReviewComment.commentDescription}</textarea>
			<br/>
			<span class="descriptionCounter"></span>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="button blue right" data-dismiss="modal">@Messages("close")</button>
	<button id="updateCookForMeReviewBtn" class="button blue right" data-review="@review.reviewId">@Messages("update") @Messages("review")</button>
</div>