@(user: User, reviewList: java.util.List[CookForMeReview], limit: Integer, orderId: Long)

<div id="reviews" @if(reviewList.size() > 0) { class="rw-row" }>
	@if(reviewList.size() > 0) {
	    <h2>Reviews - @reviewList.size</h2>
	    <ul id="reviewRow" class="list-review">
	        @views.html.cookForMeReview.listReviewRow(user, reviewList, limit)
		</ul>
    }
	
    @if(controllers.cookForMeReview.ViewCookForMeReview.findTotalNumberOfCookForMeReviews(orderId) > limit) {
        <div class="text-center margin-top-10">
            <div id="loadMoreReviews" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
        </div>
    }
</div>
