@(user: User, reviewList: java.util.List[CookForMeReview], limit: Integer)

@import java.lang.Long; var commentId=0L;

@for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(reviewList.size, limit)) {
    <li class="review">
        <div class="review-avatar">
            <a href="@controllers.account.routes.ViewProfile.viewProfileById(reviewList.get(index).user.userId)"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(reviewList.get(index).user.profileImagePath)" alt="@reviewList.get(index).user.firstName @reviewList.get(index).user.lastName"/></a>
        </div>
        <div class="content">
            <div class="review-header">
                <a href="@controllers.account.routes.ViewProfile.viewProfileById(reviewList.get(index).user.userId)" >
                    @reviewList.get(index).user.firstName @reviewList.get(index).user.lastName
                </a>
                <span class="review-time">
                    @if(reviewList.get(index).cookForMeReviewComment != null) {
                        @if(reviewList.get(index).updatedDate != reviewList.get(index).createdDate &&
                                reviewList.get(index).cookForMeReviewComment.updatedDate.before(reviewList.get(index).updatedDate)) {
                            @Messages("review.edit.date") @reviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a");
                        } else {
                            @if(reviewList.get(index).cookForMeReviewComment.updatedDate != reviewList.get(index).cookForMeReviewComment.createdDate) {
                                @Messages("review.edit.date") @reviewList.get(index).cookForMeReviewComment.updatedDate.format("dd MMM yyyy hh:mm a");
                            }
                        }
                    } else {
                        @if(reviewList.get(index).updatedDate != reviewList.get(index).createdDate) {
                            @Messages("review.edit.date") @reviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a");
                        }
                    }

                    @Messages("review.create.date") @reviewList.get(index).createdDate.format("dd MMM yyyy hh:mm a")
                </span>
                <div class="review-corner">
                    @if(user !=null && reviewList.get(index).user.userId == user.userId) {
                        <a href="/updateCookForMeReview/@reviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">Update</a>
                        <a href="/deleteCookForMeReview/@reviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">Delete</a>
                    }
                    @if(reviewList.get(index).cookForMeReviewComment != null) {
                        <div class="review-counter">
                            @{commentId = reviewList.get(index).cookForMeReviewComment.commentId}
                            <div class="counter upvoteCounter">@CookForMeReviewCommentFlag.countUpVoteByComment(commentId)</div>
                            <div class="control @if(user!=null) { upvote } @if(controllers.cookForMeReview.ViewCookForMeReview.getUserUpvoteFlag(commentId)) { active }" data-cid="@commentId"><i class="fa fa-thumbs-up"></i></div>
                            <div class="control @if(user!=null) { downvote } @if(controllers.cookForMeReview.ViewCookForMeReview.getUserDownvoteFlag(commentId)) { active }" data-cid="@commentId"><i class="fa fa-thumbs-down"></i></div>
                            <div class="counter downvoteCounter">@CookForMeReviewCommentFlag.countDownVoteByComment(commentId)</div>
                        </div>
                    }
                </div>
            </div>
            <div class="review-details">
                <div class="review-rating">
                    <input class="rating" value="@reviewList.get(index).reviewScore" data-show-clear="false" data-readonly="true" data-show-caption="false" data-step="1" data-size="xxs"/>
                </div>
                @if(reviewList.get(index).cookForMeReviewComment != null) {
                    <span title="Comments">@reviewList.get(index).cookForMeReviewComment.commentDescription</span>
                }
            </div>
        </div>

        @* <!-- Reviews level 1 -->
        <ul>
            <li class="review">
                <div class="review-avatar">
                    IMAGE
                </div>
                <div class="content">
                    <div class="review-header">
                        <a href="#">NAME</a><span class="review-time">POSTED DATE</span>
                        <div class="review-vote">
                            <div class="control upvote active"><i class="fa fa-caret-up fa-fw"></i></div>
                            <div class="counter">117</div>
                            <div class="control downvote"><i class="fa fa-caret-down fa-fw"></i></div>
                        </div>
                    </div>
                    <p>DESCRIPTION</p>
                </div>
            </li>
        </ul>
        <!-- Reviews level 1 end -->
        <a href="#" class="review-reply"><i class="fa fa-reply"></i> Reply</a>
        *@
    </li>

@*
    <div>
        @if(reviewList.get(index).imagePath != null) {
            <img src="" width="250px" height="200px"/>
        }
    </div>
*@
}