@(user: User, createEventForm: Form[controllers.event.CreateEvent])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@scripts = {
    <script type="text/javascript" charset="utf-8">
		$(function() {
			function split(val) {
				return val.split(/,\s*/);
			}
			function extractLast(term) {
				return split(term).pop();
			}
            
			$("#tags")
				// don't navigate away from the field on tab when selecting an item
				.bind("keydown", function(event) {
					if (event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete("instance").menu.active) {
						event.preventDefault();
					}
				}).autocomplete({
				source : function(request, response) {
					$.getJSON("/getTags?input="+extractLast(request.term), {
                        term: extractLast(request.term)
                    }, response);
				},
				search : function() {
					// custom minLength
					var term = extractLast(this.value);
					if (term.length < 1) {
						return false;
					}
				},
				focus : function() {
					// prevent value inserted on focus
					return false;
				},
				select : function(event, ui) {
					var terms = split(this.value);
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push(ui.item.value);
					// add placeholder to get the comma-and-space at the end
					terms.push("");
					this.value = terms.join(", ");
					return false;
				}
			});
		});
		
		$(document).ready(function() {
			checkMonetizationCode()
		});
				
		$("#monetizationCode").change(function() {
			checkMonetizationCode()
        });
        
		var checkMonetizationCode = function() {
			if($("#monetizationCode").val().toUpperCase() == "PAID") {
				$(".monetization-class-paid").show()
			} else {
				$(".monetization-class-paid").hide()
			}
		}
	</script>
}
@main(user) {
	<div class="col-xs-12 col-sm-12 clearfix">
		<div class="rw-row w-title">
			<h3>@Messages("event.new")</h3>
		</div>

		<div class="rw-row bubble">
			@form(action = controllers.event.routes.CreateEvent.newEvent()) {
                <fieldset>
                    @*
                    @select(
                        createEventForm("monetizationCode"),
                        options = SubsetCode.recipeBookMonetizationOptions(),
                        '_label -> (Messages("monetization.code") + ":"),
                        'help -> Messages("monetization.info.free")
					)
					
                    <div class="monetization-class-paid">
                        @inputText(
                            createEventForm("costPerPax"),
                            '_label -> (Messages("event.costPerPax") + ":"),
                            'addOnInFront -> "$",
                            'min -> "0",
                            'size -> "5",
                            'step -> "0.01",
                            'type -> "number",
                            'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"
                        )
					</div>
                    *@
                    
                    @inputText(
                        createEventForm("eventName"),
                        '_label -> (Messages("event.name") + ":")
                    )
                    
                    @textarea(
                        createEventForm("eventDescription"),
                        '_label -> (Messages("event.description") + ":"),
                        'style -> "resize: none;",
                        'rows -> 5,
                        'cols -> 40
                    )
                    
                    @inputText(
                        createEventForm("maxParticipants"),
                        '_label -> (Messages("event.maxParticipants") + ":"),
                        'min -> "0",
                        'size -> 5,
                        'type -> "number",
                        'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
                    )
                
                </fieldset>
                
                <div class="form-actions">
                    <input type="submit" name="action" class="btn btn-primary" value="@Messages("Create")"/>
                    <input type="submit" name="action" class="btn btn-primary" value="@Messages("draft")"/>
                    <a href="@routes.Dashboard.index" class="btn btn-default">@Messages("back")</a>
                </div>
			}
        </div>
    </div>
}