@(user: User, recipe: Recipe, createReviewForm: Form[controllers.recipeReview.CreateRecipeReview])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".rating").rating();

		var commentTextArea = $("#comment");
		if(commentTextArea.length > 0) {
			var maxLength = parseInt(commentTextArea.attr('maxlength'));
			commentTextArea.closest('.form-input-group').find('.descriptionCounter').text('(Characters left: ' + (maxLength - $(this).val().length) + ')');

			commentTextArea.keyup(function () {
				commentTextArea.closest('.form-input-group').find('.descriptionCounter').text('(Characters left: ' + (maxLength - $(this).val().length) + ')');
			});
		}
	});
</script>

<h2>Leave Review</h2>
<div id="respond" class="comment-respond clearfix">
	@form(action = controllers.recipeReview.routes.CreateRecipeReview.postReview(), 'enctype -> "multipart/form-data", 'id -> "createReviewForm") {
		<fieldset>
			<div class="col-xs-2 col-sm-1 both">
				<input type="hidden" name="recipeId" value="@recipe.recipeId"/>
				<img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(user.profileImagePath)" alt="@user.firstName @user.lastName"/>
			</div>

			<div class="col-xs-10 col-sm-11">
				@rating(
					createReviewForm("reviewScore"),
					'noLabel -> "true"
				)

				@textarea(
					createReviewForm("comment"),
					'noLabel -> true,
					'style -> "resize: none;",
					'maxlength -> 250,
					'rows -> 2,
					'placeholder -> Messages("review.comment.placeholder"),
					'descriptionCounter -> "true"
				)

				@*
				@inputFile(
					createReviewForm("imagePath"),
					'_label -> (Messages("review.directionImage") + ":"),
					'accept -> "image/jpeg, image/png, image/jpg"
				)
				*@

			@if(!user.emailValidated) {
				<p class="form-submit clearfix">
					<input type="button" disabled class="button gray left" value="@Messages("post") @Messages("review")"/>
					<div class="warning">
					@if(user.validationEmailSent == null || controllers.utils.Utilities.getPrevDateByMins(15).after(user.validationEmailSent)) {
						@providers.FTPasswordAuthProvider.getProvider().sendVerifyEmailMailingAfterSignup(user, play.mvc.Http.Context.current())
						@Messages("signup.verify.account.requirement", "use", Messages("title")) @Messages("signup.verify.account")
					} else {
						@Messages("signup.verify_email.sent")
					}</div>
				</p>
			} else {
				<p class="form-submit clearfix">
					<input type="button" id="postReviewBtn" class="button blue left" value="@Messages("post") @Messages("review")"/>
				</p>
			}
			</div>
		</fieldset>
	}
</div>