@(review: RecipeReview)

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title">@Messages("review.delete")?</h4>
</div>
<div class="modal-body">
	<div class="edit-review-alert alert-danger"></div>
    <label class="control-label">@Messages("review.delete.confirm")</label>
</div>
<div class="modal-footer">
	<button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
	<button type="button" id="deleteReviewBtn" class="button blue right" data-review="@review.reviewId">@Messages("delete") @Messages("review")</button>
</div>