@(review: RecipeReview)

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".rating").rating();

		var commentTextArea = $("#comment");
		if(commentTextArea.length > 0) {
			var maxLength = parseInt(commentTextArea.attr('maxlength'));
			commentTextArea.closest('.form-input-group').find('.descriptionCounter').text('(Characters left: ' + (maxLength - commentTextArea.val().length) + ')');

			commentTextArea.keyup(function () {
				commentTextArea.closest('.form-input-group').find('.descriptionCounter').text('(Characters left: ' + (maxLength - commentTextArea.val().length) + ')');
			});
		}
	});
</script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
	</button>
	<h4 class="modal-title">@Messages("review.edit")</h4>
</div>
<div class="modal-body">
	<div class="edit-review-alert alert-danger"></div>
    <form role="form">
		<div class="form-input-group text-left padding-bottom-15">
            <input class="rating" id="editRating" name="rating" value="@review.reviewScore" data-show-clear="false" data-show-caption="false" data-step="1" data-size="xs"/>
            <textarea id="comment" placeholder="@Messages("review.comment.placeholder")" class="margin-top-05" maxlength="250" rows="5" cols="30">@if(review.recipeReviewComment != null) {@review.recipeReviewComment.commentDescription}</textarea>
			<br/>
			<span class="descriptionCounter"></span>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="button blue right" data-dismiss="modal">@Messages("close")</button>
	<button id="updateReviewBtn" class="button blue right" data-review="@review.reviewId">@Messages("update") @Messages("review")</button>
</div>