@(user: User, reviewList: java.util.List[RecipeReview], limit: Integer)

@import java.lang.Long; var commentId=0L;

@for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(reviewList.size, limit)) {
    <li class="review @if(user != null && reviewList.get(index).user.userId == user.userId) { my-review }">
        <a href="@controllers.account.routes.ViewProfile.viewProfileById(reviewList.get(index).user.userId)" class="medium-profile-picture-container pull-left"><img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(reviewList.get(index).user.profileImagePath)" alt="@reviewList.get(index).user.firstName @reviewList.get(index).user.lastName"/></a>
        <div class="content">
            <div class="review-header">
                <div class="review-corner">
                    @if(user != null && reviewList.get(index).user.userId == user.userId) {
                        <a href="/updateRecipeReview/@reviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">Update</a>
                        <a href="/deleteRecipeReview/@reviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">Delete</a>
                    }
                    @if(reviewList.get(index).recipeReviewComment != null) {
                        <div class="review-counter">
                            @{commentId = reviewList.get(index).recipeReviewComment.commentId}
                            <div class="counter upvoteCounter">@RecipeReviewCommentFlag.countUpVoteByComment(commentId)</div>
                            <div class="control@if(user!=null) { upvote}@if(controllers.recipeReview.ViewRecipeReview.getUserUpvoteFlag(commentId)) { active}" data-cid="@commentId"><i class="fa fa-thumbs-up"></i></div>
                            <div class="control@if(user!=null) { downvote}@if(controllers.recipeReview.ViewRecipeReview.getUserDownvoteFlag(commentId)) { active}" data-cid="@commentId"><i class="fa fa-thumbs-down"></i></div>
                            <div class="counter downvoteCounter">@RecipeReviewCommentFlag.countDownVoteByComment(commentId)</div>
                        </div>
                    }
                </div>

                <a href="@controllers.account.routes.ViewProfile.viewProfileById(reviewList.get(index).user.userId)" >
                    @reviewList.get(index).user.firstName @reviewList.get(index).user.lastName
                </a>
                <span class="review-time">
                    @if(reviewList.get(index).recipeReviewComment != null) {
                        @if(reviewList.get(index).updatedDate != reviewList.get(index).createdDate &&
                                reviewList.get(index).recipeReviewComment.updatedDate.before(reviewList.get(index).updatedDate)) {
                            @Messages("review.edit.date") @reviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a");
                        } else {
                            @if(reviewList.get(index).recipeReviewComment.updatedDate != reviewList.get(index).recipeReviewComment.createdDate) {
                                @Messages("review.edit.date") @reviewList.get(index).recipeReviewComment.updatedDate.format("dd MMM yyyy hh:mm a");
                            }
                        }
                    } else {
                        @if(reviewList.get(index).updatedDate != reviewList.get(index).createdDate) {
                            @Messages("review.edit.date") @reviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a");
                        }
                    }

                    @Messages("review.create.date") @reviewList.get(index).createdDate.format("dd MMM yyyy hh:mm a")
                </span>
            </div>
            <div class="review-details">
                <div class="review-rating">
                    <input class="rating" value="@reviewList.get(index).reviewScore" data-show-clear="false" data-readonly="true" data-show-caption="false" data-step="1" data-size="xxs"/>
                </div>
                @if(reviewList.get(index).recipeReviewComment != null && !reviewList.get(index).recipeReviewComment.commentDescription.isEmpty()) {
                    <span title="Comments">@reviewList.get(index).recipeReviewComment.commentDescription</span>
                }
            </div>
        </div>

        @* <!-- Reviews level 1 -->
        <ul>
            <li class="review">
                <div class="review-avatar">
                    IMAGE
                </div>
                <div class="content">
                    <div class="review-header">
                        <a href="#">NAME</a><span class="review-time">POSTED DATE</span>
                        <div class="review-vote">
                            <div class="control upvote active"><i class="fa fa-caret-up fa-fw"></i></div>
                            <div class="counter">117</div>
                            <div class="control downvote"><i class="fa fa-caret-down fa-fw"></i></div>
                        </div>
                    </div>
                    <p>DESCRIPTION</p>
                </div>
            </li>
        </ul>
        <!-- Reviews level 1 end -->
        <a href="#" class="review-reply"><i class="fa fa-reply"></i> Reply</a>
        *@
    </li>

@*
    <div>
        @if(reviewList.get(index).imagePath != null) {
            <img src="" width="250px" height="200px"/>
        }
    </div>
*@
}