@(user: User, order: CookForMeOrders, viewOwnOrders: Boolean)

@import java.util.Calendar; var cal = Calendar.getInstance()
@import java.lang.Long; var commentId = 0L;
@import java.lang.Boolean; var diner = user.userId == order.user.userId;
@{cal.setTime(new Date())}
@import java.util.Calendar; cal.add(Calendar.DATE, controllers.utils.Constants.MIN_ORDER_AMEND_DATE_IN_ADVANCE)
@import java.util.Date; var minOrderAmendDateInAdvance = cal.getTime()

<div id="order-@order.orderId" class="cookformeorder bubble shadow margin-bottom-10">
    @order.orderStatus.subsetCodeValue match {
        case "Rejected" => {
            <div class="badge-banner red">@order.orderStatus.subsetCodeValue</div>
        }
        case "Cancelled" => {
            <div class="badge-banner red">@order.orderStatus.subsetCodeValue</div>
        }
        case "New" => {
            <div class="badge-banner green">@order.orderStatus.subsetCodeValue</div>
        }
        case "Completed" => {
            <div class="badge-banner gray">@order.orderStatus.subsetCodeValue</div>
        }
        case _ => {
            <div class="badge-banner">@order.orderStatus.subsetCodeValue</div>
        }
    }

    <div class="order-entry-info clearfix" data-order="@order.orderId">
        <div class="header clearfix">
            <div class="pull-left">
                @if(order.cookForMe.recipe.user.userId == user.userId) {
                    <a href="@controllers.account.routes.ViewProfile.viewProfileById(order.user.userId)" class="diner-name">@order.user.firstName @order.user.lastName</a> placed an @order.collectionMode.subsetCodeValue.toLowerCase order with you
                } else {
                    You placed an @order.collectionMode.subsetCodeValue.toLowerCase order with <a href="@controllers.account.routes.ViewProfile.viewProfileById(order.cookForMe.recipe.user.userId)" class="diner-name">@order.cookForMe.recipe.user.firstName @order.cookForMe.recipe.user.lastName</a>
                }
                for <strong>@order.servings servings</strong>
            </div>
            <div class="pull-right">
                scheduled for <strong>@order.bookingDate.format("dd MMM yyyy, hh:mm a")</strong>
            </div>
        </div>
        <div class="margin-top-15 clearfix">
            <div class="order-grid col-sm-3 both">
                <div class="recipe-photo">
                    <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(order.cookForMe.recipe.recipeId)" alt="@order.cookForMe.recipe.recipeName" style="background: url(@order.cookForMe.recipe.getCoverPhoto()) no-repeat center center;"></a>
                </div>
                <div class="recipe-title">
                    <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(order.cookForMe.recipe.recipeId)" title="@order.cookForMe.recipe.recipeName by @order.cookForMe.recipe.user.lastName @order.cookForMe.recipe.user.firstName">@order.cookForMe.recipe.recipeName</a> x @order.servings
                </div>
            </div>

            <div class="order-details col-sm-6 alpha order-grid">
                <div class="block"><i class="fa fa-calendar fa-fw"> </i><label>@Messages("request.date")</label>: @order.createdDate.format("dd MMM yyyy, hh:mm a")</div>
                <div class="block"><i class="fa fa-calendar fa-fw"> </i><label>@order.collectionMode.subsetCodeValue @Messages("Date")</label>: @order.bookingDate.format("dd MMM yyyy, hh:mm a")</div>
                @if(order.user.userId == user.userId) {
                    <div class="block"><i class="fa fa-phone fa-fw"> </i><label>@Messages("host") @Messages("profile.contactNumber.short")</label>: @order.cookForMe.recipe.user.contactNumber</div>
                } else {
                    <div class="block"><i class="fa fa-phone fa-fw"> </i><label>@Messages("diner") @Messages("profile.contactNumber.short")</label>: @order.user.contactNumber</div>
                }
                <div class="block"><i class="fa fa-map-o fa-fw"> </i><label>@Messages("cookForMe.collectionMode")</label>: @order.collectionMode.subsetCodeValue</div>

                @if(order.collectionMode.subsetCodeId == controllers.utils.Constants.COLLECTION_MODE_DELIVERY) {
                    @if(order.user.address == null) {
                        @if(!diner &&order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_CANCELLED &&
                            order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_REJECTED) {
                            <div class="block"><i class="fa fa-home fa-fw"> </i><label>@Messages("profile.address")</label>:
                                <a href="#" class="request-address"> @Messages("cookForMeOrder.request.address")</a>
                            </div>
                        }
                    } else {
                        <div class="block"><span class="inline-block vertical-top"><i class="fa fa-home fa-fw"> </i><label>@Messages("profile.address")</label>:</span>
                            <a href="https://www.google.com.sg/maps/search/@order.user.address.addressLine1,+@order.user.address.postalCode" target="_blank">
                                <address>
                                    @order.user.address.addressLine1
                                    @if(!order.user.address.addressLine2.isEmpty()) {
                                        <br>@order.user.address.addressLine2
                                    }
                                    @if(!order.user.address.addressLine3.isEmpty()) {
                                        <br>@order.user.address.addressLine3
                                    }
                                    @if(!order.user.address.countryCode.isEmpty()) {
                                        <br>@order.user.address.countryCode
                                        }
                                    @if(!order.user.address.postalCode.isEmpty()) {
                                        @order.user.address.postalCode
                                    }
                                </address>
                            </a>
                        </div>
                    }
                } else {
                    @if(order.cookForMe.recipe.user.userId != user.userId) {
                        @if(order.cookForMe.recipe.user.address == null) {
                            @if(diner && order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_CANCELLED &&
                                    order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_REJECTED) {
                                <div class="block"><i class="fa fa-home fa-fw"> </i><label>@Messages("host") @Messages("profile.address")</label>
                                    :
                                    <a href="#" class="request-address">@Messages("cookForMeOrder.request.address")</a>
                                </div>
                            }
                        } else {
                            <div class="block"><span class="inline-block vertical-top"><i class="fa fa-home fa-fw"> </i><label>@Messages("host") @Messages("profile.address")</label>
                                :</span>
                                <a href="https://www.google.com.sg/maps/search/@order.cookForMe.recipe.user.address.addressLine1,+@order.cookForMe.recipe.user.address.postalCode" target="_blank">
                                    <address>
                                        @order.cookForMe.recipe.user.address.addressLine1
                                        @if(order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_ACCEPTED ||
                                                order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_COMPLETED) {
                                            @if(!order.cookForMe.recipe.user.address.addressLine2.isEmpty()) {
                                                <br>@order.cookForMe.recipe.user.address.addressLine2
                                            }
                                            @if(!order.cookForMe.recipe.user.address.addressLine3.isEmpty()) {
                                                <br>@order.cookForMe.recipe.user.address.addressLine3
                                            }
                                            @if(!order.cookForMe.recipe.user.address.countryCode.isEmpty()) {
                                                <br>@order.cookForMe.recipe.user.address.countryCode
                                            }
                                            @if(!order.cookForMe.recipe.user.address.postalCode.isEmpty()) {
                                                @order.cookForMe.recipe.user.address.postalCode
                                            }
                                        }
                                    </address>
                                </a>

                            </div>
                        }
                    }
                }

                @if(order.remarks != "") {
                    <div class="block"><i class="fa fa-comments fa-fw"> </i><label>@Messages("cookForMe.remarks")</label>: @order.remarks</div>
                }
            </div>

            <div class="payment-details col-sm-3 both pull-right">
                <div class="block rowline"><i class="fa fa-money fa-fw"> </i><label>@Messages("cookForMe.paymentType") </label>: @order.paymentType.subsetCodeValue</div>
                <div class="block rowline"><i class="fa fa-dollar fa-fw"> </i><label>@Messages("cookForMe.cookForMeCost") </label>: @order.currency @order.cookingCost</div>
                @if(order.collectionMode.subsetCodeId == controllers.utils.Constants.COLLECTION_MODE_DELIVERY) {
                    <div class="block rowline"><i class="fa fa-truck fa-fw"> </i><label>@Messages("cookForMe.deliveryFee")</label>: @order.currency @order.deliveryFee</div>
                }
                <div class="block rowline doublebottom"><i class="fa fa-dollar fa-fw"> </i><label>@Messages("cookForMe.tabulatedCost") </label>: @order.currency @if(order.collectionMode.subsetCodeValue == controllers.utils.Constants.COLLECTION_MODE_DELIVERY) { @order.cookingCost } else { @{order.cookingCost + order.deliveryFee} }</div>

                @if(viewOwnOrders) {
                    @if(diner) {
                        @if(minOrderAmendDateInAdvance.before(order.bookingDate)) {
                            <a href="/cookForMe/updateOrder/@order.orderId" data-toggle="modal" data-target="#modal" id="updateOrderModal">
                                <button type="button" class="button blue modifyBtn">@Messages("update")</button>
                            </a>
                        }
                    } else {
                        @if(order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_NEW) {
                            @if(minOrderAmendDateInAdvance.before(order.bookingDate)) {
                                <button type="button" class="button blue acceptBtn">@Messages("accept")</button>
                                <button type="button" class="button blue rejectBtn">@Messages("reject")</button>
                            }
                        }
                    }

                    @if(order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_ACCEPTED
                            && order.bookingDate.before(new Date())) {
                        <a href="/postCookForMeReview/@order.orderId" data-toggle="modal" data-target="#modal">
                            <button type="button" class="button blue completedBtn">@Messages("complete")</button>
                        </a>
                    }
                    @if(minOrderAmendDateInAdvance.before(order.bookingDate)
                            && order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_COMPLETED
                            && order.orderStatus.subsetCodeId != controllers.utils.Constants.ORDER_STATUS_REJECTED
                            && controllers.cookForMe.ViewCookForMeOrder.cancelOrderRights(order.orderId)) {
                        <button type="button" class="button blue cancelBtn">@Messages("cancel")</button>
                    }
                    @if(order.orderStatus.subsetCodeId == controllers.utils.Constants.ORDER_STATUS_COMPLETED
                        && !controllers.cookForMeReview.ViewCookForMeReview.reviewCreatedForOrder(order.orderId)) {
                        <a href="/postCookForMeReview/@order.orderId" data-toggle="modal" data-target="#modal">
                            <button type="button" class="button blue completedBtn">@Messages("review")</button>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

    @if(order.cookForMeReviewList.size() !=0) {
        <div class="cfm-review">
            <div class="review-toggle">
                <a href="javascript:void(0);">See Reviews <span class="caret"></span></a>
            </div>
            <div class="review-container clearfix">
                @for(index <- 0 until order.cookForMeReviewList.size()) {
                    <div id="review-@order.cookForMeReviewList.get(index).reviewId" class="review-content col-sm-pull-6">
                        @if(order.cookForMeReviewList.get(index).reviewStatus) {
                            <div class="review-corner pull-right">
                                @if(user != null && order.cookForMeReviewList.get(index).user.userId == user.userId) {
                                    <a href="/updateCookForMeReview/@order.cookForMeReviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">
                                        Update</a>
                                    <a href="/deleteCookForMeReview/@order.cookForMeReviewList.get(index).reviewId" data-toggle="modal" data-target="#modal" class="button mini blue">
                                        Delete</a>
                                }
                            </div>
                            <div class="review-header">
                                @if(user != null && order.cookForMeReviewList.get(index).user.userId == user.userId) {
                                    @Messages("cookForMeReview.diner.review")
                                } else {
                                    @Messages("cookForMeReview.host.review")
                                }
                            </div>
                            <div class="review-owner">
                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(order.cookForMeReviewList.get(index).user.userId)" >
                                    @order.cookForMeReviewList.get(index).user.firstName @order.cookForMeReviewList.get(index).user.lastName
                                </a>
                            </div>
                            <div class="review-time">
                                @if(order.cookForMeReviewList.get(index).cookForMeReviewComment != null) {
                                    @if(order.cookForMeReviewList.get(index).updatedDate != order.cookForMeReviewList.get(index).createdDate &&
                                            order.cookForMeReviewList.get(index).cookForMeReviewComment.updatedDate.before(order.cookForMeReviewList.get(index).updatedDate)) {
                                        @Messages("review.edit.date") @order.cookForMeReviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a")
                                        ;
                                    } else {
                                        @if(order.cookForMeReviewList.get(index).cookForMeReviewComment.updatedDate != order.cookForMeReviewList.get(index).cookForMeReviewComment.createdDate) {
                                            @Messages("review.edit.date") @order.cookForMeReviewList.get(index).cookForMeReviewComment.updatedDate.format("dd MMM yyyy hh:mm a");
                                        }
                                    }
                                } else {
                                    @if(order.cookForMeReviewList.get(index).updatedDate != order.cookForMeReviewList.get(index).createdDate) {
                                        @Messages("review.edit.date") @order.cookForMeReviewList.get(index).updatedDate.format("dd MMM yyyy hh:mm a");
                                    }
                                }

                                @Messages("review.create.date") @order.cookForMeReviewList.get(index).createdDate.format("dd MMM yyyy hh:mm a")
                            </div>
                            <div class="review-details">
                                <div class="review-rating">
                                    <input class="rating" value="@order.cookForMeReviewList.get(index).reviewScore" data-show-clear="false" data-readonly="true" data-show-caption="false" data-step="1" data-size="xxs"/>
                                </div>
                                @if(order.cookForMeReviewList.get(index).cookForMeReviewComment != null) {
                                    <span title="Comments">@order.cookForMeReviewList.get(index).cookForMeReviewComment.commentDescription</span>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
