@(user: User, CRUD: String, recipe: Recipe, cookForMeOrderForm: Form[_])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(modalInputStyle.render) }
@import java.util.ArrayList; var collectionModeList = SubsetCode.getCollectionMode();
@import java.lang.Double; var individualCookForMeCost = 0.0;

<link rel="stylesheet" href="/stylesheets/library/bootstrap-datetimepicker.min.css">

<script src="/javascripts/library/moment.min.js" type="text/javascript"></script>
<script src="/javascripts/library/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/javascripts/cookforme.min.js" type="text/javascript"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
    </button>
    <h4 class="modal-title">
    @if(CRUD.equals(Messages("create"))) {
        @Messages("cookForMe.placeOrder")
    }
    @if(CRUD.equals(Messages("update"))) {
        @Messages("cookForMe.updateOrder")
    }</h4>
</div>
<div class="modal-body">
    <div class="new-order-alert alert-danger"></div>
    <span>@Messages("cookForMe.placeOrder.msg")</span>
    @form(controllers.cookForMe.routes.CreateCookForMeOrder.placeRecipeOrder()) {
        @if(cookForMeOrderForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@cookForMeOrderForm.globalError.message</span>
            </p>
        }

        <fieldset class="margin-top-10">
            @inputText(
                cookForMeOrderForm("bookingDate"),
                '_label -> (Messages("cookForMe.bookingDate") + ":"),
                'description -> Messages("cookForMe.bookingDate.description", controllers.utils.Constants.MIN_ORDER_BOOKING_DATE_IN_ADVANCE),
                'tooltip -> Messages("cookForMe.bookingDate.tooltip"),
                'placeholder -> "dd/mm/yyyy hh:mi",
                'class -> "fullwidth",
                'maxlength -> 16
            )

            @inputText(
                cookForMeOrderForm("servings"),
                '_label -> (Messages("recipe.servings") + ":"),
                'class -> "fullwidth",
                'description -> Messages("cookForMeOrder.servings.description"),
                'min -> "0",
                'size -> 5,
                'type -> "number",
                'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
            )

            @select(
                cookForMeOrderForm("collectionMode"),
                options = SubsetCode.cookForMeCollectionModeOptions(recipe),
                '_label -> (Messages("cookForMe.collectionMode") + ":"),
                'class -> "fullwidth"
            )

            @select(
                cookForMeOrderForm("paymentType"),
                options = SubsetCode.allPaymentTypeOptions(),
                '_label -> (Messages("cookForMe.paymentType") + ":"),
                'tooltip -> Messages("cookForMe.paymentType.description"),
                'class -> "fullwidth"
            )

            @if(recipe.cookForMe != null) {
                @inputText(
                    cookForMeOrderForm("cookForMeCost"),
                    '_label -> (Messages("cookForMe.cookForMeCost") + ":"),
                    'description -> Messages("cookForMeOrder.cookForMeCost.description"),
                    'noElement -> "true",
                    'additionalLabelText -> recipe.cookForMe.currency,
                    'class -> "fullwidth"
                )

                @inputText(
                    cookForMeOrderForm("deliveryFee"),
                    '_label -> (Messages("cookForMe.deliveryFee") + ":"),
                    'description -> Messages("cookForMeOrder.deliveryFee.description"),
                    'noElement -> "true",
                    'additionalLabelText -> recipe.cookForMe.currency,
                    'class -> "fullwidth"
                )

                @{individualCookForMeCost = recipe.cookForMe.cookingCost / recipe.servings}
                <input type="hidden" id="individualCookForMeCost" value="@individualCookForMeCost">
                <input type="hidden" id="deliveryCollectionMode" value="@controllers.utils.Constants.COLLECTION_MODE_DELIVERY">
            }

            @textarea(
                cookForMeOrderForm("remarks"),
                '_label -> (Messages("cookForMe.remarks") + ":"),
                'description -> Messages("cookForMeOrder.remarks.description"),
                'class -> "fullwidth",
                'style -> "resize: none;",
                'rows -> 1,
                'maxlength -> 250
            )
        </fieldset>

        <div class="form-label inline-block">
            <label for="totalCookForMeCost">Total Cooking Cost: SGD</label>
            <label id="totalCookForMeCost" name="totalCookForMeCost">@recipe.cookForMe.cookingCost</label>
        </div>
    }
</div>
<div class="modal-footer">
    <button class="button blue right" data-dismiss="modal">@Messages("close")</button>
    @if(CRUD.equals(Messages("create"))) {
        <button id="placeCFMOrder" class="button blue right">@Messages("cookForMe.placeOrder")</button>
    }
    @if(CRUD.equals(Messages("update"))) {
        <button id="updateCFMOrder" class="button blue right">@Messages("cookForMe.updateOrder")</button>
    }
</div>