@(user: User, orderList: java.util.List[CookForMeOrders], limit: Integer, loadMore: Boolean, viewOwnOrders: Boolean)

<div id="orderRow">
    @if(orderList.isEmpty && !loadMore) {

        @Messages("cookForMeOrders.no.records")
        @if(viewOwnOrders) {
            @Html(Messages("cookForMeOrders.no.records.start", controllers.recipe.routes.ViewRecipe.initListLatestRecipeForm()))
        }

    } else {
        @for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(orderList.size, limit)) {
            @views.html.cookForMe.cookForMeOrderThumbnail(user, orderList.get(index), viewOwnOrders)
        }
    }

    @if(loadMore) {
        <div class="text-center margin-top-10">
            <div id="loadMoreOrder" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
        </div>
    }
</div>