@(user: User, title: String, cookForMeHostOrderList: java.util.List[CookForMeOrders], cookForMeDinerOrderList: java.util.List[CookForMeOrders], limit: Integer, displayMainComponent: Boolean = false, viewOwnOrders: Boolean)

@import helper._
@import java.util.ArrayList; var orderStatusList = SubsetCode.getOrderStatus();
@import models.SubsetCode; var completedCode = controllers.utils.Constants.SUBSETCODE_ORDER_STATUS_COMPLETED;

@styles = {
    <link rel="stylesheet" href="/stylesheets/library/star-rating.min.css">
	<link rel="stylesheet" href="/stylesheets/cookforme.css">
    <link rel="stylesheet" href="/stylesheets/library/daterangepicker.css">
}

@scripts = {
    <script src="/javascripts/library/star-rating.min.js" type="text/javascript"></script>
    <script src="/javascripts/library/moment.min.js" type="text/javascript"></script>
    <script src="/javascripts/library/daterangepicker.js" type="text/javascript"></script>
    <script src="/javascripts/cookforme.min.js" type="text/javascript"></script>
    <script src="/javascripts/cookformereview.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            initCreatedDate(null, null, "All Days");
            processCookingDate(moment(), moment(), "Today");
        });
    </script>
}

@if(displayMainComponent) {
    @main(user, styles, scripts) {
        <div class="col-xs-12 col-sm-12 clearfix">
            <div class="rw-row w-title">
                <h1>@title</h1>
            </div>
            <div class="rw-row col-xs-12 col-sm-12 clearfix">
                <div id="ordertype" class="dropdown filteritem pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="ddlabel">Orders From</span><span class="ddselected" value="0">Anyone</span><span class="fa fa-caret-down fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ordertype">
                        <li><a href="#" value="0">Anyone</a></li>
                        <li><a href="#" value="1">Me</a></li>
                        <li><a href="#" value="2">Others</a></li>
                    </ul>
                </div>

                <div id="statusselect" class="dropdown filteritem pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="ddlabel">Order Status</span><span class="ddselected" value="0">All</span><span class="fa fa-caret-down fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="status">
                        <li><a href="#" value="0">All</a></li>
                        @for(index <- 0 until orderStatusList.size()) {
                            <li><a href="#" value="@orderStatusList.get(index).subsetCodeId">@orderStatusList.get(index).subsetCodeValue</a></li>
                        }
                    </ul>
                </div>

                <div id="day" class="dropdown filteritem pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="ddlabel">Orders For</span><span class="ddselected" value="0-0">Today</span><span class="fa fa-caret-down fa-fw"></span>
                    </button>
                </div>

                <div id="created" class="dropdown filteritem pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="ddlabel">Orders Placed</span><span class="ddselected" value="0-0">Today</span><span class="fa fa-caret-down fa-fw"></span>
                    </button>
                </div>
            </div>
            <div class="con-divider clearfix"></div>

            <div class="rw-row clearfix" data-who="@user.userId">
                <div class="col-xs-12 col-sm-12">
                    @views.html.cookForMe.listCookForMeOrdersRow(user, cookForMeHostOrderList, limit, false, viewOwnOrders)
                </div>
            </div>
        </div>
    }
} else {
    @styles
    @scripts
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row clearfix" data-who="@user.userId">
            <div class="col-xs-12 col-sm-6 alpha">
                <div class="order-subheader">
                    <h2>@Messages("cookForMeOrders.incoming") </h2>

                    <select id="hostOrderSelection">
                    @if(viewOwnOrders) {
                        <option value="0">All</option>
                        @for(index <- 0 until orderStatusList.size()) {
                            <option value="@orderStatusList.get(index).subsetCodeId">@orderStatusList.get(index).subsetCodeValue</option>
                        }
                    } else {
                        <option value="@completedCode.subsetCodeId">@completedCode.subsetCodeValue</option>
                    }
                    </select>
                </div>
                <div id="hostOrderRow">
                    @if(viewOwnOrders) {
                        @views.html.cookForMe.listCookForMeOrdersRow(user, cookForMeHostOrderList, limit, false, viewOwnOrders)
                    } else {
                        @views.html.cookForMe.listCookForMeOrdersRow(user, cookForMeHostOrderList, limit, false, viewOwnOrders)
                    }
                </div>

                @if(cookForMeHostOrderList.size >= controllers.utils.Constants.MAX_COOK_FOR_ME_ORDER_FETCH_LIMIT) {
                    <div class="text-center margin-top-10">
                        <div id="loadMoreHostOrder" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
                    </div>
                }
            </div>

            <div class="col-xs-12 col-sm-6 omega">
                <div class="order-subheader">
                    <h2>@Messages("cookForMeOrders.outgoing") </h2>

                    <select id="dinerOrderSelection">
                        @if(viewOwnOrders) {
                            <option value="0">All</option>
                            @for(index <- 0 until orderStatusList.size()) {
                                <option value="@orderStatusList.get(index).subsetCodeId">@orderStatusList.get(index).subsetCodeValue</option>
                            }
                        } else {
                            <option value="@completedCode.subsetCodeId">@completedCode.subsetCodeValue</option>
                        }
                    </select>
                </div>
                <div id="dinerOrderRow">
                    @if(viewOwnOrders) {
                        @views.html.cookForMe.listCookForMeOrdersRow(user, cookForMeDinerOrderList, limit, false, viewOwnOrders)
                    } else {
                        @views.html.cookForMe.listCookForMeOrdersRow(user, cookForMeDinerOrderList, limit, false, viewOwnOrders)
                    }
                </div>

                @if(cookForMeDinerOrderList.size >= controllers.utils.Constants.MAX_COOK_FOR_ME_ORDER_FETCH_LIMIT) {
                    <div class="text-center margin-top-10">
                        <div id="loadMoreDinerOrder" class="btn">Load More <i class="fa fa-caret-down fa-fw"></i></div>
                    </div>
                }
            </div>
        </div>
    </div>
}