@(name: String, from: String, comment: String)
Dear @name,
<br />
<p>
	@Html(comment)
	<br />
	If you have any questions, do feel free to contact us at support@@thefoodtopic.com
</p>

<p>
	Cheers,<br />
	<i>The FoodTopic Team</i>
</p>