@(to_Name: String, from: String, comment: String)
Dear @to_Name,
<br />
<br />
<p>
	Someone just drop us a message.<br />
</p>

<p> 
    --- START --- <br />
    <i>
    	From: @from<br />
    	
    	Message: @comment<br />
	</i>
	--- END --- <br />
</p>
<p>
	Cheers,<br /> 
	<i>The FoodTopic Team</i>
</p>