@(verificationUrl: String, token: String, name: String, email: String)
Dear @name,
<br />
<p>
	Thank you for signing up with FoodTopic. <br />
	<br />
	Follow this link to <a href="@verificationUrl">activate your account</a> now.
	<br />
	Once your account has been activated, you will be able to access FoodTopic and all it's features.
    <br />
    We can't wait for see what creative new recipes you can come up with. Get started now!
    <br />
    If you have any questions, do feel free to contact us at support@@thefoodtopic.com
</p>

<p>
	Cheers,<br /> 
	<i>The FoodTopic Team</i>
</p>
