@(user: User, recipe: Recipe)

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }
@import java.lang.Boolean; var exist=false;

<link rel="stylesheet" href="/stylesheets/library/chosen.min.css">

<script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/addrecipebook.min.js" type="text/javascript"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
    </button>
    <h4 class="modal-title" id="addFavModalLabel">@Messages("recipe.add.to.book")</h4>
</div>
<div class="modal-body">
    <form role="form">
        <label for="recipeBookList" class="control-label margin-top-08 pull-left">@Messages("recipeBook"):</label>
        <select id="recipeBookList" name="recipeBookList" multiple="multiple">
            @for(userRecipeBook <- user.recipeBookList) {
                @if(userRecipeBook.bookRecipeList.size > 0) {
                    @{exist=false};
                    @for(bookRecipe <- userRecipeBook.bookRecipeList) {
                        @if(bookRecipe.recipe == recipe && bookRecipe.bookRecipeStatus) {
                        @{exist=true};
                            <option value="@userRecipeBook.recipeBookId" selected>@userRecipeBook.bookName</option>
                        }
                    }
                    @if(!exist) {
                        <option value="@userRecipeBook.recipeBookId">@userRecipeBook.bookName</option>
                    }
                } else {
                    <option value="@userRecipeBook.recipeBookId">@userRecipeBook.bookName</option>
                }
            }
        </select>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
    <button type="button" id="saveFavBtn" class="button blue right" data-recipe="@recipe.recipeId">@Messages("save")</button>
</div>