@(user: User, createRecipeForm: Form[controllers.recipe.CreateRecipe])

@import helper._
@import template._
@import java.util.ArrayList; var collectionModeList = SubsetCode.getCollectionMode();
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@styles = {
	<link rel="stylesheet" href="/stylesheets/library/chosen.min.css">
	<link rel="stylesheet" href="/stylesheets/library/jquery.tagit.min.css">
	<link rel="stylesheet" href="/stylesheets/recipe.min.css">
    <link rel="stylesheet" href="/stylesheets/library/bootstrap-formhelpers.min.css">
}

@scripts = {
	<script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/library/tag-it.min.js" type="text/javascript"></script>
	<script src="/javascripts/recipe.min.js" type="text/javascript"></script>
    <script src="/javascripts/library/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    <script src="/javascripts/library/bootstrap-formhelpers-currencies.min.js" type="text/javascript"></script>
}

@ingredientGroup(field: Field, className: String = "ingredient")(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
    <div class="@className">
        <span class="section-title mark light-brown">@Messages("recipe.ingredient")</span>
        <span class="delete-section mark red" title="Delete"><i class="removeIngredient fa fa-close"></i></span>
        <span class="ingredientNumber section-label mark blue" id="ingredientTitle">1</span>

        <div class="clearfix">
            <div class="col-xs-12 col-sm-6">
                @inputText(
                    field("ingredientName"),
                    '_label -> (Messages("recipe.ingredientName") + ":"),
                    'class -> "fullwidth this-section-title-field",
                    'maxlength -> 250
                )
            </div>
            <div class="col-xs-12 col-sm-3">
                @inputText(
                    field("ingredientQuantity"),
                    '_label -> (Messages("recipe.ingredientQuantity") + ":"),
                    'class -> "fullwidth this-section-label-field",
                    'maxlength -> 20
                )
            </div>
            <div class="col-xs-12 col-sm-3">
                @inputText(
                    field("ingredientUnit"),
                    '_label -> (Messages("recipe.ingredientUnit") + ":"),
                    'class -> "fullwidth this-section-label-field",
                    'maxlength -> 20
                )
            </div>
        </div>
    </div>
}

@directionGroup(field: Field, className: String = "direction")(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
    <div class="@className">
        <span class="section-title mark light-brown">@Messages("recipe.direction")</span>
        <span class="delete-section mark red" title="Delete"><i class="removeDirection fa fa-close"></i></span>
        <span class="directionNumber section-label mark blue" id="directionTitle">1</span>

        <div class="clearfix">
            <div class="col-xs-12 col-sm-7">
                @textarea(
                    field("directionDescription"),
                    '_label -> (Messages("recipe.directionDescription") + ":"),
                    'style -> "resize: none;",
                    'rows -> 9,
                    'description -> Messages("recipe.directionDescription.description"),
                    'class -> "fullwidth this-section-title-field",
                    'descriptionCounter -> "true",
                    'maxlength -> 250
                )
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="form-input-group">
                    <div class="form-label"><label>@Messages("recipe.directionImage")</label></div>
                    <div class="form-description">You can upload only <ins>1</ins> image that has a maximum size of <ins>500kb</ins>.</div>
                    <div class="image-uploader">
                        @inputFile(
                            field("imagePath"),
                            'noLabel -> "true",
                            'accept -> "image/jpeg, image/png, image/jpg",
                            'class -> "fullwidth imagePathClass"
                        )
                        <img id="directionImage" class="directionImage" src="@field("imagePath").value.toString()"/>
                        @*<span class="remove" title="Remove"><i class="fa fa-trash"></i></span>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("recipe.create.new")</h1>
        </div>

        <div class="rw-row bubble">
            @form(action = controllers.recipe.routes.CreateRecipe.postRecipe(), 'enctype -> "multipart/form-data") {
                <fieldset>
                    <div class="col-xs-12 col-sm-6 alpha">
                        @select(
                            createRecipeForm("privacyCode"),
                            options = SubsetCode.allPrivacyOptions(),
                            '_label -> (Messages("privacy.code") + ":"),
                            'description -> Messages("recipe.privacy.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-6 omega">
                        @select(
                            createRecipeForm("categoryList"),
                            options = Category.allCategoryOptions(),
                            '_label -> (Messages("recipe.category") + ":"),
                            'multiple -> "multiple",
                            'description -> Messages("recipe.category.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-7 alpha">
                        @inputText(
                            createRecipeForm("recipeName"),
                            '_label -> (Messages("recipe.name") + ":"),
                            'class -> "fullwidth",
                            'maxlength -> 250
                        )

                        @textarea(
                            createRecipeForm("recipeDescription"),
                            '_label -> (Messages("recipe.description") + ":"),
                            'description -> Messages("recipe.description.description"),
                            'class -> "fullwidth",
                            'style -> "resize: none;",
                            'rows -> 6,
                            'maxlength -> 500
                        )
                    </div>

                    <div class="col-xs-12 col-sm-5 omega">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.cover.photo")</label></div>
                            <div class="form-description">You can upload only <ins>@SubsetCode.getNumberOfCoverPhotosLimit()</ins> image that has a maximum size of <ins>500kb</ins>.</div>
                            <div class="image-uploader">
                                @inputFile(
                                    createRecipeForm("coverPhoto"),
                                    'multiple -> "multiple",
                                    'noLabel -> "true",
                                    'accept -> "image/jpeg, image/png, image/jpg"
                                )

                                @for(index <- 0 until SubsetCode.getNumberOfCoverPhotosLimit()) {
                                    @*<div class="image">*@
                                        <img class="coverImage" id="coverImage" src="/images/recipe-noimage.png"/>
                                        @*<span class="remove" title="Remove"><i class="fa fa-trash"></i></span>*@
                                    @*</div>*@
                                }
                            </div>
                        </div>
                    </div>

                    @*
                    <div class="col-xs-12 col-sm-8 alpha">
                        @select(
                            createRecipeForm("monetizationCode"),
                            options = SubsetCode.allMonetizationOptions(),
                            '_label -> (Messages("monetization.code") + ":"),
                            'description -> Messages("monetization.info.free")
                        )

                        <b>@Messages("recipe.monetization.code"):</b>
                        <div class="btn-group" data-toggle="buttons">
                            @inputRadioGroup(
                                createRecipeForm("monetizationCode"),
                                options = SubsetCode.allMonetizationOptions(),
                                '_label -> (Messages("monetization.code") + ":"),
                                'description -> Messages("monetization.info.free")
                            )
                        </div>
                        <div class="monetization-info">
                            <p class="monetization-info-free">Messages("recipe.monetization.info.free")</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 omega">
                        @inputText(
                            createRecipeForm("price"),
                            '_label -> (Messages("recipe.price") + ":"),
                            'addOnInFront -> "$",
                            'min -> "0",
                            'size -> "5",
                            'step -> "0.01",
                            'type -> "number",
                            'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-8 alpha">
                        @select(
                            createRecipeForm("recipeBookList"),
                            options = RecipeBook.allRecipeBookOptions(user.userId),
                            '_label -> (Messages("recipeBook") + ":"),
                            'multiple -> "multiple"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-4 omega">
                    </div>
                    *@

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="col-xs-12 col-sm-6 alpha">
                            @select(
                                createRecipeForm("difficulty"),
                                options = SubsetCode.allRecipeDifficultyOptions(),
                                '_label -> (Messages("recipe.difficulty") + ":"),
                                'description -> Messages("recipe.difficulty.description"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6 omega">
                            @checkbox(
                                createRecipeForm("cookForMe"),
                                '_label -> None,
                                'description -> Messages("cookForMe.description"),
                                'descriptiontooltip -> Messages("cookForMe.tooltip"),
                                '_text -> Messages("Cook For Me")
                            )

                            <a data-toggle="modal" data-target="#modal" id="updateProfileModal"></a>
                        </div>
                    </div>

                    <div id="cookForMeContainer" class="col-xs-12 col-sm-12 both bubble">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-input-group">
                                <div class="form-label">
                                    <label>@Messages("cookForMe.collectionMode"):</label>
                                    @if(createRecipeForm("collectionMode").errors.size > 0) {
                                    <label class="error-message">@createRecipeForm("collectionMode").errors.get(0).message</label>
                                    }
                                </div>
                                <div class="form-description">Collection Mode that you (Host) allows the Diner to engage you in</div>
                                @for(i <- 0 to collectionModeList.size() - 1) {
                                    @defining(i) { count =>
                                        @defining(collectionModeList.get(i)) { v =>
                                            <div class="form-input-group">
                                                <input type="checkbox" name="collectionMode[@count]" class="collectionMode" value="@v.subsetCodeId" @if(v.subsetCodeId != controllers.utils.Constants.COLLECTION_MODE_DELIVERY) {data-profile-required="true"} @for(j <- 0 to collectionModeList.size() - 1) { @if(createRecipeForm("collectionMode["+ j +"]").valueOr("").equals(v.subsetCodeId.toString())) { checked="checked" } }>
                                                <span>@v.subsetCodeValue</span>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            @select(
                                createRecipeForm("paymentType"),
                                options = SubsetCode.allPaymentTypeOptions(),
                                '_label -> (Messages("cookForMe.paymentType") + ":"),
                                'tooltip -> Messages("cookForMe.paymentType.description"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6 margin-bottom-15">
                            @inputText(
                                createRecipeForm("currency"),
                                '_label -> (Messages("cookForMe.currency") + ":"),
                                'description -> Messages("cookForMe.currency.description"),
                                'bootstrap_helper -> "currency",
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            @inputText(
                                createRecipeForm("cookForMeCost"),
                                '_label -> (Messages("cookForMe.cookForMeCost") + ":"),
                                'description -> Messages("cookForMe.cookForMeCost.description"),
                                'addOnInFront -> "$",
                                'min -> "0",
                                'size -> "5",
                                'step -> "0.1",
                                'type -> "number",
                                'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46",
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            @inputText(
                                createRecipeForm("deliveryFee"),
                                '_label -> (Messages("cookForMe.deliveryFee") + ":"),
                                'description -> Messages("cookForMe.deliveryFee.description"),
                                'addOnInFront -> "$",
                                'min -> "0",
                                'size -> "5",
                                'step -> "0.1",
                                'type -> "number",
                                'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46",
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            @textarea(
                                createRecipeForm("cookForMeRemarks"),
                                '_label -> (Messages("cookForMe.remarks") + ":"),
                                'description -> Messages("cookForMe.remarks.description"),
                                'class -> "fullwidth",
                                'style -> "resize: none;",
                                'rows -> 1,
                                'maxlength -> 250
                            )
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="col-xs-12 col-sm-6 alpha">
                            @inputText(
                                createRecipeForm("preparationTime"),
                                '_label -> (Messages("recipe.preparationTime") + ":"),
                                'class -> "fullwidth",
                                'description -> Messages("recipe.preparationTime.description"),
                                'min -> "0",
                                'size -> 5,
                                'type -> "number",
                                'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6 omega">
                            @inputText(
                                createRecipeForm("servings"),
                                '_label -> (Messages("recipe.servings") + ":"),
                                'class -> "fullwidth",
                                'description -> Messages("recipe.servings.description"),
                                'min -> "0",
                                'size -> 5,
                                'type -> "number",
                                'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
                            )
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.ingredients")</label></div>
                            <div class="form-description">@Messages("recipe.ingredient.description")</div>

                            <ul class="submission-form-repeatable">
                                @repeat(createRecipeForm("recipeIngredientList"), min = 1) { ingredient =>
                                    @ingredientGroup(ingredient)
                                }

                                @* Keep an hidden block that will be used as template for Javascript copy code *@
                                @ingredientGroup(
                                    createRecipeForm("recipeIngredientList[0]"),
                                    className = "ingredient-template sfa-noindex"
                                )
                            </ul>

                            <div id="addIngredient" class="submission-form-repeatable-add-new"><i class="the-icon fa fa-plus"></i> Add new</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.directions")</label></div>
                            <div class="form-description">@Messages("recipe.direction.description")</div>

                            <ul class="submission-form-repeatable">
                                @repeat(createRecipeForm("recipeDirectionList"), min = 1) { direction =>
                                    @directionGroup(direction)
                                }

                                @* Keep an hidden block that will be used as template for Javascript copy code *@
                                @directionGroup(
                                    createRecipeForm("recipeDirectionList[0]"),
                                    className = "direction-template sfa-noindex"
                                )
                            </ul>

                            <div id="addDirection" class="submission-form-repeatable-add-new"><i class="the-icon fa fa-plus"></i> Add new</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9 both">
                        @inputText(
                            createRecipeForm("tags"),
                            '_label -> (Messages("tags.code") + ":"),
                            'description -> Messages("tag.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <input type="submit" name="action" class="button blue left" value="@Messages("publish")"/>
                        <input type="submit" name="action" class="button blue left" value="@Messages("draft")"/>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}