<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
    </button>
    <h4 class="modal-title">@Messages("acknowledgement")</h4>
</div>
<div class="modal-body">
    <label class="control-label">@Messages("recipe.edit.save.new.version")</label>
</div>
<div class="modal-footer">
    <button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
    <button type="button" id="acknowledgeBtn" class="button blue right">@Messages("update")</button>
</div>