@(user: User, title: String, recipeList: java.util.List[Recipe], limit: Integer, displayMainComponent: Boolean = false)

@import models.Recipe; var similarRecipe = if(!recipeList.isEmpty) { recipeList.get(0); } else { null; }

@styles = {
	<link rel="stylesheet" href="/stylesheets/library/chosen.min.css">
	<link rel="stylesheet" href="/stylesheets/recipe.min.css">
}

@scripts = {
    <script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/listrecipe.min.js" type="text/javascript"></script>
}

@if(displayMainComponent) {
    @main(user, styles, scripts) {
        <div class="col-xs-12 col-sm-12 clearfix">
            <div id="listRecipeTitle" class="rw-row w-title">
                @if(title.equals(Messages("recipe.similar"))) {
                    @recipeList.remove(0);
                    <h3>@title</h3>
                } else {
                    <h1>@title</h1>
                }
            </div>

            <div id="recipeRow" class="rw-row clearfix">
                @views.html.recipe.listRecipeRow(recipeList, limit)
            </div>

            <div class="text-center margin-top-10">
                <div id="loadMoreRecipe" class="btn" @if(user != null) { data-who="@user.userId" } data-similar="@if(title.equals(Messages("recipe.similar")) && similarRecipe != null) { @similarRecipe.recipeId }">Load More <i class="fa fa-caret-down fa-fw"></i></div>
            </div>
        </div>
    }
} else {
    @scripts
    <div class="col-xs-12 col-sm-12 both clearfix">
        @if(title != null) {
            <div id="listRecipeTitle" class="w-title">
                @if(title.equals(Messages("recipe.similar"))) {
                    <h3>@title</h3>
                } else {
                    <h1>@title</h1>
                }
            </div>
        }

        @if(recipeList.size > 0) {
            <div id="recipeRow" class="rw-row clearfix">
                @views.html.recipe.listRecipeRow(recipeList, limit)
            </div>
            @*
            <div class="button-block right">
                <a class="button mini nobg teal" href="#">← Prev</a>
                @for(index <- 0 until controllers.utils.Utilities.getPaginationOrder(recipeList.size, limit)) {
                    <a class="button mini nobg teal" href="#">@index</a>
                }
                <a class="button mini nobg teal" href="#">Next →</a>
            </div>
            *@
        }
        @*
        <div class="text-center margin-top-10">
            <div id="loadMoreRecipe" class="btn" data-who="@user.userId" data-similar="@if(title.equals(Messages("recipe.similar")) && similarRecipe != null) { @similarRecipe.recipeId }">Load More <i class="fa fa-caret-down fa-fw"></i></div>
        </div>
        *@
    </div>
}