@(user: User, title:String, categoryList: java.util.List[Category])

@styles = {
	
}

@scripts = {
	
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@title</h1>
        </div>

        <div id="recipeRow" class="rw-row bubble clearfix">
            @for(index <- 0 until categoryList.size()) {
                <div class="col-sm-3">
                    <div class="entry">
                        <div class="entry-photo">
                            <a href="@controllers.recipe.routes.ViewRecipe.initListRecipeCategoryForm(categoryList(index).categoryName)" class="" alt="@categoryList(index).categoryName" style="background: url(/images/recipe-noimage.png) no-repeat center center;"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
