
<div id="leftCol" class="col-lg-1">
<!-- 
		<ul id="sidebar" class="nav nav-pills nav-stacked">
			<li><a href="@controllers.recipe.routes.ViewRecipe.initListLatestRecipeForm">New Recipes <span class="badge">42</span></a></li>
            <li><a href="@controllers.recipe.routes.ViewRecipe.initListPopularRecipeForm">Popular Recipes <span class="badge">42</span></a></li>
            <li><a href="@controllers.recipe.routes.ViewRecipe.initListOwnRecipeForm">My Recipes</a></li>
       </ul>
 -->
</div>

