@(recipe: Recipe, image: String, user: User)

<div class="col-xs-12 col-sm-3 recipe-thumbnail">
    <div class="bubble shadow">
        <div class="badge-banner">@recipe.statusCode.subsetCodeValue</div>
        <div class="thumbnail-photo">
            <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)" alt="@recipe.recipeName" style="background: url(@image) no-repeat center center;"></a>
        </div>
        @if(recipe.cookForMe != null) {
            <a class="cfm-icon cmf-thumb-icon" @if(controllers.Application.getSessionUser() != null) {
                href="/cookForMe/createOrder/@recipe.recipeId" data-toggle="modal" data-target="#modal"
            } title="@recipe.user.userId"></a>
        }
        <div>
            <div class="thumbnail-profile clearfix">
                <a href='@controllers.account.routes.ViewProfile.viewProfileById(user.userId)' class="small-profile-picture-container pull-left"><img class="profile-picture max-width-image" src='@views.html.account.profile.profileImageDisplay(user.profileImagePath)' alt="@user.firstName @user.lastName"/></a>
                <div class="thumbnail-title">
                    <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)">@recipe.recipeName</a>
                </div>
                <div class="thumbnail-profile-name">@user.firstName @user.lastName</div>
            </div>
        </div>
        <div id="thumbnail-controls-@recipe.recipeId" class="thumbnail-controls minimal">
            @if(controllers.Application.getSessionUser() != null) {
                <a href="/favourite/recipe/@recipe.recipeId" data-toggle="modal" data-target="#modal" class="margin-left-05 control thumbnail-to-favourites@if(controllers.bookRecipe.EditBookRecipe.getUserActiveFavouritedRecipe(recipe.recipeId)) { active}" title='@Messages("recipe.bookit")'> <i class="fa fa-heart-o"></i> </a><span class="control-tip">@controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(recipe.recipeId)</span>
                <a href="#" id="@recipe.recipeId" class="control thumbnail-like@if(controllers.Like.getUserLikedRecipe(recipe.recipeId)) { active}" title='@Messages("like")'> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">@controllers.Like.getRecipeLikes(recipe.recipeId)</span>
            } else {
                <a class="margin-left-05 control thumbnail-to-favourites" title='@Messages("recipe.bookit")'> <i class="fa fa-heart-o"></i> </a><span class="control-tip">@controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(recipe.recipeId)</span>
                <a class="control thumbnail-like" title='@Messages("like")'> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">@controllers.Like.getRecipeLikes(recipe.recipeId)</span>
            }
            <div class="control thumbnail-comments" title='@Messages("reviews")'><i class="fa fa-comments"></i></div><span class="control-tip">@controllers.recipeReview.ViewRecipeReview.getActiveReviewList(recipe.recipeId).size()</span>
            <div class="control" title='@Messages("view")'><i class="fa fa-bar-chart"></i></div><span class="control-tip">@recipe.views @controllers.utils.Utilities.checkEnglishPlural(recipe.views, Messages("view").toLowerCase())</span>
        </div>
    </div>
</div>
