@(bookRecipe: BookRecipe, bookRecipe_recipe: Recipe, image: String, user: User)

<div class="col-xs-12 col-sm-6 recipe">
    <div class="recipe-image">
        <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(bookRecipe_recipe.recipeId)" alt="@bookRecipe_recipe.recipeName" class="block" style="background: url(@image) no-repeat center center;"></a>
    </div>
    @if(bookRecipe.recipeBook.user == user) {
    <div class="corner">
        <a href="#" id="@bookRecipe.bookRecipeId" class="button mini blue removeBookRecipe"><i class="fa fa-minus"></i></a>
    </div>
    }
    <div class="recipe-details">
        <a href="@controllers.account.routes.ViewProfile.viewProfileById(bookRecipe_recipe.user.userId)">
            <div class="recipe-owner-image">
                <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(bookRecipe_recipe.user.profileImagePath)" alt="@bookRecipe_recipe.user.firstName @bookRecipe_recipe.user.lastName"/>
            </div>
        </a>
        <a href="@controllers.account.routes.ViewProfile.viewProfileById(bookRecipe_recipe.user.userId)"><span class="mark green block" title="@Messages("recipe.creator")">@bookRecipe_recipe.user.firstName @bookRecipe_recipe.user.lastName</span></a>
        <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(bookRecipe_recipe.recipeId)" class="title"><span class="block" title="@Messages("recipe")">@bookRecipe_recipe.recipeName</span></a>
        <span class="recipe-description">@bookRecipe_recipe.recipeDescription</span>

        <div class="entry-controls minimal">
            <div class="control entry-to-favourites" title="@Messages("recipe.bookit")"><i class="fa fa-heart-o"></i></div> <span class="control-tip">@controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(bookRecipe_recipe.recipeId)</span>
            <div class="control entry-like" title="@Messages("like")"><i class="fa fa-thumbs-o-up"></i></div> <span class="control-tip">@controllers.Like.getRecipeLikes(bookRecipe_recipe.recipeId)</span>
            <div class="control entry-comments" title="@Messages("reviews")"><i class="fa fa-comments"></i></div> <span class="control-tip">@controllers.recipeReview.ViewRecipeReview.getActiveReviewList(bookRecipe_recipe.recipeId).size()</span>
            <div class="control" title="@Messages("view")"><i class="fa fa-bar-chart"></i></div> <span class="control-tip">@bookRecipe_recipe.views @controllers.utils.Utilities.checkEnglishPlural(bookRecipe_recipe.views, Messages("view").toLowerCase())</span>
        </div>
    </div>
</div>