@(user: User, recipe: Recipe, reinventRecipeForm: Form[controllers.recipe.ReinventRecipe])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@styles = {
	<link rel="stylesheet" href="/stylesheets/library/chosen.min.css">
	<link rel="stylesheet" href="/stylesheets/library/jquery.tagit.min.css">
	<link rel="stylesheet" href="/stylesheets/recipe.min.css">
}

@scripts = {
	<script src="/javascripts/library/chosen.jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/library/tag-it.min.js" type="text/javascript"></script>
    <script src="/javascripts/recipe.min.js" type="text/javascript"></script>
}

@ingredientGroup(field: Field, className: String = "ingredient")(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
    <div class="@className">
        <span class="section-title mark light-brown">@Messages("recipe.ingredient")</span>
        <span class="delete-section mark red" title="Delete"><i class="removeIngredient fa fa-close"></i></span>
        <span class="ingredientNumber section-label mark blue" id="ingredientTitle">1</span>

        <div class="clearfix">
            <div class="col-xs-12 col-sm-6">
                @inputText(
                    field("ingredientName"),
                    '_label -> (Messages("recipe.ingredientName") + ":"),
                    'class -> "fullwidth this-section-title-field",
                    'maxlength -> 250
                )
            </div>
            <div class="col-xs-12 col-sm-3">
                @inputText(
                    field("ingredientQuantity"),
                    '_label -> (Messages("recipe.ingredientQuantity") + ":"),
                    'class -> "fullwidth this-section-label-field",
                    'maxlength -> 20
                )
            </div>
            <div class="col-xs-12 col-sm-3">
                @inputText(
                    field("ingredientUnit"),
                    '_label -> (Messages("recipe.ingredientUnit") + ":"),
                    'class -> "fullwidth this-section-label-field",
                    'maxlength -> 20
                )
            </div>
        </div>
    </div>
}

@directionGroup(field: Field, className: String = "direction")(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
    <div class="@className">
        <span class="section-title mark light-brown">@Messages("recipe.direction")</span>
        <span class="delete-section mark red" title="Delete"><i class="removeDirection fa fa-close"></i></span>
        <span class="directionNumber section-label mark blue" id="directionTitle">1</span>

        <div class="clearfix">
            <div class="col-xs-12 col-sm-7">
                @textarea(
                    field("directionDescription"),
                    '_label -> (Messages("recipe.directionDescription") + ":"),
                    'style -> "resize: none;",
                    'rows -> 9,
                    'description -> Messages("recipe.directionDescription.description"),
                    'class -> "fullwidth this-section-title-field",
                    'descriptionCounter -> "true",
                    'maxlength -> 250
                )
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="form-input-group">
                    <div class="form-label"><label>@Messages("recipe.directionImage")</label></div>
                    <div class="form-description">You can upload only <ins>1</ins> image that has a maximum size of <ins>500kb</ins>.</div>
                    <div class="image-uploader">
                        @inputFile(
                            field("imagePath"),
                            'noLabel -> "true",
                            'accept -> "image/jpeg, image/png, image/jpg",
                            'class -> "fullwidth imagePathClass"
                        )
                        <div class="directionImages">
                            <div class="image">
                                <img class="directionImage" id="directionImage" src="@field("imagePath").value.toString()"/>
                                @*<span class="remove" title="Remove"><i class="fa fa-trash"></i></span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@recipeImageGroup(field: Field, className: String = "recipeImage")(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang) = {
	@inputFile(
		field("imagePath"),
		'_label -> (Messages("recipe.cover.photo") + ":"),
		'multiple -> "multiple",
		'accept -> "image/jpeg, image/png, image/jpg"
	)

	@for(i <- 0 until SubsetCode.getNumberOfCoverPhotosLimit()) {
		<img class="coverImage" id="coverImage" src="@field("imagePath").value.toString()" width="250px" height="200px"/>
	}
}

@main(user, styles, scripts) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("recipe.reinvent") - @recipe.recipeName</h1>
        </div>

        <div class="rw-row bubble">
            @form(action = controllers.recipe.routes.ReinventRecipe.reinventRecipe(recipe.recipeId), 'enctype -> "multipart/form-data") {
                <fieldset>
                    <div class="col-xs-12 col-sm-12 both">
                        @if(recipe.user.userId != user.userId) {
                            <div class="entry-info-author">
                                <span class="mark green" title="You are currently reinventing">@Messages("recipe.current.reinventing")</span>
                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)" class="small-profile-picture-container pull-left margin-right-10">
                                    <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(recipe.user.profileImagePath)" alt="@recipe.user.firstName @recipe.user.lastName"/>
                                </a>
                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)" class="block">@recipe.user.firstName @recipe.user.lastName's</a>
                                <a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)" class="block">@recipe.recipeName</a>

                                @*<div><a href="#" class="follow-user button mini blue" title="? followers">
                                    <i class="fa fa-plus"></i> <span class="text">Follow</span>
                                </a></div>*@
                            </div>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6 alpha">
                        @select(
                            reinventRecipeForm("privacyCode"),
                            options = SubsetCode.allPrivacyOptions(),
                            '_label -> (Messages("privacy.code") + ":"),
                            'description -> Messages("recipe.privacy.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-6 omega">
                        @select(
                            reinventRecipeForm("categoryList"),
                            options = Category.allCategoryOptions(),
                            '_label -> (Messages("recipe.category") + ":"),
                            'multiple -> "multiple",
                            'description -> Messages("recipe.category.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-7 alpha">
                        @inputText(
                            reinventRecipeForm("recipeName"),
                            '_label -> (Messages("recipe.name") + ":"),
                            'class -> "fullwidth",
                            'maxlength -> 250
                        )

                        @textarea(
                            reinventRecipeForm("recipeDescription"),
                            '_label -> (Messages("recipe.description") + ":"),
                            'description -> Messages("recipe.description.description"),
                            'class -> "fullwidth",
                            'style -> "resize: none;",
                            'rows -> 6,
                            'maxlength -> 500
                        )
                    </div>

                    <div class="col-xs-12 col-sm-5 omega">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.cover.photo")</label></div>
                            <div class="form-description">You can upload only <ins>@SubsetCode.getNumberOfCoverPhotosLimit()</ins> image that has a maximum size of <ins>500kb</ins>.</div>

                            <div class="image-uploader">
                                @inputFile(
                                    reinventRecipeForm("coverPhoto"),
                                    'multiple -> "multiple",
                                    'noLabel -> "true",
                                    'accept -> "image/jpeg, image/png, image/jpg"
                                )

                                <div class="coverImages">
                                    @for(index <- 0 until SubsetCode.getNumberOfCoverPhotosLimit()) {
                                        <div class="image">
                                            <img class="coverImage" id="coverImage" src="/images/recipe-noimage.png"/>
                                            @*<span class="remove" title="Remove"><i class="fa fa-trash"></i></span>*@
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    @*
                    <div class="col-xs-12 col-sm-8 alpha">
                        @select(
                            reinventRecipeForm("monetizationCode"),
                            options = SubsetCode.allMonetizationOptions(),
                            '_label -> (Messages("monetization.code") + ":"),
                            'help -> Messages("monetization.info.free")
                        )

                        @inputRadioGroup(
                            reinventRecipeForm("monetizationCode"),
                            options = SubsetCode.allMonetizationOptions(),
                            '_label -> (Messages("monetization.code") + ":"),
                            'help -> Messages("monetization.info.free")
                        )
                    </div>

                    <div class="col-xs-12 col-sm-4 omega">
                        @inputText(
                            reinventRecipeForm("price"),
                            '_label -> (Messages("recipe.price") + ":"),
                            'addOnInFront -> "$",
                            'min -> "0",
                            'size -> "5",
                            'step -> "0.01",
                            'type -> "number",
                            'onkeypress -> "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-8 alpha">
                        @select(
                            reinventRecipeForm("recipeBookList"),
                            options = RecipeBook.allRecipeBookOptions(user.userId),
                            '_label -> (Messages("recipeBook") + ":"),
                            'multiple -> "multiple"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-4 omega">
                    </div>
                    *@

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="col-xs-12 col-sm-6 alpha">
                            @select(
                                reinventRecipeForm("difficulty"),
                                options = SubsetCode.allRecipeDifficultyOptions(),
                                '_label -> (Messages("recipe.difficulty") + ":"),
                                'description -> Messages("recipe.difficulty.description"),
                                'class -> "fullwidth"
                            )
                        </div>

                        <div class="col-xs-12 col-sm-6 omega">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 alpha">
                        @inputText(
                            reinventRecipeForm("preparationTime"),
                            '_label -> (Messages("recipe.preparationTime") + ":"),
                            'class -> "fullwidth",
                            'description -> Messages("recipe.preparationTime.description"),
                            'min -> "0",
                            'size -> 5,
                            'type -> "number",
                            'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-6 omega">
                        @inputText(
                            reinventRecipeForm("servings"),
                            '_label -> (Messages("recipe.servings") + ":"),
                            'class -> "fullwidth",
                            'description -> Messages("recipe.servings.description"),
                            'min -> "0",
                            'size -> 5,
                            'type -> "number",
                            'onkeypress -> "return event.charCode >= 48 && event.charCode <= 57"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.ingredients")</label></div>
                            <div class="form-description">@Messages("recipe.ingredient.description")</div>

                            <ul class="submission-form-repeatable">
                                @repeat(reinventRecipeForm("recipeIngredientList"), min = 1) { ingredient =>
                                    @ingredientGroup(ingredient)
                                }

                                @* Keep an hidden block that will be used as template for Javascript copy code *@
                                @ingredientGroup(
                                    reinventRecipeForm("recipeIngredientList[0]"),
                                    className = "ingredient-template sfa-noindex"
                                )
                            </ul>

                            <div id="addIngredient" class="submission-form-repeatable-add-new"><i class="the-icon fa fa-plus"></i> Add new</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <div class="form-input-group">
                            <div class="form-label"><label>@Messages("recipe.directions")</label></div>
                            <div class="form-description">@Messages("recipe.direction.description")</div>

                            <ul class="submission-form-repeatable">
                                @repeat(reinventRecipeForm("recipeDirectionList"), min = 1) { direction =>
                                    @directionGroup(direction)
                                }

                                @* Keep an hidden block that will be used as template for Javascript copy code *@
                                @directionGroup(
                                    reinventRecipeForm("recipeDirectionList[0]"),
                                    className = "direction-template sfa-noindex"
                                )
                            </ul>

                            <div id="addDirection" class="submission-form-repeatable-add-new"><i class="the-icon fa fa-plus"></i> Add new</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9 both">
                        @inputText(
                            reinventRecipeForm("tags"),
                            '_label -> (Messages("tags.code") + ":"),
                            'description -> Messages("tag.description"),
                            'class -> "fullwidth"
                        )
                    </div>

                    <div class="col-xs-12 col-sm-12 both">
                        <input type="submit" name="action" class="button blue left" value="@Messages("publish")"/>
                        <input type="submit" name="action" class="button blue left" value="@Messages("draft")"/>
                    </div>
                </fieldset>
            }
        </div>
	</div>
}