@(user: User, recipe: Recipe, recursiveRecipeList: java.util.List[Recipe])

@import org.apache.commons.lang.StringUtils;
@import java.lang.String; var tagNameList = "";
@import java.lang.String; var seoImage = if(!recipe.recipeImageList.isEmpty) { recipe.recipeImageList.get(0).imagePath } else { "/images/recipe-noimage.png" }
@for(index <- 0 until recipe.recipeTagList.size) { @{tagNameList = tagNameList + recipe.recipeTagList.get(index).tag.tagName + ","; } }
@import java.lang.String; var seoRobot = if(recipe.privacyCode.subsetCodeId != controllers.utils.Constants.PRIVACY_STATUS_PUBLIC && recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_PUBLISHED) { Messages("seoRobotsNoIndexFollow") } else { Messages("seoRobots") };
@import java.lang.Integer; var recipeFavs = controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(recipe.recipeId);
@import java.lang.Integer; var recipeLikes = controllers.Like.getRecipeLikes(recipe.recipeId);
@import java.util.ArrayList; var reviewList = controllers.recipeReview.ViewRecipeReview.getActiveReviewList(recipe.recipeId);
@import java.util.ArrayList; var similarRecipe = controllers.recipe.ViewRecipe.getSimilarRecipeList(recipe.recipeId, controllers.utils.Constants.FETCH_RECIPE_PAGE_ONE);

@import helper._

@styles = {
	<link rel="stylesheet" href="/stylesheets/library/star-rating.min.css">
	<link rel="stylesheet" href="/stylesheets/recipe.css">
	<link rel="stylesheet" href="/stylesheets/review.css">
}

@scripts = {
	<script src="/javascripts/library/star-rating.min.js" type="text/javascript"></script>
	<script src="/javascripts/viewrecipe.min.js" type="text/javascript"></script>
    <script src="/javascripts/recipereview.min.js" type="text/javascript"></script>
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org/",
        "@@type": "Recipe",
        "name": "@recipe.recipeName",
        "image": "http://@request.host@seoImage",
        "author": {"@@type":"Person","name":"@recipe.user.firstName @recipe.user.lastName"},
        "datePublished": "@recipe.createdDate.format("dd MMM yyyy")",
        "description": "@recipe.recipeDescription",
        "totalTime": "@controllers.utils.Utilities.convertPreparationTimeToSchema(recipe.preparationTime)",
        "nutrition": {"servingSize": "@recipe.servings"},
        "recipeIngredient": [@for(index <- 0 until recipe.recipeIngredientList.size) {"@recipe.recipeIngredientList.get(index).ingredientName: @recipe.recipeIngredientList.get(index).ingredientQuantity @recipe.recipeIngredientList.get(index).ingredientUnit"@if(index+1 != recipe.recipeIngredientList.size) {,}}],
        "recipeInstructions": "@for(index <- 0 until recipe.recipeDirectionList.size) {Step @(index+1): @recipe.recipeDirectionList.get(index).directionDescription@if(index+1 != recipe.recipeDirectionList.size) {\n}}"
    }
    </script>
}

@main(user, styles, scripts, false, views.html.seo.seoHeader(recipe.recipeName, recipe.recipeDescription, tagNameList, seoRobot, seoImage)) {
    <div class="col-xs-12 col-sm-12 view-recipe">
        <div class="bubble">
            <div class="rw-row clearfix">
                <div class="col-xs-12 col-sm-4 both">
                    <div class="badge-banner hidden-print">@recipe.statusCode.subsetCodeValue</div>

                    <div class="single-recipe-photo-cover">
                        @if(recipe.recipeImageList.size > 0) {
                            @for(index <- 0 until recipe.recipeImageList.size) {
                                <img src="@recipe.recipeImageList.get(index).imagePath" class="max-width-image" alt="@recipe.recipeName"/>
                            }
                        } else {
                            <img src="/images/recipe-noimage.png" class="max-width-image" alt="@recipe.recipeName"/>
                        }
                        @if(controllers.Application.getSessionUser() != null) {
                            <div class="recipe-tools hidden-print">
                                <div class="tool print" title="Print"><i class="the-icon fa fa-print"></i></div>
                                <a href="/favourite/recipe/@recipe.recipeId" data-toggle="modal" data-target="#modal" class="tool favourite @if(controllers.bookRecipe.EditBookRecipe.getUserActiveFavouritedRecipe(recipe.recipeId)) { active }" title="@Messages("recipe.bookit")"><i class="the-icon fa fa-heart-o"></i></a>
                                <div class="tool like likeRecipe @if(controllers.Like.getUserLikedRecipe(recipe.recipeId)) { active }" title=@Messages("like")><i class="the-icon fa fa-thumbs-o-up"></i></div>
                            </div>
                            @if(recipe.cookForMe != null) {
                                <a class="hidden-print cfm-icon cmf-img-icon" @if(controllers.Application.getSessionUser() != null) {href="/cookForMe/createOrder/@recipe.recipeId" data-toggle="modal" data-target="#modal" }title="@Messages("cookForMe.available")" id="placeOrderModal"> </a>
                            }
                        }
                    </div>

                    <div class="col-xs-12 col-sm-12 alpha">
                        <ul class="recipe-rows">
                            <li>
                                <div id="recipe-author" class="entry-info-author" data-author="@recipe.user.userId">
                                    @if(recursiveRecipeList.size > 0 && recursiveRecipeList.get(0).user.userId != recipe.user.userId) {
                                        <div class="small-profile-picture-container pull-left">
                                            <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(recipe.user.profileImagePath)" alt="@recipe.user.firstName @recipe.user.lastName"/>
                                        </div>
                                        <div class="author-name"><span class="mark green" title="Reinvented by">Reinvented by</span><br/>
                                        @if(user != null) {
                                            @if(recipe.user.userId == user.userId) {
                                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">Me</a>
                                                </div>
                                            } else {
                                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">
                                                    @recipe.user.firstName @recipe.user.lastName
                                                </a>
                                                </div>
                                                <div id="profileFollowAction" class="hidden-print">
                                                    @if(Follower.checkFollowingActiveRelationExists(user.userId, recipe.user.userId) == null) {
                                                        <a href="#" id="followBtn" class="follow-user button mini blue" data-profile="@recipe.user.userId">
                                                            <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
                                                        </a>
                                                    } else {
                                                        <a href="#" id="unfollowBtn" class="follow-user button mini current green" data-profile="@recipe.user.userId">
                                                           <i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
                                                        </a>
                                                    }

                                                </div>
                                            }
                                        } else {
                                            <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">
                                                @recipe.user.firstName @recipe.user.lastName
                                            </a>
                                        }
                                    </div>
                                </li>

                                <li>
                                    <div class="entry-info-author">
                                        <div class="small-profile-picture-container pull-left">
                                            <img class="profile-picture max-width-image pull-left" src="@views.html.account.profile.profileImageDisplay(recursiveRecipeList.get(0).user.profileImagePath)" alt="@recursiveRecipeList.get(0).user.firstName @recursiveRecipeList.get(0).user.lastName"/>
                                        </div>
                                        <div class="author-name"><span class="mark green" title="Original Creator">Reinvented From</span><br/>
                                            <a href="@controllers.account.routes.ViewProfile.viewProfileById(recursiveRecipeList.get(0).user.userId)">
                                            @if(user != null && recursiveRecipeList.get(0).user.userId == user.userId) {
                                                My
                                            } else {
                                                @recursiveRecipeList.get(0).user.firstName @recursiveRecipeList.get(0).user.lastName's
                                            }
                                            </a>
                                        @*<br/>
                                        <span class="mark green" title="Reinvented by">Original Recipe</span>
                                        <br/>*@
                                        <span><a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recursiveRecipeList.get(0).recipeId)">@recursiveRecipeList.get(0).recipeName</a></span>
                                        </div>
                                        @*
                                        <div class="hidden-print">
                                            @if(Follower.checkFollowingActiveRelationExists(user.userId, recursiveRecipeList.get(0).user.userId) == null) {
                                                <a href="#" id="followOrgBtn" class="follow-user button mini blue" data-profile="@recursiveRecipeList.get(0).user.userId">
                                                    <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
                                            } else {
                                                <a href="#" id="unfollowOrgBtn" class="follow-user button mini current green " data-profile="@recursiveRecipeList.get(0).user.userId">
                                                    <i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
                                            }
                                        </a>
                                        </div>*@
                                    } else {
                                        <div class="small-profile-picture-container pull-left">
                                            <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(recipe.user.profileImagePath)" alt="@recipe.user.firstName @recipe.user.lastName"/>
                                        </div>
                                        <div class="author-name"><span class="mark green" title="Original Creator">Original Creator</span><br/>
                                        @if(user != null) {
                                            @if(recipe.user.userId == user.userId) {
                                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">Me</a>
                                                </div>
                                            } else {
                                                <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">
                                                    @recipe.user.firstName @recipe.user.lastName
                                                </a>
                                                </div>
                                                <div id="profileFollowAction" class="hidden-print">
                                                    @if(Follower.checkFollowingActiveRelationExists(user.userId, recipe.user.userId) == null) {
                                                        <a href="#" id="followBtn" class="follow-user button mini blue" data-profile="@recipe.user.userId">
                                                            <i class="fa fa-plus"></i> <span class="text"> @Messages("profile.follow")</span>
                                                        </a>
                                                    } else {
                                                        <a href="#" id="unfollowBtn" class="follow-user button mini current green" data-profile="@recipe.user.userId">
                                                            <i class="fa fa-check"></i> <span class="text"> @Messages("profile.following")</span>
                                                        </a>
                                                    }
                                                </div>
                                            }
                                        } else {
                                            <a href="@controllers.account.routes.ViewProfile.viewProfileById(recipe.user.userId)">
                                                @recipe.user.firstName @recipe.user.lastName
                                            </a>
                                        }
                                    }
                                </div>
                            </li>

                            <li class="hidden-print clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-calendar" title="Submited on"></div> <div class="col-xs-10 col-sm-10 the-text">@recipe.createdDate.format("dd MMM yyyy hh:mm a")</div></li>
                            @if(recipe.recipeCategoryList != null && recipe.recipeCategoryList.size() > 0) {
                                <li class="hidden-print clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-book" title="@Messages("recipe.category")"></div>
                                    <div class="col-xs-10 col-sm-10 the-text">
                                        @for(index <- 0 until recipe.recipeCategoryList.size) {
                                            @recipe.recipeCategoryList.get(index).category.categoryName
                                            @if(index+1 < recipe.recipeCategoryList.size) {, }
                                        }
                                    </div>
                                </li>
                            }
                            <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-clock-o" title="@Messages("recipe.preparationTime")"></div> <div class="col-xs-10 col-sm-10 the-text">@recipe.preparationTime @controllers.utils.Utilities.checkEnglishPlural(recipe.preparationTime, Messages("recipe.preparationTime.help"))</div></li>
                            <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-cutlery" title="@Messages("recipe.servings")"></div> <div class="col-xs-10 col-sm-10 the-text">@recipe.servings @controllers.utils.Utilities.checkEnglishPlural(recipe.servings, Messages("recipe.servings.help"))</div></li>
                            @if(recipe.difficultyCode != null) { <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-cutlery" title="@Messages("recipe.difficulty")"></div> <div class="col-xs-10 col-sm-10 the-text">@recipe.difficultyCode.subsetCodeValue</div></li> }
                            <li class="hidden-print clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-bar-chart" title="@controllers.utils.Utilities.checkEnglishPlural(recipe.views, Messages("view"))"></div> <div class="col-xs-10 col-sm-10 the-text">@recipe.views @controllers.utils.Utilities.checkEnglishPlural(recipe.views, Messages("view")).toLowerCase()</div></li>
                            <li class="hidden-print clearfix"><div id="recipeFavs" class="col-xs-2 col-sm-2 both the-icon fa fa-heart" title="@Messages("recipe.bookit")"></div> <div class="col-xs-10 col-sm-10 the-text">@recipeFavs @controllers.utils.Utilities.checkEnglishPlural(recipeFavs, Messages("recipe.book.collection")).toLowerCase()</div></li>
                            <li class="hidden-print clearfix"><div id="recipeLikes" class="col-xs-2 col-sm-2 both the-icon fa fa-thumbs-up" title="@controllers.utils.Utilities.checkEnglishPlural(recipeLikes, Messages("like"))"></div> <div class="col-xs-10 col-sm-10 the-text">@recipeLikes @controllers.utils.Utilities.checkEnglishPlural(recipeLikes, Messages("like")).toLowerCase()</div></li>
                            @if(recipe.cookForMe != null) {
                                <li class="hidden-print clearfix"><a id="cookForMeContainerTrigger">@Messages("cookForMe.see.details")<span class="fa fa-caret-down fa-fw"></span></a></li>
                                <div id="cookForMeContainer" class="hidden-print">
                                    <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-map-o " title="@Messages("cookForMe.collectionMode")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.collectionMode"): @controllers.utils.Utilities.spiltStringByCommaToSubsetCodeString(recipe.cookForMe.collectionMode)</div></li>
                                    <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-money " title="@Messages("cookForMe.paymentType")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.paymentType"): @recipe.cookForMe.paymentType.subsetCodeValue</div></li>
                                    <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-dollar " title="@Messages("cookForMe.cookForMeCost")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.cookForMeCost"): @recipe.cookForMe.currency @recipe.cookForMe.cookingCost</div></li>
                                    <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-dollar " title="@Messages("cookForMe.deliveryFee")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.deliveryFee"): @recipe.cookForMe.currency @recipe.cookForMe.deliveryFee</div></li>
                                    @if(StringUtils.isNotEmpty(recipe.cookForMe.remarks)) {
                                        <li class="clearfix"><div class="col-xs-2 col-sm-2 both the-icon fa fa-pencil-square-o " title="@Messages("cookForMe.remarks")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.remarks"): @recipe.cookForMe.remarks</div></li>
                                    }
                                    <li class="clearfix"><a @if(controllers.Application.getSessionUser() != null) {href="/cookForMe/createOrder/@recipe.recipeId" data-toggle="modal" data-target="#modal" }id="placeOrderModal"><div class="col-xs-2 col-sm-2 both the-icon fa fa-shopping-basket" title="@Messages("cookForMe.placeOrder")"></div> <div class="col-xs-10 col-sm-10 the-text">@Messages("cookForMe.placeOrder")<span class="fa fa-caret-right fa-fw"></span></div></a></li>
                                </div>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 both">
                    <div class="col-xs-12 col-sm-8 recipe-name omega">
                        <h1 data-recipe="@recipe.recipeId">@recipe.recipeName</h1>
                        <div class="fb-share-button" data-href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(recipe.recipeId)" data-layout="button_count"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 both hidden-print">
                        @if(user != null) {
                            @if(recipe.user.userId == user.userId) {
                                <a href="@controllers.recipe.routes.EditRecipe.initEditRecipeForm(recipe.recipeId)" class="button blue right hidden-print"><i class="fa fa-plus"></i> Edit</a>
                                @if(recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_DELETED && recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_HIDDEN) {
                                    <a id="deleteRecipe" data-toggle="modal" data-target="#deleteRecipeModal" class="button blue right hidden-print"><i class="fa fa-minus"></i> Delete</a>
                                }
                            } else {
                                @if(recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_DELETED && recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_HIDDEN) {
                                    <a href="@controllers.recipe.routes.ReinventRecipe.initReinventRecipeForm(recipe.recipeId)" class="button blue right hidden-print">Reinvent Recipe</a>
                                }
                            }
                        }
                    </div>
                    <div class="recipe-content">
                        <div class="recipe-ingredients">
                            <h3 class="recipe-headlines ingredients first">@controllers.utils.Utilities.checkEnglishPlural(recipe.recipeIngredientList.size, Messages("recipe.ingredient")):</h3>
                            <ul>
                                @for(index <- 0 until recipe.recipeIngredientList.size) {
                                    <li>
                                        <div class="ingredient">@recipe.recipeIngredientList.get(index).ingredientName</div>
                                        <div class="quantity">
                                            <div class="qt">@recipe.recipeIngredientList.get(index).ingredientQuantity @recipe.recipeIngredientList.get(index).ingredientUnit</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="recipe-directions">
                            <h3 class="recipe-headlines preparation-mode">@controllers.utils.Utilities.checkEnglishPlural(recipe.recipeDirectionList.size, Messages("recipe.preparation")):</h3>
                            <ul>
                            @for(index <- 0 until recipe.recipeDirectionList.size) {
                                <li>
                                    <div class="col-xs-3 col-sm-1 both">
                                        <strong>Step @(index+1) :</strong>
                                    </div>
                                    <div @if(recipe.recipeDirectionList.get(index).imagePath != null) {class="col-xs-9 col-sm-7 both"} else {class="col-xs-9 col-sm-10 both"} >
                                        @recipe.recipeDirectionList.get(index).directionDescription
                                    </div>
                                    @if(recipe.recipeDirectionList.get(index).imagePath != null) {
                                        <div class="col-xs-12 col-sm-4 both">
                                            <img src="@recipe.recipeDirectionList.get(index).imagePath" width="250px" height="200px" alt="@recipe.recipeName direction @(index+1)"/>
                                        </div>
                                    }
                                </li>
                            }
                            </ul>
                        </div>
                        <div class="recipe-description">
                            <h3 class="recipe-headlines footnotes">@Messages("recipe.description"):</h3>
                            <p>@recipe.recipeDescription</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rw-row light hidden-print">
                <div class="recipe-tags">
                    <span class="title">Tags:</span>
                        @if(recipe.recipeTagList != null && recipe.recipeTagList.size > 0) {
                            @for(index <- 0 until recipe.recipeTagList.size) {
                                <a href="@controllers.search.routes.Search.searchTag(recipe.recipeTagList.get(index).tag.tagId)"><span class="tag">@recipe.recipeTagList.get(index).tag.tagName</span></a>
                            }
                        }
                </div>
            </div>

            <div id="reviewList" class="hidden-print">
                @views.html.recipeReview.listReview(user, reviewList, controllers.utils.Constants.MAX_REVIEW_FETCH_LIMIT, recipe.recipeId)
            </div>

            @if(user != null) {
                @if(recipe.user.userId != user.userId && recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_DELETED && recipe.statusCode.subsetCodeId != controllers.utils.Constants.PUBLISH_STATUS_HIDDEN) {
                    <div id="review" class="hidden-print">
                        @if(controllers.recipeReview.CreateRecipeReview.showCreateReview(recipe.recipeId)) {
                            <div id="createReview" class="rw-row clearfix">
                                @views.html.recipeReview.createReview(user, recipe, controllers.recipeReview.CreateRecipeReview.getCreateReviewForm())
                            </div>
                        }
                    </div>
                }
            } else {
                <div class="rw-row text-center">
                    Love this recipe? <a href="/signup">Sign up for Free</a> or <a href="/loginModal" data-toggle="modal" data-target="#modal">@Messages("signin.signin")</a> to leave a review.
                </div>
            }

            @if(similarRecipe.size() > 0) {
                <div id="similarRecipeList" class="margin-top-15 hidden-print">
                    @views.html.recipe.listRecipe(user, Messages("recipe.similar"), similarRecipe, controllers.utils.Constants.MAX_SIMILAR_RECIPE_FETCH_LIMIT, false)
                </div>
            }
        </div>
    </div>
    
    <div class="modal fade hidden-print text-center" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">@Messages("close")</span>
					</button>
					<h4 class="modal-title">@Messages("recipe.delete")?</h4>
				</div>
				<div class="modal-body">
                    @if(recipe.statusCode.subsetCodeId == controllers.utils.Constants.PUBLISH_STATUS_DRAFT) {
                        <label class="control-label">@Messages("recipe.delete.draft.confirm")</label>
					} else {
                        <label class="control-label">@Messages("recipe.delete.published.confirm")</label>
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="button blue right" data-dismiss="modal">@Messages("close")</button>
					<button type="button" id="deleteRecipeBtn" class="button blue right">@Messages("delete")</button>
				</div>
			</div>
		</div>
    </div>
}