@(featuredList: java.util.List[Recipe], submissionForm: Form[controllers.footer.CreateSubmission])

@import helper._
@import template._
@import org.apache.commons.lang.StringUtils;
@import java.util.ArrayList; var categoryList = controllers.recipe.ViewRecipe.getRecipeCategoriesForMenubar();
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@styles = {
	<link rel="stylesheet" href="/stylesheets/home.min.css">
	<link rel="stylesheet" href="/stylesheets/blockquote.min.css">
}

@scripts = {
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("#homeNav").addClass("active");
			scrollNav();
		});
	</script>
}

@main(null, styles, scripts, true) {
	<div id="hero-container">
		<div class="hero-background"></div>
		<div id="carousel-container" class="carousel slide" data-ride="carousel">


			<div id="featured" class="carousel-inner" role="listbox">
			@for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(featuredList.size, 6)) {
				<div class="item @if(index == 0) {active}">
					<div class="featured-title">@Messages("recipe.featured")</div>
					<div class="row feat-content-roll clearfix">
						<div class="col-sm-6 margin-top-10">
							<a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(featuredList.get(index).recipeId)" class="thumbnail"
							style="background:url(@featuredList.get(index).getCoverPhoto()) no-repeat center center; background-size: cover;"></a>
						</div>

						<div class="row col-sm-6">
							<div class="col-sm-12">
								<a href="@controllers.recipe.routes.ViewRecipe.initViewRecipeForm(featuredList.get(index).recipeId)"><h2>@featuredList.get(index).recipeName</h2></a>
								<p class="text-content hidden-sm hidden-xs">@featuredList.get(index).recipeDescription</p>
							</div>
							<div class="info col-sm-12">
								<i class="fa fa-heart-o"></i> <span class="control-tip">@controllers.bookRecipe.EditBookRecipe.getActiveRecipeFavs(featuredList.get(index).recipeId)</span>
								<i class="fa fa-thumbs-o-up"></i> <span class="control-tip">@controllers.Like.getRecipeLikes(featuredList.get(index).recipeId)</span>
								<i class="fa fa-comments"></i> <span class="control-tip">@controllers.recipeReview.ViewRecipeReview.getActiveReviewList(featuredList.get(index).recipeId).size()</span>
							</div>
						</div>
					</div>
				</div>
			}
			</div>

			<a class="left carousel-control hidden-xs" href="#carousel-container" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control hidden-xs" href="#carousel-container" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

			<ol class="carousel-indicators margin-top-20">
			@for(index <- 0 until controllers.utils.Utilities.returnSmallerNumber(featuredList.size, 6)) {
				@if(index == 0) {
					<li data-target="#carousel-container" data-slide-to="@index" class="active"></li>
				} else {
					<li data-target="#carousel-container" data-slide-to="@index"></li>
				}
			}
			</ol>
		</div>

		<div id="hero-content">
			<div id="search-container" class="hidden-print">
				@views.html.search.search(controllers.search.Search.getSearchForm(), "L")
			</div>
			<div id="category-container">
				<ul class="category-list nav margin-top-15">
				@for(index <- 0 until categoryList.size()) {
					<li><a href="@controllers.recipe.routes.ViewRecipe.initListRecipeCategoryForm(StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase()))" alt="@StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase())">@categoryList.get(index).categoryDescription</a></li>
				}
				</ul>
			</div>
		</div>
	</div>

	<div id="about" class="slice">
		<h1>Food For Thought</h1>
		<div class="bubble">
			<p><small>@Messages("aboutUs.message1")</small></p>
		</div>
		<div class="margin-top-40">
			<h2>@Messages("aboutUs.caption.header")</h2>
			<div class="row">
				<div class="col-sm-4">
					<div class="thumbnail">
						<div class="caption">
							<p>@Messages("aboutUs.caption.title1")</p>
						</div>
						<div class="service-items"><img src="/images/share.png" class="max-width-image" alt="FoodTopic Share"/></div>
					</div>
					<blockquote class="text-justify"><small>@Messages("aboutUs.caption.quote1")</small></blockquote>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<div class="caption">
							<p>@Messages("aboutUs.caption.title2")</p>
						</div>
						<div class="service-items"><img src="/images/follow.png" class="max-width-image" alt="FoodTopic Follow"/></div>
					</div>
					<blockquote class="text-justify"><small>@Messages("aboutUs.caption.quote2")</small></blockquote>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<div class="caption">
							<p>@Messages("aboutUs.caption.title3")</p>
						</div>
						<div class="service-items"><img src="/images/reputation.png" class="max-width-image" alt="FoodTopic Reputation"/></div>
					</div>
					<blockquote class="text-justify"><small>@Messages("aboutUs.caption.quote3")</small></blockquote>
				</div>
			</div>
			<div class="margin-top-5"><a href="/signup"><input type="submit" class="button blue" value="Sign Up Now"></a></div>
		</div>
	</div>

	<div id="contact">
		<div class="col-sm-8 col-xs-12 col-sm-offset-2 bubble pull-none">
			<h3>@Messages("contactUs")</h3>

			<p><small>@Messages("contactUs.message")</small></p>

			@form(action = controllers.footer.routes.CreateSubmission.contactUsSubmission()) {
				<fieldset>
					<div class="col-sm-8 col-sm-offset-2 pull-none">
						@inputText(
							submissionForm("firstName"),
							'noLabel -> "true",
							'placeholder -> Messages("profile.firstName"),
							'class -> "fullwidth"
						)

						@inputText(
							submissionForm("lastName"),
							'noLabel -> "true",
							'placeholder -> Messages("profile.lastName"),
							'class -> "fullwidth"
						)

						@inputText(
							submissionForm("email"),
							'noLabel -> "true",
							'placeholder -> Messages("email"),
							'class -> "fullwidth"
						)

						@textarea(
							submissionForm("comments"),
							'noLabel -> "true",
							'placeholder -> Messages("comment"),
							'style -> "resize: none;",
							'rows -> 6,
							'class -> "fullwidth this-section-title-field",
							'maxlength -> 250
						)

						<input type="submit" class="button blue right" value="@Messages("submit")"/>
					</div>
				</fieldset>
			}
		</div>
	</div>
}