@(user: User)

@import helper._
@import template._
@import org.apache.commons.lang.StringUtils;
@import java.util.ArrayList; var categoryList = controllers.recipe.ViewRecipe.getRecipeCategoriesForMenubar();

<div class="lownavbar text-center clearfix">
    <ul class="nav navbar-nav">
        <li><a href="@controllers.recipe.routes.ViewRecipe.initListLatestRecipeForm()"><b>@Messages("recipe.latest")</b></a></li>
        <li><a href="@controllers.recipe.routes.ViewRecipe.initListPopularRecipeForm()"><b>@Messages("recipe.popular")</b></a></li>
        <li class="pipe">|</li>

        <li class="category-dropdown dropdown">
            <a href="#" class="nav-single-icon dropdown-toggle" data-toggle="dropdown">@Messages("recipe.categories")</a>
            <ul class="dropdown-menu">
                @for(index <- 0 until categoryList.size()) {
                    <li><a href="@controllers.recipe.routes.ViewRecipe.initListRecipeCategoryForm(StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase()))" alt="@StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase())">@categoryList.get(index).categoryDescription</a></li>
                }
            </ul>
        </li>
        @for(index <- 0 until categoryList.size()) {
            <li class="category-li"><a href="@controllers.recipe.routes.ViewRecipe.initListRecipeCategoryForm(StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase()))" alt="@StringUtils.capitalize(categoryList.get(index).categoryName.toLowerCase())">@categoryList.get(index).categoryDescription</a></li>
        }
    </ul>
</div>