@import com.feth.play.module.pa.views.html._ 
@(user: User)
@import java.lang.Integer; var unreadNotifications=controllers.notification.ViewNotification.findNumberOfUnreadNotifications();

@currentAuth() { auth => @if(auth != null & user != null) {
    <div id="header-nav" class="navbar-collapse collapse pull-right hidden-print">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="nav-single-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@controllers.recipe.routes.CreateRecipe.initCreateRecipeForm"><i class="fa fa-cutlery fa-fw"></i> @Messages("recipe.new")</a></li>
                    <li><a href="@controllers.recipeBook.routes.CreateRecipeBook.initCreateRecipeBookForm"><i class="fa fa-book fa-fw"></i> @Messages("recipeBook.new")</a></li>
                </ul>
            </li>
            <li id="notification-dropdown" class="dropdown">
            	<a @if(unreadNotifications > controllers.utils.Constants.MAX_NOTIFICATION_DROPDOWN_FETCH_LIMIT) {href="@controllers.notification.routes.ViewNotification.initViewNotificationForm()" class="nav-single-icon"} else {href="#" class="nav-single-icon dropdown-toggle" data-toggle="dropdown"} @if(unreadNotifications > 0) {onclick="readNotification()}"><i class="fa fa-bell"></i> <span id="notificationBadge">@if(unreadNotifications > 0) { <span id="notificationCount" class="new-info">@unreadNotifications</span> }</span></a>
            	<div class="notification-dropdown-menu">
                    <ul class="notification-dropdown-ul">
                        @views.html.notification.listNotificationRow(controllers.notification.ViewNotification.findNotificationByUserForNotificationDropdown(), true)
                    </ul>
                    <a href="@controllers.notification.routes.ViewNotification.initViewNotificationForm()" class="view-all">@Messages("notification.viewAll")</a>
                </div>
            </li>
            <li id="profile-dropdown" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="x-small-profile-picture-container">
                        <img class="profile-picture max-width-image" src="@views.html.account.profile.profileImageDisplay(user.profileImagePath)" alt="@user.firstName @user.lastName"/>
                    </div>
                    @user.firstName @user.lastName<b class="fa fa-caret-down fa-fw"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@controllers.account.routes.ViewProfile.viewOwnProfile()"><i class="fa fa-user fa-fw"></i> @Messages("profile")</a></li>
                    <li><a href="@controllers.recipe.routes.ViewRecipe.initListOwnRecipeForm()">@Messages("recipe.my")</a></li>
                    <li><a href="@controllers.recipeBook.routes.ViewRecipeBook.initListOwnRecipeBookForm()">@Messages("recipeBook.my")</a></li>
                    <li><a href="@controllers.cookForMe.routes.ViewCookForMeOrder.initViewOrderForm()">@Messages("cookForMeOrders.my")</a></li>
                    <li><a href="@controllers.follower.routes.ViewFollower.initViewFollowerForm()"><span id="followingBadge"><span id="followingCount">@controllers.follower.ViewFollower.findNumberOfActiveFollowing(user.userId)</span></span> @Messages("profile.followers")</a></li>
                    <li><a href="@controllers.follower.routes.ViewFollower.initViewFollowingForm()"><span id="followerBadge"><span id="followerCount">@controllers.follower.ViewFollower.findNumberOfActiveFollowers(user.userId)</span></span> @Messages("profile.following")</a></li>
                    <li class="divider"></li>
                    <li><a href="@controllers.account.routes.Login.logout"><i class="fa fa-power-off"></i> @Messages("logout")</a></li>
                </ul>
            </li>
        </ul>
    </div>
    } else {
    <div id="header-nav" class="navbar-collapse collapse hidden-print">
        <ul class="nav navbar-nav">
            <li id="homeNav"><a href="@routes.Application.home()">Home</a></li>
            <li id="featuredNav"><a href="/#featured">Featured</a></li>
            <li id="latestNav"><a href="@controllers.recipe.routes.ViewRecipe.initListLatestRecipeForm()">@Messages("recipe.latest")</a></li>
            <li id="populardNav"><a href="@controllers.recipe.routes.ViewRecipe.initListPopularRecipeForm()">@Messages("recipe.popular")</a></li>
            <li id="aboutNav"><a href="/#about">About</a></li>
            <li id="contactNav"><a href="/#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@controllers.account.routes.Register.signup()">@Messages("signup.signup")</a></li>
            <li><a href="@controllers.account.routes.Login.loginModal()" data-toggle="modal" data-target="#modal">@Messages("signin.signin")</a></li>
        </ul>
    </div>
    }
}
