@main() {

    <h3>@Messages("signup.signup") - @Messages("confirm")</h3>

    <div class="form-actions">
        <a href="@routes.Application.index" class="btn btn-default">@Messages("back")</a>
    </div>
}
