@(signupForm: Form[_])

@import helper._
@import template._
@implicitFieldConstructor = @{ FieldConstructor(inputStyle.render) }

@scripts = {
	<script src="/javascripts/library/password.js" type="text/javascript"></script>
}

@main(null, null, scripts, true) {
	<div class="container margin-top-20">
		<div class="col-xs-12 col-sm-7 clearfix">
			<div class="rw-row w-title">
				<h1>@Messages("signup.signup")</h1>
			</div>

			<div class="rw-row bubble">
				@form(controllers.account.routes.Register.save) {

					@if(signupForm.hasGlobalErrors) {
						<p class="error">
							<span class="label label-danger">@signupForm.globalError.message</span>
						</p>
					}

					<fieldset>
						@inputText(
							signupForm("email"),
							'_label -> (Messages("email") + ":"),
							'class -> "form-control",
							'type -> "email"
						)
						@inputText(
							signupForm("lastName"),
							'_label -> (Messages("profile.lastName") + ":"),
							'class -> "form-control"
						)
						@inputText(
							signupForm("firstName"),
							'_label -> (Messages("profile.firstName") + ":"),
							'class -> "form-control"
						)
						@inputPassword(
							signupForm("password"),
							'_label -> (Messages("password") + ":"),
							'class -> "form-control"
						)
						@inputPassword(
							signupForm("confirmPassword"),
							'_label -> (Messages("confirm.password") + ":"),
							'class -> "form-control"
						)
					</fieldset>

					<div class="form-actions text-right">
						<input type="submit" class="margin-top-10 btn btn-primary" value="@Messages("signup.signup")">
						<a href="@routes.Application.index" class="btn btn-default">@Messages("back")</a>
					</div>
				}
			</div>
		</div>

		<div class="col-xs-12 col-sm-5 clearfix">
			<div class="w-title">
				<h2>Or sign in with these..</h2>
			</div>

			<div class="row">
				<div class="margin-top-05 col-sm-12">
					<a href="/authenticate/facebook" class="btn btn-block btn-social btn-facebook">
						<i class="fa fa-facebook"></i>
						Sign in with Facebook
					</a>
				</div>
				<div class="margin-top-05 col-sm-12">
					<a href="/authenticate/google" class="btn btn-block btn-social btn-google">
						<i class="fa fa-google-plus"></i> Sign in with Google
					</a>
				</div>
			</div>
		</div>
	</div>
}