@(user: User, passwordChange: Boolean, emailSent: Boolean)

@import helper._

@main(user) {
    <div class="col-xs-12 col-sm-12 clearfix">
        <div class="rw-row w-title">
            <h1>@Messages("signup.verify.account.title")</h1>
        </div>

        <div class="rw-row bubble">
            @if(emailSent) {
                @Messages("signup.verify_email.sent")</br>
            } else {
                @if(passwordChange) {
                    @Messages("signup.verify.account.requirement", "change/set your", "password")</br>
                } else {
                    @Messages("signup.verify.account.requirement", "use", Messages("title"))</br>
                }
                @Messages("signup.verify.account")
            }
        </div>
    </div>
}